{% extends 'siblhmantenimientoBundle::plantilla.html.twig' %}

{% block body -%}
    <h1>Listado de Donaciones</h1>
    <table class="records_list" border= "1">
        <thead>
            <tr>
                 <td><b>Codigo</b></td>
                 <td colspan = "4" align = "center"><b>Nombre Donante</b></td>
                 
                 
                <td align = "center"><b>Accion</b></td>
            </tr>
        </thead>
        <tbody>
            <tr>
       {% for donacion in donaciones_donantes%}
            
               <td><a href="{{ path('blhfrascorecolectado_new', { 'id': donacion.id }) }}">{{ donacion.id }}</a></td>
                <td>{{ donacion.fechaDonacion|date('d-m-Y')}}</td>
                <td>{{ donacion.nombre1 }}</td>
                <td>{{ donacion.nombre2 }}</td>
        
                <td>{{ donacion.apellido1 }}</td>
                <td>{{ donacion.apellido2 }}</td>
               
                <td>
                <ul>
                    <li>
                        <a href="{{ path('blhfrascorecolectado_new', { 'id': donacion.id })}}">Nueva donacion</a>
                    </li>
                    
                                       
                </ul>
                </td></tr>
        {% endfor %}
            

            
          
           
        </tbody>
    </table>

        
    {% endblock %}