{% extends 'siblhmantenimientoBundle::plantilla.html.twig' %}

{% block javascripts %}
    {{parent()}}
   <script type="text/javascript" src="{{ asset('bundles/siblhmantenimiento/js/BlhFrascoRecolectado/donaciones.js') }}" ></script>
{% endblock %}
   
{% block body -%}
 <link href="{{asset('bundles/jquery/jquery.jqGrid-4.5.4/css/ui.jqgrid.css')}}" rel="stylesheet"  type="text/css" media="all"/>  
 
 <script type="text/javascript" src="{{asset('bundles/jquery/jquery.jqGrid-4.5.4/js/i18n/grid.locale-es.js')}}"></script>
      <script type="text/javascript" src="{{asset('bundles/jquery/jquery.jqGrid-4.5.4/js/jquery.jqGrid.min.js')}}" ></script> 

    <h1>Listado de Donaciones</h1>
    <table id = "listado_donantes">
       <thead>
            <tr>
                <th>id</th>
                <th>FechaDonacion</th>
                 <th>Nombre</th>
                <th>Accion</th>
                
            </tr>
          
        </thead>
        <tbody>
            
       {% for donacion in donaciones_donantes%}
            <tr>
               <td><a href="{{ path('blhfrascorecolectado_new', { 'id': donacion.id }) }}">{{ donacion.id }}</a></td>
                <td>{{ donacion.fechaDonacion|date('d-m-Y')}}</td>
                 <td>{{ donacion.nombre1 }} {{ donacion.nombre2 }} {{ donacion.apellido1 }} {{ donacion.apellido2 }}</td>
               <td><a href="{{ path('blhfrascorecolectado_new', { 'id': donacion.id })}}"><font color="blue"><u>Registrar Donacion</u></font></a></td></tr>
        {% endfor %}
            

            
          
           
        </tbody>
    </table>

      <div id='pagerdonantes' ></div>
  
    {% endblock %}
