{% extends  'siblhmantenimientoBundle::plantilla.html.twig'%}

{% block javascripts %}
    {{parent()}}
    <script type="text/javascript" src="{{ asset('bundles/siblhmantenimiento/js/BlhFrascoRecolectado/listadoReportesLaboratorio.js') }}" ></script>
{% endblock %}

{% block body -%}
    
    <link href="{{asset('bundles/jquery/jquery.jqGrid-4.5.4/css/ui.jqgrid.css')}}" rel="stylesheet"  type="text/css" media="all"/> 
     <script type="text/javascript" src="{{asset('bundles/jquery/jquery.jqGrid-4.5.4/js/i18n/grid.locale-es.js')}}"></script>
      <script type="text/javascript" src="{{asset('bundles/jquery/jquery.jqGrid-4.5.4/js/jquery.jqGrid.min.js')}}" ></script>
{%set hospital = hospital%}       
<h1>Listado de reportes de laboratorio</h1>
    <div align='center'>
    <table id="reportesLaboratorio">
        <thead>
            <tr>
                <th>Reporte</th>
                <th>Acción</th>
            </tr>
             <tr>
                <th>Reporte</th>
                <th>Acción</th>
            </tr>
             <tr>
                <th>Reporte</th>
                <th>Acción</th>
            </tr>
            <tr>
                <th>Reporte</th>
                <th>Acción</th>
            </tr>
            <tr>
                <th>Reporte</th>
                <th>Acción</th>
            </tr>
            <tr>
                <th>Reporte</th>
                <th>Acción</th>
            </tr>
            <tr>
                <th>Reporte</th>
                <th>Acción</th>
            </tr>
            <tr>
                <th>Reporte</th>
                <th>Acción</th>
            </tr>
            <tr>
                <th>Reporte</th>
                <th>Acción</th>
            </tr>
            <tr>
                <th>Reporte</th>
                <th>Acción</th>
            </tr>
            <tr>
                <th>Reporte</th>
                <th>Acción</th>
            </tr>
        </thead>
        <tbody>
     
       <tr> 
          <td>Vencimiento de leche prealmacenada </td> 
         <td><a href="{{ path('mostrarfrascos',{'report_name':'LecheDonada','report_format':'pdf','nombre': hospital[0].nombre})}}" target=”_blank”> <font color="blue"><u>Generar Reporte</u></font></a></td></tr> 
       <tr> 
          <td>Vencimiento de leche pasteurizada</td> 
          <td><a href="{{ path('mostrar_frascosp',{'report_name':'VencimientoPasteurizada','report_format':'pdf','nombre': hospital[0].nombre,'id': idp})}}" target=”_blank”> <font color="blue"><u>Generar Reporte</u></font></a></td></tr>
        <tr> 
          <td>Leche despachada segun solicitudes agrupadas</td> 
          <td><a href="{{ path('LecheDespachadaSolicitudes',{'report_name':'reportesEstudiantes','report_format':'pdf'})}}" target=”_blank”> <font color="blue"><u>Generar Reporte</u></font></a></td></tr>
        <tr> 
          <td>Resultados de analisis de laboratorio</td> 
          <td><a href="{{ path('AnalisisLaboratorio') }}" target=”_blank”><font color="blue"><u>Generar Reporte</u></font></a></td></tr>
         <tr> 
          <td>Frascos de leche combinados y pasteurizados</td> 
          <td><a href="{{ path('CombinadosPasteurizados',{'report_name':'reportesEstudiantes','report_format':'pdf'})}}" target=”_blank”> <font color="blue"><u>Generar Reporte</u></font></a></td></tr>
          <tr> 
          <td>Temperatura de pasteurizacion</td> 
          <td><a href="{{ path('Temperatura_Pasteurizacion',{'report_name':'reportesEstudiantes','report_format':'pdf'})}}" target=”_blank”> <font color="blue"><u>Generar Reporte</u></font></a></td></tr>
           <tr> 
          <td>Temperatura de enfriamiento</td> 
          <td><a href="{{ path('TemperaturaEnfriamiento',{'report_name':'reportesEstudiantes','report_format':'pdf'})}}" target=”_blank”> <font color="blue"><u>Generar Reporte</u></font></a></td></tr>
            <tr> 
          <td>Resultados de control de calidad microbiologico</td> 
          <td><a href="{{ path('ControlMicrobiologico') }}" target=”_blank”><font color="blue"><u>Generar Reporte</u></font></a></td></tr>
             <tr> 
          <td>Leche descartada durante el proceso</td> 
          <td><a href="{{ path('LecheDescartada',{'report_name':'reportesEstudiantes','report_format':'pdf'})}}" target=”_blank”> <font color="blue"><u>Generar Reporte</u></font></a></td></tr>
              <tr> 
          <td>frascos prealmacenados y pasteurizados aprobados/reprobados</td> 
          <td><a href="{{ path('AprobadosReprobados',{'report_name':'reportesEstudiantes','report_format':'pdf'})}}" target=”_blank”> <font color="blue"><u>Generar Reporte</u></font></a></td></tr>
        </tbody>
    </table>
     </div>

     
    {% endblock %}

