{% extends 'siblhmantenimientoBundle::plantilla.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
        <link href="{{ asset('bundles/siblhmantenimiento/css/form.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block javascripts %}
    {{parent()}}
    <script type="text/javascript" src="{{ asset('bundles/siblhmantenimiento/js/BlhFrascoRecolectado/new.js') }}" ></script>

{% endblock %}
{% block body -%}
    <h1>Registro de leche donada</h1>

  <FORM> 
   <table align = "center">
       
       <tr>
       <td>Codigo de la Donante</td>
        <td>
        <INPUT type=text disabled="disabled" size=30 readonly="readonly" value= " {{ datos_donacion[0].codigo_donante }} "></td>
        <td width= "70"></td>
        <td width= "70"></td>
        <td>Fecha Donacion</td>
        <td colspan = "4" align = "right">
        <INPUT type=text disabled="disabled" size=30 readonly="readonly" value=" {{ datos_donacion[0].fechaDonacion|date('d-m-Y') }} "></td>
       
       
       </tr>  
    <tr>
        <td>Nombre de la Donante</td>
        <td>
        <INPUT type=text name="nombre" disabled="disabled" size=30 readonly="readonly" value= "{{ datos_donacion[0].nombre1}}&nbsp;{{ datos_donacion[0].nombre2  }}&nbsp;{{ datos_donacion[0].apellido1 }}&nbsp;{{ datos_donacion[0].apellido2 }}"></td>
       
    </tr>        
    </table>
          
    </FORM>      
    
    
 {#   {{ form(form) }}  #}
    
     {{ form_start(form) }}
    {{ form_errors(form) }}
    <table align = "center">
        <tr style="visibility:hidden">
    <td> {{ form_label(form.idDonacion) }}</td>
    <td> {{ form_widget(form.idDonacion) }}</td>
    <td> {{ form_label(form.idDonante) }}</td>
       
    <td> {{ form_widget(form.idDonante) }}</td>    
        </tr>
        <tr><td height=10  ></td></tr>     
    <tr>
    <td><font color="red" >*</font>
        {{ form_label(form.volumenRecolectado, 'Volumen en ml') }}</td>
    <td>{{ form_widget(form.volumenRecolectado,  { 'attr': {'title': 'Volumen entre 1 y 500 ml', 'onKeyPress':"return soloNumeros(event);"} }) }}</td>
    <td>{{ form_label(form.onzRecolectado, 'Volumen en onz') }}</td>
    <td>{{ form_widget(form.onzRecolectado, {'attr':{'readonly': 'true', 'title':'Dar clic para obtener resultado' } }) }}</td>    
        </tr>
        <tr><td height=10  ></td></tr>     
      <tr>
    <td><font color="red" >*</font>
        {{ form_label(form.formaExtraccion, 'Forma de extraccion') }}</td>
    <td>{{ form_widget(form.formaExtraccion) }}</td>
    <td align = "center"><font color="red" >*</font>
        {{ form_label(form.observacionFrascoRecolectado, 'Observaciones') }}</td>
    <td>{{ form_widget(form.observacionFrascoRecolectado,  { 'attr': {'size': '50'} }) }}</td>    
        </tr>   
        <tr><td height=10  ></td></tr>     
        <tr>
    <td style="visibility:hidden">
        {{ form_label(form.idEstado) }}</td>
        <td style="visibility:hidden">
        {{ form_widget(form.idEstado) }}</td>
      
        </tr>   
        <tr>
            <td align = "left"><font color="red" size = "2" face = "Comic Sans MS">* Campos requeridos</font></td> </tr>     
            
        <tr><td align = "center" colspan = 4><input id = "button"  type="submit"  value="Guardar"/>
            <input id = "boton1" type="button" value="Regresar" onClick=' window.location.href="{{ path('_NewFrascoRecolectado') }}" '></td></tr>

    </table> 
{{ form_end(form) }}
    {#   <table align = "center">
    <tr><td>
        
        <a href="{{ path('blhfrascorecolectado') }}">
            Ver listado
        </a>
  </td></tr></table> $ #}
    
{% endblock %}
