{% extends 'siblhmantenimientoBundle::plantilla.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
        <link href="{{ asset('bundles/siblhmantenimiento/css/form.css') }}" rel="stylesheet" type="text/css" />
 
{% endblock %}
        
 {% block javascripts %}   
{{parent()}}
<script type="text/javascript" src="{{ asset('bundles/siblhmantenimiento/js/BlhGrupoSolicitud/despachoGrupos.js') }}" ></script>

{% endblock %}


{% block body -%}
    <h1>Despacho grupos de solicitudes</h1>
<FORM method="POST" action="{{path("frascosprocesados_solicitudes")}}">
 <input type = "hidden" id="suma_aux" value = "0"/>
 {%set volumentotal = volumentotal%}    
 {#{%set tamanio1 = total_volumen | length%}     
 {%set volumentotal = 0%}      
    
   {% for i in 0 ..(tamanio1-1)%}  
    {% set volumentotal = volumentotal+total_volumen[i].volumen%}   
     {% endfor %}#}
    
<table align = "center" width = "70%"  >

<tr>
       <td width=10 align = "left"><b>Grupo</b></td>
                <td width = "120" align = "left">
                <INPUT type=text STYLE="text-align:center" name="nombre" disabled="disabled" size=25 readonly="readonly" value= "{{ grupo.codigoGrupoSolicitud}}">
               </td>
               
        <td width=10 align = "left"><b>Total Volumen a despachar(ml)</b></td>
                <td width = "120" align = "left">
                <INPUT type=text STYLE="text-align:center" name="nombre" id ="vol_despachar" disabled="disabled" size=25 readonly="readonly" value= "{{ volumentotal[0].total|number_format(2, '.', ',')}}">
               </td>
                                
       </tr>
      <tr><td  align = "right" height=40  ></td></tr>
      
      </table>   
    {%set solicitudes_grupo = solicitudes_grupo%}  
     {% set cantidad_solicitudes = solicitudes_grupo | length%}
     
    <table align = "center" bordercolor='gray' border=1>
         <thead>
            <tr>
                <th>Solicitud</th>
                <th>Acides Necesaria</th>
                <th>Calorias Necesarias</th>           
            </tr>
            </thead>
     {% for i in 0 ..(cantidad_solicitudes-1)%}
    <tr>
                <td width = "120" align = "left">
                <INPUT type=text STYLE="text-align:center" name="nombre" disabled="disabled" size=25 readonly="readonly" value= "{{ solicitudes_grupo[i].codigoSolicitud}}">
               </td>
                <td width = "120" align = "left">
                <INPUT type=text STYLE="text-align:center" name="nombre" disabled="disabled" size=25 readonly="readonly" value= "{{ solicitudes_grupo[i].acidezNecesaria}}">
               </td>
               <td width = "120" align = "left">
                <INPUT type=text STYLE="text-align:center" name="nombre" disabled="disabled" size=25 readonly="readonly" value= "{{ solicitudes_grupo[i].caloriasNecesarias}}">
               </td>
      </tr>
         
 
    {%endfor%}
      
 </table>
    
    <table align=center>
         <tr>
          {% for i in 0 ..(cantidad_solicitudes-1)%}
          <td width = "120" align = "left">
              <INPUT type=text STYLE="visibility:hidden" name="ids_solicitudes[]" disabled="disabled" size=25 readonly="readonly" value= "{{ solicitudes_grupo[i].id}}">
          </td>
          {%endfor%}
      </tr>
        </table>
    <p>
    <p>
   {%set frascosp = frascosp%}    
   {%set tamanio = frascosp | length%}      
  {#  {%set volumen_despachado = volumen_despachado%} #}   
 
{% if tamanio != 0 %}                       
 <table border=1 align = "center" bordercolor="#2e6e9e"  >
     <thead>
            <tr bgcolor="#2b8dd6">
<<<<<<< HEAD
                <th style="visibility:hidden" border=0>id</th>
=======
                <th style="visibility:hidden" >id</th>
>>>>>>> df578e096cc22d8ab13461c63781353f109c1950
                <th>Seleccionar</th>
                <th>Código frasco</th>
                <th>Acidez</th>
                <th>Calorias</th>
                <th>Observacion</th>
                <th>Volumen disponible(ml)</th>
                <th>Volumen a despachar(ml)</th>                
            </tr>
            </thead>
            <tbody>
            
        {% for i in 0 ..(tamanio-1)%}
                <tr>
                <td style="visibility:hidden" border=0>{{ frascosp[i][0]}}</td>
              <td><input type="checkbox" name="idsdespachar[]" id="idsdespachar_{{ frascosp[i][0]}}" value="{{ frascosp[i][0]}}"/></td>
                <td>{{ frascosp[i][1]}}</td>
                <td>{{ frascosp[i][2] }}</td>                      
                <td>{{frascosp[i][3]}}</td>
                <td>{{ frascosp[i][4]}}</td>                  
                 <td><input name="vldisponible[]" id= "vldisponible_{{frascosp[i][0]}}"  type=text value ="{{frascosp[i][5]|number_format(2, '.', ',')}}" disabled=disabled STYLE="text-align:center"/> </td>  
                <td><input name="vldespachar[]" id="vldespachar_{{frascosp[i][0]}}"  type=text value="0" onkeypress='javascript:return soloNumeros(event);'/></td>   
                </tr>
        {% endfor %}
          
        </tbody>
        
    </table>
    
    
   <table align = "center" width = "70%" > 
        
  <tr><td style="visibility:hidden"><INPUT  name="grupo" id="grupo" type=text value="{{grupo.id}}" size=10 ></td></tr>      
 <td align= 'center'><INPUT  id='lote' name="Despachar" type=submit title="Despachar" value="Despachar"><input id = "boton" type="button" value="Regresar" onClick=' window.location.href="{{ path('_NewDespacho' )}}"'></td>

</table>
{%endif%}
    
{% if tamanio == 0   %} 
     
    <table table border=1 align = "center" bordercolor="#2e6e9e"   >
        <thead>
              <tr bgcolor="#2b8dd6">
                <th style="visibility:hidden" border=0>id</th>
                <th>Seleccionar</th>
                <th>Código frasco</th>
                <th>Acidez</th>
                <th>Calorias</th>
                <th>Observacion</th>
                <th>Volumen disponible(ml)</th>
                <th>Volumen a despachar(ml)</th>                
            </tr>
            </thead>
            <tbody>
                <tr style="visibility:hidden"><td align = "right" height=40  ></td></tr>
                </tbody>

    </table>     
    <table  align='center'>
              <tr><td align = "right" height=40  ></td></tr>
              <tr><td><input id = "boton" type="button" value="Regresar" onClick=' window.location.href="{{ path('_NewDespacho' )}}"'></td></tr>
    </table>  
                
                        
         
     {%endif%}  
           
          </FORM> 
{% endblock %}
