{% extends  'siblhmantenimientoBundle::plantilla.html.twig'%}

{% block javascripts %}
    {{parent()}}
    <script type="text/javascript" src="{{ asset('bundles/siblhmantenimiento/js/BlhGrupoSolicitud/seleccionGrupoDespachar.js') }}" ></script>
{% endblock %}
{% block body -%}
      <link href="{{asset('bundles/jquery/jquery.jqGrid-4.5.4/css/ui.jqgrid.css')}}" rel="stylesheet"  type="text/css" media="all"/>  
     <script type="text/javascript" src="{{asset('bundles/jquery/jquery.jqGrid-4.5.4/js/i18n/grid.locale-es.js')}}"></script>
      <script type="text/javascript" src="{{asset('bundles/jquery/jquery.jqGrid-4.5.4/js/jquery.jqGrid.min.js')}}" ></script>
    <h1>Listado de grupos disponibles para despaho</h1>

    <table id="listadoGrupos">
        <thead>
            <tr>
                <th>Codigo&nbsp;grupo</th>
                <th>Acción</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.codigo }}</td>
                <td><a href="{{ path('despacho_grupos', { 'id': entity.id }) }}"><font color="blue"><u>Despachar</u></font></a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endblock %}
