{% extends 'siblhmantenimientoBundle::plantilla.html.twig' %}

{% block javascripts %}
    {{parent()}}
   <script type="text/javascript" src="{{ asset('bundles/siblhmantenimiento/js/BlhBitacora/index.js') }}" ></script>
{% endblock %}
  
{% block body -%}
 <link href="{{asset('bundles/jquery/jquery.jqGrid-4.5.4/css/ui.jqgrid.css')}}" rel="stylesheet"  type="text/css" media="all"/> 
 
 <script type="text/javascript" src="{{asset('bundles/jquery/jquery.jqGrid-4.5.4/js/i18n/grid.locale-es.js')}}"></script>
      <script type="text/javascript" src="{{asset('bundles/jquery/jquery.jqGrid-4.5.4/js/jquery.jqGrid.min.js')}}" ></script>
 <script type="text/javascript" src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
      <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
    
 
    <h1>Bitacora de acciones del usuario</h1>
          {%set tamanio1 = entities | length %}
        {% if tamanio1 >= 1 %}

    <table id ='records_list'>
        <thead>
            <tr>
            
                <th>Fecha&nbsp;Accion</th>
                <th>Codigo</th>
                <th>Tabla</th>
                <th>Usuario</th>
                <th>Accion</th>
                <th>Detalle</th>
              
            </tr>
        </thead>
        <tbody>
              {% for entity in entities %}
            <tr>
             
                <td>{% if entity.fechaAccion %}{{ entity.fechaAccion|date('d-m-Y') }}{% endif %}</td>
                <td>{{ entity.codigo }}</td>
                <td>{{ entity.tabla }}</td>
                <td>{{ entity.usuario }}</td>
                <td>{{ entity.accion }}</td>
                 <td>{{ entity.detalle }}</td>
               
            </tr>
        {% endfor %}

        </tbody>
    </table>
   {% else %}
            <div>Su consulta no obtuvo ningun resultado</div>
   {% endif %}
<div id='pagerbitacora' ></div>
    {% endblock %}