{% extends '::base.html.twig' %}

{% block body -%}
    <h1>BlhBitacora</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Fechaaccion</th>
                <td>{{ entity.fechaAccion|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Codigo</th>
                <td>{{ entity.codigo }}</td>
            </tr>
            <tr>
                <th>Tabla</th>
                <td>{{ entity.tabla }}</td>
            </tr>
            <tr>
                <th>Usuario</th>
                <td>{{ entity.usuario }}</td>
            </tr>
            <tr>
                <th>Accion</th>
                <td>{{ entity.accion }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('blhbitacora') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('blhbitacora_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
