{% extends '::base.html.twig' %}

{% block body -%}
    <h1>BlhReceptor list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Codigoreceptor</th>
                <th>Fecharegistroblh</th>
                <th>Procedencia</th>
                <th>Estadoreceptor</th>
                <th>Edaddias</th>
                <th>Pesoreceptor</th>
                <th>Duracioncpap</th>
                <th>Clasificacionlubchengo</th>
                <th>Diagnosticoingreso</th>
                <th>Duracionnpt</th>
                <th>Apgar</th>
                <th>Edadgestfur</th>
                <th>Duracionventilacion</th>
                <th>Edadgestballard</th>
                <th>Pc</th>
                <th>Tallaingreso</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('blhreceptor_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.codigoReceptor }}</td>
                <td>{% if entity.fechaRegistroBlh %}{{ entity.fechaRegistroBlh|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.procedencia }}</td>
                <td>{{ entity.estadoReceptor }}</td>
                <td>{{ entity.edadDias }}</td>
                <td>{{ entity.pesoReceptor }}</td>
                <td>{{ entity.duracionCpap }}</td>
                <td>{{ entity.clasificacionLubchengo }}</td>
                <td>{{ entity.diagnosticoIngreso }}</td>
                <td>{{ entity.duracionNpt }}</td>
                <td>{{ entity.apgar }}</td>
                <td>{{ entity.edadGestFur }}</td>
                <td>{{ entity.duracionVentilacion }}</td>
                <td>{{ entity.edadGestBallard }}</td>
                <td>{{ entity.pc }}</td>
                <td>{{ entity.tallaIngreso }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('blhreceptor_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('blhreceptor_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('blhreceptor_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
