{% extends 'siblhmantenimientoBundle::plantilla.html.twig' %}

{% block javascripts %}
    {{parent()}}
   <script type="text/javascript" src="{{ asset('bundles/siblhmantenimiento/js/BlhReceptor/index.js') }}" ></script>
{% endblock %}
   
{% block body -%}
 <link href="{{asset('bundles/jquery/jquery.jqGrid-4.5.4/css/ui.jqgrid.css')}}" rel="stylesheet"  type="text/css" media="all"/>  
 
 <script type="text/javascript" src="{{asset('bundles/jquery/jquery.jqGrid-4.5.4/js/i18n/grid.locale-es.js')}}"></script>
      <script type="text/javascript" src="{{asset('bundles/jquery/jquery.jqGrid-4.5.4/js/jquery.jqGrid.min.js')}}" ></script> 

  
    <h1>Receptores</h1>

<table id = "listado_receptores">
        <thead>
            <tr>
                <th>Codigo</th>
                <th>Nombre</th>
                <th>Fecha&nbsp;de&nbsp;registro</th>
                <th>Procedencia</th>
                <th>Estado&nbsp;de&nbsp;receptor</th>
                <th>Edad&nbsp;en&nbsp;dias</th>
                <th>Pesoreceptor</th>
                <th>Talla&nbsp;de&nbsp;ingreso</th>
                <th>Accion</th></tr>
        </thead>
        <tbody>
        {% for entity in receptores_registrados %}
            <tr>
                <td>{{ entity.codigoReceptor }}</td>
                <td>{{ entity.nombre1 }} {{ entity.nombre2 }} {{ entity.nombre3 }} {{ entity.apellido1 }} {{ entity.apellido2 }}</td>
                <td>{% if entity.fechaRegistroBlh %}{{ entity.fechaRegistroBlh|date('Y-m-d') }}{% endif %}</td>
                <td>{{ entity.procedencia }}</td>
                <td>{{ entity.estadoReceptor }}</td>
                <td>{{ entity.edadDias }}</td>
                <td>{{ entity.pesoReceptor|number_format(2, '.', ',') }}</td>
                <td>{{ entity.tallaIngreso|number_format(2, '.', ',') }}</td>
                <td><a href="{{ path('blhreceptor_edit', { 'id': entity.id }) }}"><font color="blue"><u>Editar</u></font></a></td></tr>
        {% endfor %}
        </tbody>
    </table>

        <div id='pagerreceptores' ></div>
    {% endblock %}