{% extends  'siblhmantenimientoBundle::plantilla.html.twig'%}

{% block javascripts %}
    {{parent()}}
    <script type="text/javascript" src="{{ asset('bundles/siblhmantenimiento/js/BlhReceptor/listadoReportesReceptores.js') }}" ></script>
{% endblock %}

{% block body -%}
    
    <link href="{{asset('bundles/jquery/jquery.jqGrid-4.5.4/css/ui.jqgrid.css')}}" rel="stylesheet"  type="text/css" media="all"/> 
     <script type="text/javascript" src="{{asset('bundles/jquery/jquery.jqGrid-4.5.4/js/i18n/grid.locale-es.js')}}"></script>
      <script type="text/javascript" src="{{asset('bundles/jquery/jquery.jqGrid-4.5.4/js/jquery.jqGrid.min.js')}}" ></script>
      
<h1>Listado de reportes de receptores</h1>
    <div align='center'>
    <table id="reportesReceptores">
        <thead>
            <tr>
                <th>Reporte</th>
                <th>Acci贸n</th>
            </tr>
             <tr>
                <th>Reporte</th>
                <th>Acci贸n</th>
            </tr>
             <tr>
                <th>Reporte</th>
                <th>Acci贸n</th>
            </tr>
            <tr>
                <th>Reporte</th>
                <th>Acci贸n</th>
            </tr>
        </thead>
        <tbody>
     
       <tr> 
          <td>Censo de registro de receptores</td> 
          <td><a href="{{ path('CensoReceptores') }}"><font color="blue"><u>Generar Reporte</u></font></a></td></tr>
       <tr> 
          <td>Leche despachada por receptor</td> 
          <td><a href="{{ path('LecheReceptor') }}"><font color="blue"><u>Generar Reporte</u></font></a></td></tr>
        <tr> 
          <td>Avance nutricional y complicaciones</td> 
          <td><a href="{{ path('AvanceReceptor') }}"><font color="blue"><u>Generar Reporte</u></font></a></td></tr>
        <tr> 
          <td>Informacion especifica de receptor</td> 
          <td><a href="{{ path('Informacion_Receptor') }}"><font color="blue"><u>Generar Reporte</u></font></a></td></tr>
        
        </tbody>
    </table>
     </div>

      
    {% endblock %}


