{% extends  'siblhmantenimientoBundle::plantilla.html.twig'%}

{% block javascripts %}
    {{parent()}}
    <script type="text/javascript" src="{{ asset('bundles/siblhmantenimiento/js/BlhReceptor/mantenimientoReceptor.js') }}" ></script>
{% endblock %}

{% block body -%}
    
    <link href="{{asset('bundles/jquery/jquery.jqGrid-4.5.4/css/ui.jqgrid.css')}}" rel="stylesheet"  type="text/css" media="all"/> 
     <script type="text/javascript" src="{{asset('bundles/jquery/jquery.jqGrid-4.5.4/js/i18n/grid.locale-es.js')}}"></script>
      <script type="text/javascript" src="{{asset('bundles/jquery/jquery.jqGrid-4.5.4/js/jquery.jqGrid.min.js')}}" ></script>
      
<h1>Listado de mantenimientos de receptor</h1>
    <div align='center'>
    <table id="mantenimientoReceptor">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Acción</th>
            </tr>
             <tr>
                <th>Nombre</th>
                <th>Acción</th>
            </tr>
             <tr>
                <th>Nombre</th>
                <th>Acción</th>
            </tr>
        </thead>
        <tbody>
     
       <tr> 
          <td>Ingreso de receptores</td> 
         <td><a href="{{ path('blhreceptor')}}"><font color="blue"><u>Mantenimiento</u></font></a></td></tr>
       <tr> 
          <td>Seguimiento de receptores</td> 
         <td><a href="{{ path('blhseguimientoreceptor')}}"><font color="blue"><u>Mantenimiento</u></font></a></td></tr>
        <tr> 
          <td>Egreso de receptore</td> 
          <td><a href="{{ path('blhegresoreceptor')}}"><font color="blue"><u>Mantenimiento</u></font></a></td></tr>
        </tbody>
    </table>
     </div>

      
    {% endblock %}