{% extends 'siblhmantenimientoBundle::plantilla.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
        <link href="{{ asset('bundles/siblhmantenimiento/css/form.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}
        {% block javascripts %}

{{parent()}}

<script type="text/javascript" src="{{ asset('bundles/siblhmantenimiento/js/BlhReceptor/new.js') }}" ></script>
       
{% endblock %}

{% block body -%}



<script type="text/javascript">
function edad()
 {
var d = new Date();
var hoy = d.getDate();
//anios = hoy - fecha;
//dias = anios * 365;
alert(hoy);
return  hoy;
 }
 </script>
 
 
 
  <script type="text/javascript">
function prueba(visible, id)
 {

var elemento = document.getElementById(id);
elemento.style.visibility = visible ? "visible" : "hidden";
 }
</script>    
    <h1>Registro de Receptor</h1>
    
    <FORM> 
   <table align = "center" >
       
       <tr>
       <td align = "right" colspan = "5">Numero de paciente</td>
        <td align = "right" colspan = "2">
        <INPUT type=text disabled="disabled" size=10 readonly="readonly" value= " {{ datos_pacientes[0].identificador }} "></td></tr>
      <tr>
       <td width= "130">Nombre paciente</td>
        <td width= "70">
         <INPUT name = "label2" type=text disabled="disabled" size=30 readonly="readonly" value= "{{ datos_pacientes[0].nombre1}}&nbsp;{{ datos_pacientes[0].nombre2  }}&nbsp;{{ datos_pacientes[0].nombre3  }}&nbsp;{{ datos_pacientes[0].apellido1  }} "></td>
     <td width= "30">Sexo</td>
        <td width= "30">
         <INPUT name = "label3" type=text disabled="disabled" size=15 readonly="readonly" value= "{{ sexo[0].nombre}} "></td>
         <td  align = "right">Registro</td>
        <td align = "right">
         <INPUT name = "label4" type=text disabled="disabled" size=10 readonly="readonly" value= "{{ numexp[0].numero}} "></td></tr>        
      <tr>
          <td width= "130">Direccion</td>
        <td width= "70" colspan = "5" align = "left">
         <INPUT type=text disabled="disabled" size=100 readonly="readonly" value= "{{ datos_pacientes[0].direccion}}"></td>
      </tr> 
      <tr>
      <td width= "130">Fecha Nacimiento</td>
        <td width= "70"  align = "left">
         <INPUT id = "1" type= text disabled="disabled" size= 9  readonly="readonly" value= "{{ datos_pacientes[0].fechaNacimiento|date('d-m-Y') }}"></td>
      </tr> 
   
   </table>
     
</form>

    {{ form_start(form) }}
    {{ form_errors(form) }}
    <table align = "center"  WIDTH = "90%" >
        <tr style="visibility:hidden">
        <td align = left>
        {{ form_label(form.idPaciente) }}
        {{ form_widget(form.idPaciente) }} 
        </td>
         <td colspan = 3 align = left><font color="red">*</font>
        {{ form_label(form.idBancoDeLeche) }}
        {{ form_widget(form.idBancoDeLeche, {'attr':{'required': 'true'} }) }} </td>  
    </tr>
       
  
    
    
    
    </table >
    
       <table align = "center"  WIDTH = "87%" border=0>
            <tr>
    <td align = left><font color="red">*</font>
        {{ form_label(form.fechaRegistroBlh,'Fecha de registro') }} </td>
        <td align = left>
        {{ form_widget(form.fechaRegistroBlh, {'attr':{'title': 'Dar clic y seleccionar fecha de registro'} }) }} </td>
        
    <td align = left><font color="red">*</font>
        {{ form_label(form.edadDias,'Edad en Dias') }}</td>
    <td align = left>
        {{ form_widget(form.edadDias, {'attr':{'readonly': 'true'} }) }} </td>
   
    <td align = left>
        {{ form_label(form.procedencia,'Procedencia') }}</td>
   <td align = left>
        {{ form_widget(form.procedencia) }} </td></tr>
   <tr><td height=10  ></td></tr>
        <tr><td align = left><font color="red">*</font>
        {{ form_label(form.edadGestFur, 'Edad Gestacional Fur') }} </td><td align = left>
        {{ form_widget(form.edadGestFur,  { 'attr': {'title': 'Entre 24 a 42 Semanas', 'onKeyPress':"return soloNumerosEnteros(event);"} }) }} </td> 
                    
       <td align = left><font color="red">*</font>
        {{ form_label(form.pesoReceptor, 'peso al nacer') }}</td><td align = left>
        {{ form_widget(form.pesoReceptor,  { 'attr': {'title': 'Peso entre 500 a 5000 gramos', 'onKeyPress':"return soloNumeros(event);"} }) }} </td> 
           
       <td align = left><font color="red" >*</font>
        {{ form_label(form.tallaIngreso, 'Talla al nacer') }} </td><td align = left>
        {{ form_widget(form.tallaIngreso,  { 'attr': {'title': 'Talla entre 25 a 55 cm', 'onKeyPress':"return soloNumeros(event);"} }) }} </td></tr>
          <tr><td height=10  ></td></tr>
       <tr><td align = left><font color="red">*</font>
        {{ form_label(form.pc, 'Perimetro Cefalico') }}</td><td align = left>
   
        {{ form_widget(form.pc,  { 'attr': {'title': 'entre 20 y 40 cm', 'onKeyPress':"return soloNumerosEnteros(event);"} }) }} </td> 
                   
       <td align = left><font color="red">*</font>

        {{ form_label(form.apgarPrimerMinuto, 'APGAR al primer minuto') }} </td><td align = left>
                  
        {{ form_widget(form.apgarPrimerMinuto,  { 'attr': {'title': 'Ingrese APGAR al primer minuto, entre 0 y 9', 'onKeyPress':"return soloNumeros(event);"} }) }} </td> 
       
         <td align = left><font color="red">*</font>

        {{ form_label(form.apgarQuintoMinuto,'APGAR al quinto minuto') }} </td><td align = left>
                  
        {{ form_widget(form.apgarQuintoMinuto,  { 'attr': {'title': 'Ingrese APGAR al quinto minuto, entre 0 y 10', 'onKeyPress':"return soloNumeros(event);"} }) }} </td></tr> 
         
       
 <tr><td height=10  ></td></tr>                  
          <tr>

       <td align = left><font color="red">*</font>
        {{ form_label(form.edadGestBallard, 'Edad Gestacional Ballard') }} </td><td align = left>
        {{ form_widget(form.edadGestBallard,  { 'attr': {'title': 'Entre 20 a 42 Semanas', 'onKeyPress':"return soloNumerosEnteros(event);"} }) }} </td>

       
        
           <td align = left colspan = 4><font color="red">*</font>
               <form>
              <b>  Clasificacion Lubchenco  </b>
               <input type="radio" name="group1" id="2" value="PEG"> PEG
               <input type="radio" name="group1" id="3" value="AEG">AEG
               <input type="radio" name="group1" id="4" value="GEG">GEG
               </form>
           
           </td></tr>
           <tr><td height=10  ></td></tr>
           
           
           
                        
            <tr>
           <td align = left >
        <label>Ventilacion mecanica:</label></td><td align = left>
        <input type="radio" name="group2" value="si" onClick="prueba(true, 'ventilacion');prueba(true, 'ventilacion1');"> Si
        <input type="radio" name="group2" value="no" onClick="prueba(false, 'ventilacion');prueba(false, 'ventilacion1');"> No<br></td>
 <td align = left id= "ventilacion" style="visibility:hidden"> 

        {{ form_label(form.duracionVentilacion) }}</td><td align = left id= "ventilacion1" style="visibility:hidden">  
        {{ form_widget(form.duracionVentilacion,  { 'attr': {'value': 0,  'title': 'Dias de ventilacion mecanica, entre 0 y 99', 'onKeyPress':"return soloNumerosEnteros(event);"} }) }} </td> 
    </tr>
       
       <tr><td height=10  ></td></tr>
    <tr>
               
        <td align = left>
        
          <label>CPAP</label> </td><td align = left>
        <input type="radio" name="group3" value="si" onClick="prueba(true, 'cpap');prueba(true, 'cpap1');"> Si
        <input type="radio" name="group3" value="no" onClick="prueba(false, 'cpap'); prueba(false, 'cpap1');"> No<br></td>
 <td  id= "cpap" style="visibility:hidden" align = left> 

        {{ form_label(form.duracionCpap, 'Duracion de CPAP Nasal') }}</td><td align = left id= "cpap1" style="visibility:hidden">
        {{ form_widget(form.duracionCpap,  { 'attr': {'value': 0, 'title': 'Dias entre 0 y 50', 'onKeyPress':"return soloNumerosEnteros(event);"} }) }} </td>         
    
 
    </tr>
    
       <tr><td height=10  ></td></tr>
       <tr>
        <td align = left>
        
          <label>Uso de nutricion parenteral</label></td><td align = left>
        <input type="radio" name="group4" value="si" onClick="prueba(true, 'npt');prueba(true, 'npt1');"> Si
        <input type="radio" name="group4" value="no" onClick="prueba(false, 'npt');prueba(false, 'npt1');"> No<br></td>
 <td align = left id= "npt" style="visibility:hidden"> 

        {{ form_label(form.duracionNpt) }}</td><td align = left id= "npt1" style="visibility:hidden">

        {{ form_widget(form.duracionNpt, { 'attr': {'value': 0, 'title': 'Dias entre 0 y 50', 'onKeyPress':"return soloNumerosEnteros(event);"} }) }} </td> 
    <td style="visibility:hidden"><font color="red">*</font>
        {{ form_label(form.estadoReceptor,'Estado') }}</td><td style="visibility:hidden" align = left>
        {{ form_widget(form.estadoReceptor,  { 'attr': {'value': 'Activo'} }) }} </td>         
    </tr>
       <tr><td height=10  ></td></tr>
       
    <tr>
        <td align = left><font color="red" >*</font>
        {{ form_label(form.diagnosticoIngreso) }}</td><td align = left>
        {{ form_widget(form.diagnosticoIngreso,  { 'attr': {'size': '50'} }) }}  </td>   
        
          <td style="visibility:hidden" align = left colspan = 3>
        {{ form_label(form.clasificacionLubchengo, 'cl') }}
        {{ form_errors(form.clasificacionLubchengo) }}
        {{ form_widget(form.clasificacionLubchengo,  { 'attr': {'size': '3'} }) }}  </td>       
   
        <td colspan = '3' align = 'left' style="visibility:hidden">
        {{ form_label(form.codigoReceptor) }}
        {{ form_errors(form.codigoReceptor) }}
        {{ form_widget(form.codigoReceptor) }}
         </td>
    </tr>
   <tr><td colspan =2 align = "left"><font color="red" size = "2" face = "Comic Sans MS">* Campos requeridos</font>   </td><tr>

     <tr>  <td colspan = 6 align = center><input id = "button"  type="submit"  value="Guardar"/>
          <input id = "boton1" type="button" value="Regresar" onClick=' window.location.href="{{ path('_NewReceptor') }}" '>

         </td>
     
     </tr>
   
              
       </table> 
    
    
    
    
      {{ form_end(form) }}
    
     
   {#  <table align = "center">
        <tr><td>
        <a href="{{ path('blhreceptor') }}">
           Ver listado</a>
        </td></tr></table> #}
     
{% endblock %}
