{% extends 'siblhmantenimientoBundle::plantilla.html.twig' %}

{% block javascripts %}

{{parent()}}

<script type="text/javascript" src="{{ asset('bundles/siblhmantenimiento/js/BlhSeguimientoReceptor/edit.js') }}" ></script>
        
{% endblock %}

{% block body -%}
    <h1>Editar Analisis de crematocrito</h1>

    <table align='center'>
    {{ form_start(edit_form) }}
    {{ form_errors(edit_form) }}
<tr>
    <tr><td align='right'>{{ form_label(edit_form.crema1,'Crema 1 (ml)') }}{{ form_widget(edit_form.crema1) }}</td></tr>
    <tr><td colspan=2 align = "right" height=10  ></td></tr>
    <tr><td align='right'>{{ form_label(edit_form.crema2,'Crema 2 (ml)') }}{{ form_widget(edit_form.crema2) }}</td></tr>
    <tr><td colspan=2 align = "right" height=10  ></td></tr>
    <tr><td align='right'>{{ form_label(edit_form.crema3,'Crema 3 (ml)') }}{{ form_widget(edit_form.crema3) }}</td></tr>
    <tr><td colspan=2 align = "right" height=10  ></td></tr>
    <tr><td align='right'>{{ form_label(edit_form.ct1,'Coliformes 1 (ml)') }}{{ form_widget(edit_form.ct1) }}</td></tr>
    <tr><td colspan=2 align = "right" height=10  ></td></tr>
    <tr><td align='right'>{{ form_label(edit_form.ct2,'Coliformes 2 (ml)') }}{{ form_widget(edit_form.ct2) }}</td></tr>
    <tr><td colspan=2 align = "right" height=10  ></td></tr>
    <tr><td align='right'>{{ form_label(edit_form.ct3,'Coliformes 3 (ml)') }}{{ form_widget(edit_form.ct3) }}</td></tr>
    <tr><td colspan=2 align = "right" height=10  ></td></tr>
    <tr><td align='right'>{{form_label(edit_form.mediaCrema,'Media crema (ml) ') }}{{form_widget(edit_form.mediaCrema) }}</td></tr>
    <tr><td colspan=2 align = "right" height=10  ></td></tr>
    <tr><td align='right'>{{form_label(edit_form.mediaCt,'Media coliformes (ml)') }}{{form_widget(edit_form.mediaCt) }}</td></tr>
    <tr><td colspan=2 align = "right" height=10  ></td></tr>
    <tr><td align='right'>{{form_label(edit_form.porcentajeCrema,'Porcentaje crema') }}{{form_widget(edit_form.porcentajeCrema) }}</td></tr>
    <tr><td colspan=2 align = "right" height=10  ></td></tr>
    <tr><td align='right'>{{form_label(edit_form.kilocalorias) }}{{form_widget(edit_form.kilocalorias) }}</td></tr>
    <tr><td colspan=2 align = "right" height=10  ></td></tr>
    <tr><td align='right' style="visibility:hidden">{{ form_label(edit_form.idFrascoRecolectado) }}{{ form_widget(edit_form.idFrascoRecolectado) }}</td></tr>
    <tr><td colspan=2 align = "right" height=10  ></td></tr>

</table>
    <table align = "center">
           <tr>
             <td align = 'center' > <input type='submit' id='boton' title="Actualizar Analisis de crematocrito"  value="Actualizar"/></td>              
          </tr>
           </table>
    {{ form_end(edit_form) }}
  

        <a href="{{ path('blhcrematocrito') }}">
            Regresar a listado de Analisis de crematocrito
        </a>

{% endblock %}
