{% extends 'siblhmantenimientoBundle::plantilla.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
        <link href="{{ asset('bundles/siblhmantenimiento/css/form.css') }}" rel="stylesheet" type="text/css" />
 
{% endblock %}
{% block javascripts %}

{{parent()}}

<script type="text/javascript" src="{{ asset('bundles/siblhmantenimiento/js/BlhCrematocrito/edit.js') }}" ></script>
        
{% endblock %}

{% block body -%}
    <h1>Editar Analisis de crematocrito</h1>

    <table align='center'>
    {{ form_start(edit_form) }}
    {{ form_errors(edit_form) }}
<tr>
    <tr><td align='left'><font color="red">*</font>{{ form_label(edit_form.crema1,'Crema 1(mm)') }}</td><td>{{ form_widget(edit_form.crema1, {'attr':{ 'onKeyPress':"return soloNumeros(event);",'title': 'Por favor ingrese la crema 1, entre 1 y 20 mm' } }) }}</td></tr>
    <tr><td colspan=2 align = "right" height=10  ></td></tr>
    <tr><td align='left'><font color="red">*</font>{{ form_label(edit_form.crema2,'Crema 2(mm)') }}</td><td>{{ form_widget(edit_form.crema2, {'attr':{ 'onKeyPress':"return soloNumeros(event);",'title': 'Por favor ingrese la crema 2, entre 1 y 20 mm' } }) }}</td></tr>
    <tr><td colspan=2 align = "right" height=10  ></td></tr>
    <tr><td align='left'><font color="red">*</font>{{ form_label(edit_form.crema3,'Crema 3(mm)') }}</td><td>{{ form_widget(edit_form.crema3, {'attr':{ 'onKeyPress':"return soloNumeros(event);",'title': 'Por favor ingrese la crema 3, entre 1 y 20 mm' } }) }}</td></tr>
    <tr><td colspan=2 align = "right" height=10  ></td></tr>
    <tr><td align='left'><font color="red">*</font>{{ form_label(edit_form.ct1, 'Column total  1(mm)') }}</td><td>{{ form_widget(edit_form.ct1, {'attr':{ 'onKeyPress':"return soloNumeros(event);",'title': 'Por favor ingrese la columna total 1, entre 1 y 99 mm' } }) }}</td></tr>
    <tr><td colspan=2 align = "right" height=10  ></td></tr>
    <tr><td align='left'><font color="red">*</font>{{ form_label(edit_form.ct2, 'Column total  2(mm)') }}</td><td>{{ form_widget(edit_form.ct2, {'attr':{ 'onKeyPress':"return soloNumeros(event);",'title': 'Por favor ingrese la columna total 2, entre 1 y 99 mm' } }) }}</td></tr>
    <tr><td colspan=2 align = "right" height=10  ></td></tr>
    <tr><td align='left'><font color="red">*</font>{{ form_label(edit_form.ct3, 'Column total  3(mm)') }}</td><td>{{ form_widget(edit_form.ct3, {'attr':{ 'onKeyPress':"return soloNumeros(event);",'title': 'Por favor ingrese la columna total 3, entre 1 y 99 mm' } }) }}</td></tr>
    <tr><td colspan=2 align = "right" height=10  ></td></tr>
    <tr><td align='left'>{{form_label(edit_form.mediaCrema,'Media crema(mm) ') }}</td><td>{{form_widget(edit_form.mediaCrema, {'attr':{ 'readonly': 'true','title': 'Dar clic para obtener el resultado'  } }) }}</td></tr>
    <tr><td colspan=2 align = "right" height=10  ></td></tr>
    <tr><td align='left'>{{form_label(edit_form.mediaCt, 'Media columna total(mm)') }}</td><td>{{form_widget(edit_form.mediaCt, {'attr':{ 'readonly': 'true','title': 'Dar clic para obtener el resultado'  } }) }}</td></tr>
    <tr><td colspan=2 align = "right" height=10  ></td></tr>
    <tr><td align='left'>{{form_label(edit_form.porcentajeCrema,'Porcentaje crema') }}</td><td>{{form_widget(edit_form.porcentajeCrema, {'attr':{ 'readonly': 'true','title': 'Dar clic para obtener el resultado'  } }) }}</td></tr>
    <tr><td colspan=2 align = "right" height=10  ></td></tr>
    <tr><td align='left'>{{form_label(edit_form.kilocalorias) }}</td><td>{{form_widget(edit_form.kilocalorias, {'attr':{ 'readonly': 'true','title': 'Dar clic para obtener el resultado'   } }) }}</td></tr>
    <tr><td colspan=2 align = "right" height=10  ></td></tr>
    <tr><td align='left' style="visibility:hidden">{{ form_label(edit_form.idFrascoRecolectado) }}</td><td style="visibility:hidden">{{ form_widget(edit_form.idFrascoRecolectado) }}</td></tr>
    <tr><td colspan=2 align = "right" height=10  ></td></tr>

</table>
    <table align = "center" width=50%>
         <tr>
            <td width=150 align = 'left'  ><font color="red" face = "Comic Sans MS">* Campos requeridos</font></td>           
          </tr>
           <tr>
             <td align = 'center' > <input type='submit' id='boton' value="Actualizar"/>
             <input id = "boton1" type="button" value="Regresar" onClick=' window.location.href="{{ path('blhcrematocrito' )}}" '></td>              
          </tr>
           </table>
    {{ form_end(edit_form) }}


{% endblock %}