{% extends 'siblhmantenimientoBundle::plantilla.html.twig' %}

{% block javascripts %}
    {{parent()}}
    <script type="text/javascript" src="{{ asset('bundles/siblhmantenimiento/js/BlhCrematocrito/index.js') }}" ></script>
{% endblock %}

{% block body -%}
    <link href="{{asset('bundles/jquery/jquery.jqGrid-4.5.4/css/ui.jqgrid.css')}}" rel="stylesheet"  type="text/css" media="all"/> 
     <script type="text/javascript" src="{{asset('bundles/jquery/jquery.jqGrid-4.5.4/js/i18n/grid.locale-es.js')}}"></script>
      <script type="text/javascript" src="{{asset('bundles/jquery/jquery.jqGrid-4.5.4/js/jquery.jqGrid.min.js')}}" ></script>
      
    <h1>Listado de analisis de crematocrito</h1>

    <table id="listado_crematocrito">
        <thead>
            <tr>
                <th>Frasco</th>
                <th>Media&nbsp;crema(mm)</th>
                <th>Media&nbsp;columna&nbsp;total(mm)</th>
                <th>Porcentaje&nbsp;crema</th>
                <th>Kilocalorias</th>
                <th>Acción</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.codigo }}</td>
                <td>{{ entity.mediaCrema|number_format(2, '.', ',') }}</td>
                <td>{{ entity.mediaCt|number_format(2, '.', ',') }}</td>
                <td>{{ entity.porcentajeCrema|number_format(2, '.', ',') }}</td>
                <td>{{ entity.kilocalorias|number_format(2, '.', ',') }}</td>
                <td><a href="{{ path('blhcrematocrito_edit', { 'id': entity.id }) }}"><font color="blue"><u>Editar</u></font></a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div id='pagerCrematocrito'></div>
    {% endblock %}