{% extends 'siblhmantenimientoBundle::plantilla.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
	<link href="{{ asset('bundles/siblhmantenimiento/css/form.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block javascripts %}

{{parent()}}

<script type="text/javascript" src="{{ asset('bundles/siblhmantenimiento/js/BlhAcidez/edit.js') }}" ></script>
        
{% endblock %}

{% block body -%}
    <h1>Editar Analisis de Acidez Dornic</h1>

     {{ form_start(edit_form) }}
    {{ form_errors(edit_form) }}   
    <table align='center'>

<tr>
    <tr><td align='right'>{{ form_label(edit_form.acidez1,'Acidez 1(mm)') }}{{ form_widget(edit_form.acidez1) }}</td></tr>
    <tr><td colspan=2 align = "right" height=10  ></td></tr>
    <tr><td align='right'>{{ form_label(edit_form.acidez2,'Acidez 2(mm)') }}{{ form_widget(edit_form.acidez2) }}</td></tr>
    <tr><td colspan=2 align = "right" height=10  ></td></tr>
    <tr><td align='right'>{{ form_label(edit_form.acidez3,'Acidez 3(mm)') }}{{ form_widget(edit_form.acidez3) }}</td></tr>
    <tr><td colspan=2 align = "right" height=10  ></td></tr>
    <tr><td align='right'>{{ form_label(edit_form.mediaAcidez,'Media acidez(mm)') }}{{ form_widget(edit_form.mediaAcidez, {'attr':{ 'readonly': 'true' } }) }}</td></tr>
    <tr><td colspan=2 align = "right" height=10  ></td></tr>
    <tr><td align='right'>{{ form_label(edit_form.factor) }}{{ form_widget(edit_form.factor) }}</td></tr>
    <tr><td colspan=2 align = "right" height=10  ></td></tr>
    <tr><td align='right'>{{ form_label(edit_form.resultado,'Resultado(mm)') }}{{ form_widget(edit_form.resultado, {'attr':{ 'readonly': 'true' } }) }}</td></tr>
    <tr><td colspan=2 align = "right" height=10  ></td></tr>
    <tr><td align='right' style="visibility:hidden">{{ form_label(edit_form.idFrascoRecolectado) }}{{ form_widget(edit_form.idFrascoRecolectado) }}</td></tr>
    <tr><td colspan=2 align = "right" height=10  ></td></tr>

</table>
    <table align = "center">
           <tr>
             <td align = 'center' > <input type='submit' id='boton' title="Actualizar Analisis de Acidez Dornic"  value="Actualizar"/></td>              
          </tr>
           </table>
    {{ form_end(edit_form) }}
  

        <a href="{{ path('blhacidez') }}">
            Regresar a listado de Analisis de Acidez 
        </a>

{% endblock %}
