{% extends  'siblhmantenimientoBundle::plantilla.html.twig'%}

{% block javascripts %}
    {{parent()}}
    <script type="text/javascript" src="{{ asset('bundles/siblhmantenimiento/js/BlhAcidez/index.js') }}" ></script>
{% endblock %}

{% block body -%}
    
    <link href="{{asset('bundles/jquery/jquery.jqGrid-4.5.4/css/ui.jqgrid.css')}}" rel="stylesheet"  type="text/css" media="all"/> 
     <script type="text/javascript" src="{{asset('bundles/jquery/jquery.jqGrid-4.5.4/js/i18n/grid.locale-es.js')}}"></script>
      <script type="text/javascript" src="{{asset('bundles/jquery/jquery.jqGrid-4.5.4/js/jquery.jqGrid.min.js')}}" ></script>
      
<h1>Litado resultados de acidez dornic</h1>
<div align=center>
    <table id="listado_Acidez">
        <thead>
            <tr>
                <th>Frasco</th>
                <th>Factor(%)</th>
                <th>Resultado</th>
                <th>Acción</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.codigo }}</td>
                <td>{{ entity.factor|number_format(2, '.', ',') }}</td>
                <td>{{ entity.resultado|number_format(2, '.', ',') }}</td>
                <td><a href="{{ path('blhacidez_edit', { 'id': entity.id }) }}"><font color="blue"><u>Editar</u></font></a></td>
                  
        {% endfor %}
        </tbody>
    </table>
        </div>
 <div id='pagerAcidez'></div>
      
    {% endblock %}
