{% extends  'siblhmantenimientoBundle::plantilla.html.twig'%}


{% block stylesheets %}
    {{ parent() }}
	<link href="{{ asset('bundles/siblhmantenimiento/css/form.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}
        
{% block javascripts %}
{{parent()}}

<script type="text/javascript" src="{{ asset('bundles/siblhmantenimiento/js/BlhAcidez/new.js') }}" ></script>
        
{% endblock %}

{% block body -%}
   
    <h1>Registro de Acidez Dornic</h1>
      {{ form_start(form) }}
      {{ form_errors(form) }}
   
   <table align = "center" width = "90%" >
        <tr><td colspan=2 align = "right" height=40  ></td></tr>
       <tr>
       <td colspan = "2" align = "left"><b>Donante</b></td>
                <td colspan = "4" align = "left">
                <INPUT type=text STYLE="text-align:center" name="nombre" disabled="disabled" size=50 readonly="readonly" value= "{{ datos_frasco[0].nombre1}}&nbsp;{{ datos_frasco[0].nombre2  }}&nbsp;{{ datos_frasco[0].apellido1 }}&nbsp;{{ datos_frasco[0].apellido2 }}">
               </td>
               <td colspan=4 align = "right" style="visibility:hidden"> 
                
                {{ form_label(form.idFrascoRecolectado) }}
                {{ form_errors(form.idFrascoRecolectado) }}
                {{ form_widget(form.idFrascoRecolectado) }} </td>
               <td colspan = "4" align = "right"><b>Fecha analisis</b></td>
                <td colspan = "2" align = "rigth">
                <INPUT type=text STYLE="text-align:center" name="nombre" disabled="disabled" size=20 readonly="readonly" value= "{{ datos_frasco[0].fecha|date('d-m-Y') }}"></td>
               
                
       </tr>
    <tr>
                <td colspan = "2" align = "left"><b>Frasco</b></td>
                <td colspan = "4" align = "left">
                <INPUT type=text STYLE="text-align:center" name="nombre" disabled="disabled" size=20 readonly="readonly" value= "{{ datos_frasco[0].codigoFrascoRecolectado}}">
               </td>
               
               <td colspan = "2" align = "center"><b>Volumen(ml)</b></td>
                <td colspan = "4" align = "left">    
                <INPUT type=text STYLE="text-align:center" name="nombre" disabled="disabled" size=20 readonly="readonly" value= "{{ datos_frasco[0].volumenRecolectado|number_format(2, '.', ',')}}">
               </td>
                    
              <td colspan = "2" align = "right"><b>Volumen(onz)</b></td>
                <td colspan = "4" align = "rigth">
                <INPUT type=text STYLE="text-align:center" name="nombre" disabled="disabled" size=20 readonly="readonly" value= "{{ datos_frasco[0].onzRecolectado|number_format(2, '.', ',')}}">
               </td>
                
        </tr>
        <tr><td colspan=2 align = "right" height=40  ></td></tr>
           
      </table>
   
        <table align = "center" width = "90%" >
          
        <tr>
        <td width=220  align = "left" ><font color="red" >*</font>{{ form_label(form.acidez1, 'Acidez 1(Grados dornic)') }}</td>
        <td width=175 align='left'> {{ form_widget(form.acidez1, {'attr':{ 'onKeyPress':"return soloNumerosEnteros(event);",'title': 'Por favor ingrese la acidez 1, entre 1 y 15 grasdos Dornic' } } ) }}</td>
               
       <td align = "left" width=200 ><font color="red">*</font>{{ form_label(form.acidez2, 'Acidez 2(Grados dornic)') }}</td>
       <td width=175 align='left'>{{ form_widget(form.acidez2, {'attr':{ 'onKeyPress':"return soloNumerosEnteros(event);",'title': 'Por favor ingrese la acidez 2, entre 1 y 15 grasdos Dornic' } } ) }} </td>

        <td width=200 align = "left"><font color="red">*</font>{{ form_label(form.acidez3, 'Acidez 3(Grados dornic)') }}</td>
        <td width=2 align='left'>{{ form_widget(form.acidez3, {'attr':{ 'onKeyPress':"return soloNumerosEnteros(event);",'title': 'Por favor ingrese la acidez 3, entre 1 y 15 grasdos Dornic' } } ) }} </td>
        </tr>
          
        <tr><td width=35 align = "right" height=10  ></td></tr>
      <tr>
	    <td width=35 align = "left" >{{ form_label(form.mediaAcidez,'Media acidez(Grados dornic)') }}</td>
            <td width=20 align='left'>{{ form_widget(form.mediaAcidez, {'attr':{ 'readonly': 'true' } }) }} </td>
           
            <td width=100  align = "left" ><font color="red">*</font>{{ form_label(form.factor, 'Factor(%)') }}</td>
            <td width=2 align='left'> {{ form_widget(form.factor, {'attr':{ 'onKeyPress':"return soloNumeros(event);",'title': 'Por favor ingrese el factor para cálculo de acidez, entre 1 y 5 %' } }) }} </td>
      
            <td width=35  align = "left" >{{ form_label(form.resultado,'Resultado(Grados dornic)') }}</td>
            <td width=2 align='left'> {{ form_widget(form.resultado, {'attr':{ 'readonly': 'true' } }) }} </td>
        </tr>
        
        <tr><td width=35 align = "right" height=30  ></td></tr>
        </table>
        <table align = "center" width = "90%" >
        <tr>
            <td width=150 align = 'left'  ><font color="red" face = "Comic Sans MS">* Campos requeridos</font></td>           
          </tr>
          <tr>
             <td width=500 align = 'center' ><input type='submit' id="boton"  value="Guardar"/><input id = "boton1" type="button" value="Regresar" onClick=' window.location.href="{{ path('blhfrascosAnalisis_acidez' )}}"'></td>              
          </tr>
           </table>
           {{ form_end(form) }}
          
           
 
{% endblock %}
