{% extends  'siblhmantenimientoBundle::plantilla.html.twig'%}

{% block body -%}
    <h1>Acidez registrada</h1>

    <table class="record_properties" align='center'>
        <tbody>
   
            <tr>
                <th>Acidez 1(Grados dornic)</th>
                <td>{{ entity.acidez1 }}</td>
            </tr>
            <tr>
                <th>Acidez 2(Grados dornic)</th>
                <td>{{ entity.acidez2 }}</td>
            </tr>
            <tr>
                <th>Acidez 3(Grados dornic)</th>
                <td>{{ entity.acidez3}}</td>
            </tr>
            <tr>
                <th>Factor(%)</th>
                <td>{{ entity.factor|number_format(2, '.', ',') }}</td>
            </tr>
            <tr>
                <th>Resultado(Grados dornic)</th>
                <td>{{ entity.resultado|number_format(2, '.', ',') }}</td>
            </tr>
            <tr>
                <th>Media acidez(Grados dornic)</th>
                <td>{{ entity.mediaAcidez|number_format(2, '.', ',') }}</td>
            </tr>
        </tbody>
    </table>

  
       <p><a href="{{ path('blhfrascosAnalisis_acidez') }}">
            Registrar nueva acidez
        </a><p>
   
        <a href="{{ path('blhacidez_edit', { 'id': entity.id }) }}">
            Editar
        </a>
 
{% endblock %}
