{% extends  'siblhmantenimientoBundle::plantilla.html.twig'%}

{% block javascripts %}

{{parent()}}

<script type="text/javascript" src="{{ asset('bundles/siblhmantenimiento/js/BlhAnalisisSensorial/show.js') }}" ></script>
       
{% endblock %}

{% block body -%}
<style type="text/css">
table#teft table {display: block; padding: 5px; border: 3px solid black; border-top: 1; -moz-border-radius: 10px 10px 10px 10px; color:"#2e6e9e"}
th {
font-family: verdana,arial,helvetica,sans-serif;
color: #000000;
font-weight: bold;
border-style: solid;
border-width: 1px;
size: 2px;
background-color: #2b8dd6;
}
td {
font-family: verdana,arial,helvetica,sans-serif;}
</style>
    <h1>Acidez dornic</h1>

    <table  id = "left" border = "1"  align = "center" bordercolor="#2e6e9e" width=30%>
        <tbody>
   
            <tr align = "left">
                <th>Acidez 1(Grados dornic)</th>
                <td>{{ entity.acidez1 }}</td>
            </tr>
            <tr align = "left">
                <th>Acidez 2(Grados dornic)</th>
                <td>{{ entity.acidez2 }}</td>
            </tr>
            <tr align = "left">
                <th>Acidez 3(Grados dornic)</th>
                <td>{{ entity.acidez3}}</td>
            </tr>
            <tr align = "left">
                <th>Factor(%)</th>
                <td>{{ entity.factor|number_format(2, '.', ',') }}</td>
            </tr>
            <tr align = "left">
                <th>Resultado(Grados dornic)</th>
                <td>{{ entity.resultado|number_format(2, '.', ',') }}</td>
            </tr>
            <tr align = "left">
                <th>Media acidez(Grados dornic)</th>
                <td>{{ entity.mediaAcidez|number_format(2, '.', ',') }}</td>
            </tr>
        </tbody>
    </table>

   <table  align = "center" >
         <tr><td height=10  ></td></tr> 
         <tr><td height=10  ></td></tr> 
         <tr><td><input id = "boton" type="button" value="Registrar Nuevo" onClick=' window.location.href="{{ path('blhfrascosAnalisis_acidez') }}" '>
         </td></tr>
    </table>
 
{% endblock %}
