{% block stylesheets %}	
	
        <link href="{{ asset('bundles/siblhmantenimiento/bootstrap.no-icons.min.css') }}" type="text/css" rel="stylesheet" />
        <link href="{{ asset('bundles/siblhmantenimiento/font-awesome.css') }}" type="text/css" rel="stylesheet" />
        
{% endblock %}

{% block body %}
	<div class="navbar">
		<div class="navbar-inner">
			<a class="brand" href="{{ path('_home') }}">Inicio</a>
			{{ knp_menu_render('siblhmantenimientoBundle:MenuBuilder:mainMenu', {'currentClass': 'active', 'template': 'siblhmantenimientoBundle:Menu:knp_menu.html.twig'}) }}
			{{ knp_menu_render('siblhmantenimientoBundle:MenuBuilder:userMenu', {'currentClass': 'active', 'template': 'siblhmantenimientoBundle:Menu:knp_menu.html.twig'}) }}
		</div>
	</div>
	
{% endblock %}

{% block javascripts %}
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
	<script type="text/javascript" src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.1.0/js/bootstrap.min.js"></script>
{% endblock %}
