{% extends 'siblhmantenimientoBundle::plantilla.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
        <link href="{{ asset('bundles/siblhmantenimiento/css/form.css') }}" rel="stylesheet" type="text/css" />
 {% endblock %}

 {% block javascripts %}
    {{parent()}}

      <script type="text/javascript" src="{{ asset('bundles/siblhmantenimiento/js/BlhTemperaturaPasteurizacion/New.js') }}" ></script>
   
{% endblock %}
               

{% block body -%}
    <h1>Registro Temperatura  de Pasteurizacion</h1>


<FORM> 
   <table align = "center">
       
       <tr>
        <td  align = "left">Codigo Pasteurizacion</td>
        <td>
         <INPUT type=text STYLE="text-align:center" disabled="disabled" size=20 readonly="readonly" value= " {{ pasteurizaciones_frascos[0].codigoPasteurizacion}} "></td>
        <td  align = "right">Fecha Pasteurizacion</td>
        <td>   
         <INPUT type=text STYLE="text-align:center" disabled="disabled" size=30 readonly="readonly" value=" {{ pasteurizaciones_frascos[0].fechaPasteurizacion|date('d-m-Y') }}"></td> 
       </tr>  
       
    <tr>
    <tr></tr> <tr></tr> <tr></tr><tr></tr> <tr></tr> <tr></tr>
        <td> Hora de Inicio</td>
        <td>
        <INPUT type=text STYLE="text-align:center" disabled="disabled" size=30 readonly="readonly" value= "{{ pasteurizaciones_frascos[0].horaInicioP|date('Y-m-d H:i:s') }}"></td>
         </td>
        <td>Hora Fin</td>
         <td>
        <INPUT type=text STYLE="text-align:center" disabled="disabled" size=30 readonly="readonly" value= "{{ pasteurizaciones_frascos[0].horaFinalP|date('Y-m-d H:i:s') }}"></td>
      </td> 
    </tr>        
    </table>
          
    </FORM>      
    
    {{ form_start(form) }}
    {{ form_errors(form) }}
    
    <table align = "center">
        
      <tr style="visibility:hidden">
    <td> {{ form_label(form.idPasteurizacion) }}
        {{ form_errors(form.idPasteurizacion) }}
        {{ form_widget(form.idPasteurizacion) }}</td>  
        </tr>

   <tr>
    <td>{{ form_label(form.temperaturaP, 'Temperatura') }}
        {{ form_errors(form.temperaturaP) }}
        {{ form_widget(form.temperaturaP) }}</td>      
   </tr>
     <td colspan = '3' align = 'center'>  <input type="submit" class= "ui-button" value="Guardar"/></td></tr> 
       </table> 

     {{ form_end(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('blhtemperaturapasteurizacion') }}">
            Regresar a la lista
        </a>
    </li>
</ul>
{% endblock %}