{% extends 'siblhmantenimientoBundle::plantilla.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
        <link href="{{ asset('bundles/siblhmantenimiento/css/form.css') }}" rel="stylesheet" type="text/css" />
 {% endblock %}

 {% block javascripts %}
    {{parent()}}

      <script type="text/javascript" src="{{ asset('bundles/siblhmantenimiento/js/BlhTemperaturaPasteurizacion/New.js') }}" ></script>
   
{% endblock %}
               

{% block body -%}
    <h1>Registro Temperatura  de Pasteurizacion</h1>

  

<FORM> 
   <table align = "center">
       <tr>
        <p>    
        <td  align = "left">Codigo Pasteurizacion</td>
        <td>
         <INPUT type=text STYLE="text-align:center" disabled="disabled" size=20 readonly="readonly" value= " {{ pasteurizaciones_frascos[0].codigoPasteurizacion}} "></td>
        <td  align = "right">Fecha Pasteurizacion</td>
        <td>   
         <INPUT type=text STYLE="text-align:center" disabled="disabled" size=30 readonly="readonly" value=" {{ pasteurizaciones_frascos[0].fechaPasteurizacion|date('d-m-Y') }}"></td> 
       </tr>  
       
    <tr>
       <p> 
        <td> Hora de Inicio</td>
        <td>
        <INPUT type=text STYLE="text-align:center" disabled="disabled" size=30 readonly="readonly" value= "{{ pasteurizaciones_frascos[0].horaInicioP|date('H:i:s') }}"></td>
         </td>
        <td>Hora Fin</td>
         <td>
        <INPUT type=text STYLE="text-align:center" disabled="disabled" size=30 readonly="readonly" value= "{{ pasteurizaciones_frascos[0].horaFinalP|date('H:i:s') }}"></td>
      </td>
       </tr>
    </table> 
    </FORM> 
    
    
    
    {{ form_start(form) }}
    {{ form_errors(form) }}
    
      <table align = "center" >
         <p>
         <td align = "left"> 
         <tr align = "left"> Temperatura de Pasteurizacion&nbsp;&nbsp;&nbsp;&nbsp;</tr></td>
    {% for temperaturas in temperaturas%}
  
        <td align = "left">  
        <tr align = "left"><INPUT type=text disabled="disabled" size=5 readonly="readonly" value= " {{ temperaturas.temperaturaP}} "> </tr> </td>
    
     {% endfor %}

    <td align = "left"><tr align = left>
        {{ form_label(form.temperaturaP, ' ') }}
        {{ form_errors(form.temperaturaP) }}
        {{ form_widget(form.temperaturaP,{ 'attr': {'title': '99.99','size': '5','onKeyPress':"return soloNumerosEnteros(event);"} }) }}  </tr></td>
    
    
    <td><tr colspan = 3><br><br> <input type="submit" id= "boton1" value="Guardar"/></tr></td>

     </form>
    </table>
         
    <table align = "center">
        
      <tr style="visibility:hidden">
    <td> {{ form_label(form.idPasteurizacion) }}
        {{ form_errors(form.idPasteurizacion) }}
        {{ form_widget(form.idPasteurizacion) }}</td>  
        </tr>
        </table>

     {{ form_end(form) }}

{% endblock %}