{% extends 'siblhmantenimientoBundle::plantilla.html.twig'%}
{% block javascripts %}
    {{parent()}}
    <script type="text/javascript" src="{{ asset('bundles/siblhmantenimiento/js/BlhTemperaturaPasteurizacion/pasteurizaciones.js') }}" ></script> 
{% endblock %}

    
{% block body -%}
     <link href="{{asset('bundles/jquery/jquery.jqGrid-4.5.4/css/ui.jqgrid.css')}}" rel="stylesheet"  type="text/css" media="all"/>  
     <script type="text/javascript" src="{{asset('bundles/jquery/jquery.jqGrid-4.5.4/js/i18n/grid.locale-es.js')}}"></script>
     <script type="text/javascript" src="{{asset('bundles/jquery/jquery.jqGrid-4.5.4/js/jquery.jqGrid.min.js')}}" ></script> 
  
      <h1>Listado de Pasteurizaciones</h1>
    
    <table id="listado_pasteurizaciones">
        <thead>
            <tr>
        
                <th>Codigo&nbsp;Pasteurizacion</th>
                <th>Fecha&nbsp;Pasteurizacion</th>
                <th>Responsable&nbsp;Pasteurizacion</th>  
                <th>Acción</th>
            </tr>
          
        </thead>
        <tbody>
           
       {% for pasteurizacion in pasteurizaciones_frascos%}
            <tr> 
                
                <td>{{ pasteurizacion.codigoPasteurizacion}}</td>
                <td>{{ pasteurizacion.fechaPasteurizacion|date('d-m-Y') }}</td>
                <td>{{ pasteurizacion.responsablePasteurizacion}}</td>      
                <td> <a href="{{ path('blhtemperaturapasteurizacion_new', { 'id': pasteurizacion.id })}}">Nuevo Tiempo</a></td>
                 </tr>
             

                
                 {% endfor %}
                
                  </tbody>
                  </table>
               <div id='pagerPasteurizaciones' ></div>

    {% endblock %}       