{% extends 'siblhmantenimientoBundle::plantilla.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
        <link href="{{ asset('bundles/siblhmantenimiento/css/form.css') }}" rel="stylesheet" type="text/css" />
 {% endblock %}


{% block body -%}
    <h1> Tiempo Registrado</h1>


    <table class="records_list" border= "1" bordercolor="silver" align = "center" >
        
        <tr>
         <td colspan = '2' >Registro</td> 
         <td>Accion</td>
        </tr>
            <tr>
                <th align = "left">Codigo</th>
                <td>{{ entity.id }}</td>
                
                <td>          
            <a href="{{ path('blhtemperaturapasteurizacion') }}">
             Regresar a la lista </a>
         </td>
                
            </tr>
            <tr>
                <th>Temperatura</th>
                <td>{{ entity.temperaturaP }}</td>
               
                  <td>
        <a  href="{{ path('blhtemperaturapasteurizacion_edit', { 'id': entity.id }) }}">
            Actualizar
        </a></td>
             
           
          </tr>
          </table>
 
  <ul>
    {{ form(delete_form) }}
 </ul>
        
        
{% endblock %}