{% extends 'siblhmantenimientoBundle::plantilla.html.twig'%}
{% block javascripts %}
    {{parent()}}
    <script type="text/javascript" src="{{ asset('bundles/siblhmantenimiento/js/BlhInformacionPublica/index.js') }}" ></script> 
{% endblock %}

    
{% block body -%}
     <link href="{{asset('bundles/jquery/jquery.jqGrid-4.5.4/css/ui.jqgrid.css')}}" rel="stylesheet"  type="text/css" media="all"/>  
     <script type="text/javascript" src="{{asset('bundles/jquery/jquery.jqGrid-4.5.4/js/i18n/grid.locale-es.js')}}"></script>
     <script type="text/javascript" src="{{asset('bundles/jquery/jquery.jqGrid-4.5.4/js/jquery.jqGrid.min.js')}}" ></script> 
  
      <h1>Listado de Archivos</h1>
    
    <table id="listado_archivos">
        <thead>
            <tr>
               <th>TipoDocumento</th>  
                <th>NombreDocumento</th>  
                <th>FechaPublicacion</th>  
                <th>Acción</th>
            </tr> 
        </thead>
        <tbody>    
     {% for entity in entities %}
            <tr> 
               <td>{{ entity.tipo }}</td>
               <td>{{ entity.nombreDocumento }}</td>
               <td>{{ entity.fechaPublicacion|date('Y-m-d')}}</td>   
               <td><a href="{{ path('blhinformacionpublica_edit', { 'id': entity.id }) }}"><font color="blue"><u>Editar</u></font></a></td>
             </tr>
    {% endfor %}
                  </tbody>
                  </table>
               <div id='pagerArchivos' ></div>

    {% endblock %}  
