{% extends 'siblhmantenimientoBundle::plantilla.html.twig' %} 

 {% block stylesheets %}
    {{ parent() }}
        <link href="{{ asset('bundles/siblhmantenimiento/css/form.css') }}" rel="stylesheet" type="text/css" />
 {% endblock %}
        
 {% block javascripts %}
    {{parent()}}
    
    <script type="text/javascript" src="{{ asset('bundles/siblhmantenimiento/js/BlhInformacionPublica/new.js') }}" ></script>
    
 {% endblock %}


{% block body -%}
    <h1>Registro de Informacion Publica</h1>

    
 {{ form_start(form) }}
    {{ form_errors(form) }}
    
 <table border=0  align="center" CELLSPADDING="10">
      <tr> 

        <td align="left"style="visibility:hidden">
        <font color="red">*</font>
        {{ form_label(form.idBancoDeLeche, 'Banco de Leche') }}
        {{ form_errors(form.idBancoDeLeche) }}
        {{ form_widget(form.idBancoDeLeche) }} 
        <td>
             
                 
    <tr> 
<td align="left"><P><font color="red">* </font>{{ form_label(form.tipo, 'Tipo' )}}
        <td> {{ form_errors(form.tipo) }}
        {{ form_widget(form.tipo) }}
        
     <tr> 
        <td align="left"><P><font color="red">* </font>{{ form_label(form.nombreDocumento, 'Titulo documento') }}
         <td> {{ form_errors(form.nombreDocumento) }}
        {{ form_widget(form.nombreDocumento) }}
        
     <tr> 
        <td align="left"><P><font color="red">* </font>{{ form_label(form.fechaPublicacion, 'Fecha actualizacion')}}
         <td>{{ form_errors(form.fechaPublicacion) }}
        {{ form_widget(form.fechaPublicacion, {'attr':{'readonly': 'true', 'title': 'Dar clic y seleccionar fecha de curva'} })}}
             
        

  {# Al escribir la plantilla, no olvidar fijar el atributo enctype.#}                          
  <tr> 
        <td colspan = '2'><P><P><font color="red">* </font><form action="#" method="post" {{ form_enctype(form.file) }}>
        {{ form_widget(form.file) }}
                        
  </tr> 
  
   <tr> 
     <td  align = 'left' WIDTH = "150"><P><font color="red">* Campos requeridos</font></td>  
     <td colspan = '2' align = 'center'><P> <input type="submit" id= "boton" value="Subir Documento" />
  </tr> 
  

 


 
</table> 
   

  
{{ form_end(form) }}   
    

{% endblock %}

