{% extends 'siblhmantenimientoBundle::plantilla.html.twig' %} 

 {% block stylesheets %}
    {{ parent() }}
        <link href="{{ asset('bundles/siblhmantenimiento/css/form.css') }}" rel="stylesheet" type="text/css" />
 {% endblock %}
        
 {% block javascripts %}
    {{parent()}}
    
    <script type="text/javascript" src="{{ asset('bundles/siblhmantenimiento/js/BlhInformacionPublica/new.js') }}" ></script>
    
 {% endblock %}


{% block body -%}
    <h1>Registro de Informacion Publica</h1>

    
 {{ form_start(form) }}
    {{ form_errors(form) }}
    
 <table border=0 align="center" CellSpacing="25" >
      <tr> 
        <td align="left" style="visibility:hidden">{{ form_label(form.idBancoDeLeche, 'Banco de Leche') }}
          {{ form_errors(form.idBancoDeLeche) }}
        {{ form_widget(form.idBancoDeLeche) }}</td></tr> 
             
                 
    <tr> 
        <td align="left">{{ form_label(form.tipo, 'Tipo documento' )}}
         {{ form_errors(form.tipo) }}
        {{ form_widget(form.tipo) }}<td></tr> 
        
     <tr> 
        <td align="left">{{ form_label(form.nombreDocumento, 'Titulo documento') }}
         {{ form_errors(form.nombreDocumento) }}
        {{ form_widget(form.nombreDocumento) }}</td></tr> 
        
     <tr> 
        <td align="left">{{ form_label(form.fechaPublicacion, 'Fecha publicacion')}}
         {{ form_errors(form.fechaPublicacion) }}
        {{ form_widget(form.fechaPublicacion) }}</td></tr> 

  {# Al escribir la plantilla, no olvidar fijar el atributo enctype.#}                          
  <tr> 
        <td colspan = '2'><form action="#" method="post" {{ form_enctype(form.file) }}>
        {{ form_widget(form.file) }}</td>
                <tr><td colspan=2 align = "right" height=30  ></td></tr>
                        
  <tr>                   
     <td colspan = '2'> <input type="submit" id='boton' value="Subir Documento" /></td></tr>

 


 
</table> 
   

  
{{ form_end(form) }}   
    

{% endblock %}