{% extends 'siblhmantenimientoBundle::plantilla.html.twig' %}


{% block javascripts %}
    {{parent()}}
   <script type="text/javascript" src="{{ asset('bundles/siblhmantenimiento/js/BlhHistoriaActual/index.js') }}" ></script>
{% endblock %}
   
{% block body -%}
 <link href="{{asset('bundles/jquery/jquery.jqGrid-4.5.4/css/ui.jqgrid.css')}}" rel="stylesheet"  type="text/css" media="all"/>  
 
 <script type="text/javascript" src="{{asset('bundles/jquery/jquery.jqGrid-4.5.4/js/i18n/grid.locale-es.js')}}"></script>
      <script type="text/javascript" src="{{asset('bundles/jquery/jquery.jqGrid-4.5.4/js/jquery.jqGrid.min.js')}}" ></script> 

 
    <h1>Listado de Historia Actual</h1>

   <table id = "listado_ha">
        <thead>
            <tr>
                <th>Codigo</th>
                <th>Nombre</th>
                <th>Peso</th>
                <th>Talla</th>
                <th>Medicamento</th>
                <th>Habitotoxico</th>
                <th>Motivodonacion</th>
                <th>Patologiadonante</th>
                <th>Imc</th>
                <th>Estado&nbsp;donante</th>
                <th>Accion</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in donantes_registradas %}
            <tr>
                <td>{{ entity.codigo_donante }}</td>
                <td>{{ entity.nombre1 }} {{ entity.nombre2 }} {{ entity.apellido1 }} {{ entity.apellido2 }}</td>
                <td>{{ entity.pesoDonante }}</td>
                <td>{{ entity.tallaDonante }}</td>
                <td>{{ entity.medicamento }}</td>
                <td>{{ entity.habitoToxico }}</td>
                <td>{{ entity.motivoDonacion }}</td>
                <td>{{ entity.patologiaDonante }}</td>
                <td>{{ entity.imc }}</td>
                <td>{{ entity.estadoDonante }}</td>
                <td><a href="{{ path('blhhistoriaactual_edit', { 'id': entity.id }) }}"><font color="blue"><u>Editar</u></font></a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <div id='pagerha' ></div>
    {% endblock %}
