
{% extends 'siblhmantenimientoBundle::standard_layout.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
	<link href="{{ asset('bundles/siblhmantenimiento/css/form.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block javascripts %}
    {{parent()}}
    <script type="text/javascript" src="{{ asset('bundles/siblhmantenimiento/js/BlhHistoriaActual/new.js') }}" ></script>
{% endblock %}



{% block body -%}
    <h1>Registro de Historia Actual</h1>



 <script type="text/javascript">
function prueba(visible, id)
 {

var elemento = document.getElementById(id);
elemento.style.visibility = visible ? "visible" : "hidden";
 }
</script>    
    
    
    
    {{ form_start(form) }}
 {{ form_start(form) }}
    {{ form_errors(form) }}
     <table align = "center">
          <tr><td colspan = "3"> 
        {{ form_label(form.idDonante) }}
        {{ form_errors(form.idDonante) }}
        {{ form_widget(form.idDonante) }} </td></tr>
       <tr><td> 
        {{ form_label(form.pesoDonante) }}
        {{ form_errors(form.pesoDonante) }}
        {{ form_widget(form.pesoDonante) }} </td>
    <td> 
        {{ form_label(form.tallaDonante) }}
        {{ form_errors(form.tallaDonante) }}
        {{ form_widget(form.tallaDonante) }} </td>
 
   <td> {{ form_label(form.imc) }}
        {{ form_errors(form.imc) }}
        {{ form_widget(form.imc) }} </td>  </tr>
                   
                   
   <tr><td > 
        <label>Uso de medicamentos:</label>

        <input type="radio" name="group2" value="si" onClick="prueba(true, 'medicamento');"> Si
        <input type="radio" name="group2" value="no" onClick="prueba(false, 'medicamento');"> No<br></td>
 
  <td colspan = "2" id= "medicamento" style="visibility:hidden" > 

        {{ form_label(form.medicamento) }}
        {{ form_errors(form.medicamento) }}
        {{ form_widget(form.medicamento,  { 'attr': {'size': '40'} }) }} </td>  </tr>
  
  <tr><td > 

       

        <label>Habitos toxicos:</label>
        <input type="radio" name="group" value="si" onClick="prueba(true, 'habitos');"> Si
        <input type="radio" name="group" value="no" onClick="prueba(false, 'habitos');"> No<br></td>
 
  <td colspan = "2" id= "habitos" style="visibility:hidden"> 

        {{ form_label(form.habitoToxico) }}
        {{ form_errors(form.habitoToxico) }}
        {{ form_widget(form.habitoToxico,  { 'attr': {'size': '40'} }) }} </td>  </tr>
  <tr><td > 

     
        <label>Patologias:</label>
        <input type="radio" name="group1" value="si" onClick="prueba(true, 'patologiasd');"> Si
        <input type="radio" name="group1" value="no" onClick="prueba(false, 'patologiasd');"> No<br></td>
 
  <td colspan = "2" id= "patologiasd" style="visibility:hidden"> 

        {{ form_label(form.patologiaDonante) }}
        {{ form_errors(form.patologiaDonante) }}
        {{ form_widget(form.patologiaDonante,  { 'attr': {'size': '40'} }) }} </td>  </tr> 
  <tr> <td colspan = "2"> 
        {{ form_label(form.motivoDonacion, "Motivo por el cual dona leche:") }}
        {{ form_errors(form.motivoDonacion) }}
        {{ form_widget(form.motivoDonacion,  { 'attr': {'size': '50'} }) }} </td>  </tr> 
          
     <tr><td colspan = '3' align = 'center'>  <input type="submit" value="Guardar"/></td></tr>
   
   </table>
   
    {{ form_end(form) }}


        <ul class="record_actions">
    <li>
        <a href="{{ path('blhhistoriaactual') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
