{% extends 'siblhmantenimientoBundle::plantilla.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
        <link href="{{ asset('bundles/siblhmantenimiento/css/form.css') }}" rel="stylesheet" type="text/css" />
 {% endblock %}


{% block javascripts %}
    {{parent()}}
    <script type="text/javascript" src="{{ asset('bundles/siblhmantenimiento/js/BlhCurva/new.js') }}" ></script>   
{% endblock %}


{% block body -%}
    <h1>Editar Curva Penetracion</h1>
    
    {{ form_start(edit_form) }}
    {{ form_errors(edit_form) }}
    
<table align = "center" cellpadding="3">      
 <tr><td colspan=2 align = "left" height=10  ></td></tr>
 <tr><td align='left' ><font color="red">*</font>
  {{ form_label(edit_form.tiempo1,'Primer Tiempo') }}
 </td><td align='left'>{{ form_widget(edit_form.tiempo1,{ 'attr': {'title': '99.99','onKeyPress':"return soloNumeros(event);"} }) }}</td></tr>
 <tr><td colspan=2 align = "left" height=10  ></td></tr>
 <tr><td align='left' ><font color="red">*</font>
  {{ form_label(edit_form.tiempo2,'Segundo Tiempo') }}
 </td><td align='left'>{{ form_widget(edit_form.tiempo2,{ 'attr': {'title': '99.99','onKeyPress':"return soloNumeros(event);"} }) }}</td></tr>
 <tr><td colspan=2 align = "left" height=10  ></td></tr>
 <tr><td align='left' ><font color="red">*</font>
  {{ form_label(edit_form.tiempo3,' Tercer Tiempo') }}
 </td><td align='left'>{{ form_widget(edit_form.tiempo3,{ 'attr': {'title': '99.99','onKeyPress':"return soloNumeros(event);"} }) }}</td></tr>        
 <tr><td colspan=2 align = "left" height=10  ></td></tr>
 <tr><td align='left' ><font color="red">*</font>
  {{ form_label(edit_form.fechaCurva,'Fecha') }}
 </td><td align='left'>{{ form_widget(edit_form.fechaCurva) }}</td></tr> 
 <tr><td colspan=2 align = "left" height=10  ></td></tr>
 <tr><td align='left' ><font color="red">*</font>
  {{ form_label(edit_form.cantidadFrascos,'Cantidad Frascos') }}
 </td><td align='left'>{{ form_widget(edit_form.cantidadFrascos,{ 'attr': {'title': '99','onKeyPress':"return soloNumerosEnteros(event);"} }) }}</td></tr> 
 <tr><td colspan=2 align = "left" height=10  ></td></tr>
 <tr><td align='left' ><font color="red">*</font>
  {{ form_label(edit_form.volumenPorFrasco,'Volumen ML') }}
 </td><td align='left'>{{ form_widget(edit_form.volumenPorFrasco,{ 'attr': {'title': '99.9999 ML','onKeyPress':"return soloNumeros(event);"} }) }}</td></tr>
 <tr><td colspan=2 align = "left" height=10  ></td></tr>
 <tr><td align='left' ><font color="red">*</font>
  {{ form_label(edit_form.horaInicioCurva,'Hora Inicio') }}
 </td><td align='left'>{{ form_widget(edit_form.horaInicioCurva) }}</td></tr>        

 

 
 <tr>    
    <td align ='center'><P> <input type="submit" class= "ui-button" value="Actualizar"/></td>
    <td align = 'center'><P><input id = "boton" type="button" value="Regresar" onClick=' window.location.href="{{ path('blhcurva') }}" '> </td>
</tr>         

 
 
 
{{ form_end(edit_form) }}

 
        
 

{% endblock %}       
        
