{% extends 'siblhmantenimientoBundle::plantilla.html.twig'%}
{% block javascripts %}
    {{parent()}}
    <script type="text/javascript" src="{{ asset('bundles/siblhmantenimiento/js/BlhCurva/index.js') }}" ></script> 
{% endblock %}

    
{% block body -%}
     <link href="{{asset('bundles/jquery/jquery.jqGrid-4.5.4/css/ui.jqgrid.css')}}" rel="stylesheet"  type="text/css" media="all"/>  
     <script type="text/javascript" src="{{asset('bundles/jquery/jquery.jqGrid-4.5.4/js/i18n/grid.locale-es.js')}}"></script>
     <script type="text/javascript" src="{{asset('bundles/jquery/jquery.jqGrid-4.5.4/js/jquery.jqGrid.min.js')}}" ></script> 
  
      <h1>Listado de Curvas Registradas</h1>
    <div align=center>
    <table id="listado_curvas">
        <thead>
            <tr>
                <th>Valor&nbsp;Curva</th>  
                <th>Fecha</th>  
                <th>Frascos</th>  
                <th>VolumenFrascos</th>  
                <th>Acción</th>
            </tr>  
        </thead>
        <tbody>
     {% for entity in entities %}
            <tr>
                <td>{{ entity.valorCurva }}</td>
                <td>{% if entity.fechaCurva %}{{ entity.fechaCurva|date('Y-m-d') }}{% endif %}</td>
                <td>{{ entity.cantidadFrascos }}</td>
                <td>{{ entity.volumenPorFrasco }}</td>
                <td><a href="{{ path('blhcurva_edit', { 'id': entity.id }) }}"><font color="blue"><u>Editar</u></font></a>  </td>
                 </tr>
            {% endfor %}
                  </tbody>
                </table>
</div>
               <div id='pagerCurvas' ></div>
    {% endblock %}  
