{% extends 'siblhmantenimientoBundle::plantilla.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
        <link href="{{ asset('bundles/siblhmantenimiento/css/form.css') }}" rel="stylesheet" type="text/css" />
 {% endblock %}


{% block javascripts %}
    {{parent()}}
    
    <script type="text/javascript" src="{{ asset('bundles/siblhmantenimiento/js/BlhCurva/new.js') }}" ></script>
    
{% endblock %}
    
 
    
    

{% block body -%}
    <h1> Registro Curva de Penetracion</h1>

   {# {{ form(form) }} #}
    
    
    {{ form_start(form) }}
    {{ form_errors(form) }}
    
       
 <table border=0 align="center">
     
   <tr>
       <td colspan="4" align="right">
          
 <P align="right"><font color="red">*</font> {{ form_label(form.fechaCurva, 'Fecha de Analisis' )}} </P>
       {{ form_errors(form.fechaCurva) }}
       {{ form_widget(form.fechaCurva) }} <br><br><br></td>
   </tr>
   
   <tr>
       <td colspan="2" align="left"><center><font color="red">*</font>{{ form_label(form.cantidadFrascos, 'Cantidad de Frascos' )}}
       {{ form_errors(form.cantidadFrascos) }}
       {{ form_widget(form.cantidadFrascos) }} </center><br></td>
   
      <td colspan="2" align="right"><center><font color="red">*</font>{{ form_label(form.volumenPorFrasco, 'Volumen ML de Frascos' )}}
       {{ form_errors(form.volumenPorFrasco) }}
       {{ form_widget(form.volumenPorFrasco) }} </center><br></td>
       
         <tr>  
    <td colspan="4" align="center">
        {{ form_label(form.horaInicioCurva, 'Hora inicio')}}
               {{ form_errors(form.horaInicioCurva)}}
        {{ form_widget(form.horaInicioCurva) }} <br></td>
         </tr>
   
   </tr>
   
    
    <tr>          
      <td>
 <P align="center"><font color="red">*</font>  {{ form_label(form.tiempo1, 'Tiempo1 ' )}}</P></td>
      <td>
<P align="center"><font color="red">*</font>  {{ form_label(form.tiempo2, 'Tiempo2 ') }}</P></td>
      <td>
<P align="center"><font color="red">*</font>  {{ form_label(form.tiempo3, 'Tiempo3 ')}}</P></td>
   </tr>
 
 <tr> 
     
    <td> 
        {{ form_errors(form.tiempo1) }}
        {{ form_widget(form.tiempo1) }} </td>
    
    <td>   
        {{ form_errors(form.tiempo2) }}
        {{ form_widget(form.tiempo2) }} </td>
  
    <td>  
        {{ form_errors(form.tiempo3) }}
        {{ form_widget(form.tiempo3) }} </td>  
    
 </tr> 
 
 <tr>
<td colspan = '3' align = 'center'>  <input type="submit" class= "ui-button" value="Guardar"/></td></tr>
<td  WIDTH = "10"><font color="red">* Campos requeridos</font>   </td>
</table> 
    {{ form_end(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('blhcurva') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
    