{% extends 'siblhmantenimientoBundle::plantilla.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
       <link href="{{ asset('bundles/siblhmantenimiento/css/form.css') }}" rel="stylesheet" type="text/css" />
 {% endblock %}
{% block javascripts %}
    {{parent()}}
   <script type="text/javascript" src="{{ asset('bundles/siblhmantenimiento/js/BlhCurva/new.js') }}" ></script>
{% endblock %}
   

{% block body -%}
    <h1> Registro Curva de Penetracion</h1>

   {# {{ form(form) }} #}
    
    
    {{ form_start(form) }}
    {{ form_errors(form) }}
    
       
 <table border=0 align="center">
     
   <tr>
       <td colspan="6" align="right">

 <P align="right"><font color="red">*</font> {{ form_label(form.fechaCurva, 'Fecha de Analisis' )}} </P>
       {{ form_errors(form.fechaCurva) }}
       {{ form_widget(form.fechaCurva, {'attr':{'readonly': 'true', 'title': 'Dar clic y seleccionar fecha de curva'} }) }} <P></td>

   </tr>
    
    <tr>  
        <td colspan="3" align="center"> <P> <P></P> <font color="red">*</font>  {{ form_label(form.cantidadFrascos,'Cantidad de Frascos')}}</td>   
 <td colspan="3" align="center"> <P><P></P>  <font color="red">*</font>   {{ form_label(form.volumenPorFrasco, 'Volumen ML')}}</td>
   </tr>
 
 <tr> 
     
    <td colspan="3"> 
        {{ form_errors(form.cantidadFrascos) }}
        {{ form_widget(form.cantidadFrascos,{ 'attr': {'title': '99','onKeyPress':"return soloNumerosEnteros(event);"} }) }} <P></td>
    
    <td colspan="3">   
        {{ form_errors(form.volumenPorFrasco) }}
        {{ form_widget(form.volumenPorFrasco,{ 'attr': {'title': '99.9999 ML','onKeyPress':"return soloNumeros(event);"} }) }} <P></td>
  
    
 </tr> 
          
  
          
          
       <tr>          
             
    <td colspan="6" align="center">
        {{ form_label(form.horaInicioCurva, 'Hora inicio')}}
        {{ form_errors(form.horaInicioCurva)}}
        {{ form_widget(form.horaInicioCurva) }} <br><P></td>
        </tr>
   

   
    
    <tr>          
      
 <td colspan="2" align="center"><font color="red">*</font>  {{ form_label(form.tiempo1, 'Tiempo1 ' )}}</td>
      
<td  colspan="2" align="center"><font color="red">*</font>  {{ form_label(form.tiempo2, 'Tiempo2 ') }}</td>
      
<td   colspan="2" align="center"><font color="red">*</font>  {{ form_label(form.tiempo3, 'Tiempo3 ')}}</td>
   </tr>
 
 <tr>
     
    <td colspan="2"> 
        {{ form_errors(form.tiempo1) }}
        {{ form_widget(form.tiempo1,{ 'attr': {'title': '99.99','onKeyPress':"return soloNumeros(event);"} }) }} </td>
    
    <td colspan="2">   
        {{ form_errors(form.tiempo2) }}
        {{ form_widget(form.tiempo2,{ 'attr': {'title': '99.99','onKeyPress':"return soloNumeros(event);"} }) }} </td>
  
    <td colspan="2">  
        {{ form_errors(form.tiempo3) }}
        {{ form_widget(form.tiempo3,{ 'attr': {'title': '99.99','onKeyPress':"return soloNumeros(event);"} }) }} </td>  
    
 </tr> 
 
 <tr>
     <td colspan="6" align="center"><font color="red">*</font>  {{ form_label(form.valorCurva, 'Valor Curva' )}}</td>
 </tr>    

 <tr>
    <td colspan="6">
     {{ form_errors(form.valorCurva) }}
     {{ form_widget(form.valorCurva, {'attr':{ 'readonly': 'true' } }) }} </td> 
 </tr>  
 
<tr><P>   
<td align = 'left' WIDTH = "150"> <P><font color="red">* Campos requeridos</font></td> </tr> 
<tr>  
<td colspan = '6' align = 'center'> <P><input type="submit" id= "boton" value="Guardar"/></td></tr> 
</table> 
    {{ form_end(form) }}

       
{% endblock %}
