{% extends 'siblhmantenimientoBundle::plantilla.html.twig' %}

{% block javascripts %}
    {{parent()}}
   <script type="text/javascript" src="{{ asset('bundles/siblhmantenimiento/js/BlhPersonal/index.js') }}" ></script>
{% endblock %}
   
{% block body -%}
 <link href="{{asset('bundles/jquery/jquery.jqGrid-4.5.4/css/ui.jqgrid.css')}}" rel="stylesheet"  type="text/css" media="all"/>  
 
 <script type="text/javascript" src="{{asset('bundles/jquery/jquery.jqGrid-4.5.4/js/i18n/grid.locale-es.js')}}"></script>
      <script type="text/javascript" src="{{asset('bundles/jquery/jquery.jqGrid-4.5.4/js/jquery.jqGrid.min.js')}}" ></script> 

    <h1>BlhPersonal list</h1>
    <div align = "center">
   <table id = "listado_personal">
   <thead>
    <tr><th>Nombre</th>
        <th>Accion</th></tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr><td>{{ entity.nombre }}</td>
                <td><a href="{{ path('blhpersonal_edit', { 'id': entity.id }) }}"><font color="blue"><u>Editar</u></font></a></td></tr>
        {% endfor %}
        </tbody>
    </table></div>
    <div id='pagerpersonal' ></div>
    {% endblock %}
