{% extends 'siblhmantenimientoBundle::plantilla.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
        <link href="{{ asset('bundles/siblhmantenimiento/css/form.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}
        {% block javascripts %}

{{parent()}}

<script type="text/javascript" src="{{ asset('bundles/siblhmantenimiento/js/BlhPersonal/new.js') }}" ></script>
       
{% endblock %}

{% block body -%}
    <h1>Registro de Personal</h1>

     {{ form_start(form) }}
    {{ form_errors(form) }}
    
     <table align = "center"  WIDTH = "87%" >
            <tr>
	<td style="visibility:hidden">{{ form_widget(form.usuario, {'attr':{ 'value' : user_ID }}) }} </td>
    <td align = left><font color="red">*</font>
        {{ form_label(form.nombre,'Nombre') }} </td>
        <td align = left>
        {{ form_widget(form.nombre) }} </td></tr>
         <tr style="visibility:visible">
    <td align = left><font color="red">*</font>
        {{ form_label(form.idEstablecimiento) }} </td>
        <td align = left>
        {{ form_widget(form.idEstablecimiento) }} </td></tr>
        
<tr><td colspan =2 align = "left"><font color="red" size = "2" face = "Comic Sans MS">* Campos requeridos</font>   </td><tr>

     <tr><td colspan = 2 align = center><input id = "button"  type="submit"  value="Guardar"/></td>
     
     </tr>
   
              
       </table> 
    
    
    
    
      {{ form_end(form) }}
    
    
   
{% endblock %}
