{% extends 'siblhmantenimientoBundle::plantilla.html.twig' %}

{% block body -%}
    <h1>Editar Historial Clinico</h1>

 
    
    <table  align = "center" >
   <tr><td  align = "left" height=10  ></td></tr>
        <tr><td align='left'>{{ form_label(edit_form.amenorrea) }}</td><td align='left'>{{ form_widget(edit_form.amenorrea) }}</td></tr>
        <tr><td  align = "left" height=10  ></td></tr>
        <tr><td align='left' ><font color="red">*</font>{{ form_label(edit_form.controlPrenatal) }}</td><td align='left'>{{ form_widget(edit_form.controlPrenatal) }}</td></tr>
             
      <tr><td  align = "left" height=10  ></td></tr>
     <tr><td align='left' ><b>{{ form_label(edit_form.lugarControl) }}</b></td>
         <td align='left' >    {{ form_widget(edit_form.lugarControl) }}</td></tr>
       <tr><td  align = "left" height=10  ></td></tr>
     <tr><td align='left' ><b>{{ form_label(edit_form.numeroControl) }}</b></td>
         <td align='left' >    {{ form_widget(edit_form.numeroControl) }}</td></tr>
     
     <tr><td  align = "left" height=10  ></td></tr>
     <tr><td align='left' ><b>{{ form_label(edit_form.fechaUltimaRegla) }}</b></td>
         <td align='left' >   {{ form_widget(edit_form.fechaUltimaRegla) }}</td></tr>
      <tr><td  align = "left" height=10  ></td></tr>
     <tr><td align='left' ><b><font color="red">*</font>
                               {{ form_label(edit_form.fechaParto) }}</b></td>
          <td align='left' >                     {{ form_widget(edit_form.fechaParto) }}</td></tr>
             <tr><td  align = "left" height=10  ></td></tr>
     <tr><td align='left' ><b><font color="red">*</font>
                               {{ form_label(edit_form.lugarParto) }}</b></td>
          <td align='left' >                     {{ form_widget(edit_form.lugarParto) }}</td></tr>
             <tr><td  align = "left" height=10  ></td></tr>
     <tr><td align='left' ><b>{{ form_label(edit_form.patologiaEmbarazo) }}</b></td>
           <td align='left'>                    {{ form_widget(edit_form.patologiaEmbarazo) }}</td></tr>
     <tr><td  align = "left" height=10  ></td></tr>
     <tr><td align='left'><b><font color="red">*</font>
                               {{ form_label(edit_form.periodoIntergenesico) }}</b></td>
         <td align='left' >    {{ form_widget(edit_form.periodoIntergenesico) }}</td></tr>
              <tr><td  align = "left" height=10  ></td></tr>
     <tr><td align='left' ><b>{{ form_label(edit_form.fechaPartoAnterior) }}</b></td>
          <td align='left' >  {{ form_widget(edit_form.fechaPartoAnterior) }}</td></tr>
      </table>
    <table align = "center"> 
     <tr><td align='center' colspan = "6"><b>Formula obstetrica</b></td></tr>
     <tr><td align='left' ><b>{{ form_label(edit_form.formulaObstetricaG, 'G') }}
                               {{ form_widget(edit_form.formulaObstetricaG,  { 'attr': {'size': '2'} }) }}</td>
    <td align='left' ><b>{{ form_label(edit_form.formulaObstetricaP1, 'P') }}
                               {{ form_widget(edit_form.formulaObstetricaP1,  { 'attr': {'size': '2'} }) }}</td>
      <td align='left' ><b>{{ form_label(edit_form.formulaObstetricaP2, 'P') }}
                               {{ form_widget(edit_form.formulaObstetricaP2,  { 'attr': {'size': '2'} }) }}</td>
     <td align='left' ><b>{{ form_label(edit_form.formulaObstetricaA, 'A') }}
                               {{ form_widget(edit_form.formulaObstetricaA,  { 'attr': {'size': '2'} }) }}</td>
      <td align='left' ><b>{{ form_label(edit_form.formulaObstetricaV, 'V') }}
                               {{ form_widget(edit_form.formulaObstetricaV,  { 'attr': {'size': '2'} }) }}</td>
       <td align='left' ><b>{{ form_label(edit_form.formulaObstetricaM, 'M') }}
                               {{ form_widget(edit_form.formulaObstetricaM,  { 'attr': {'size': '2'} }) }}</td></tr>




    
    
 
    
   
 
        
   
         
    
        <tr><td colspan = '6' align = 'center'>  <input type="submit" class= "ui-button" value="Actualizar"/></td></tr>

    </table>
    
     
        <ul class="record_actions">
    <li>
        <a href="{{ path('blhhistorialclinico') }}">
            Ver Listado
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
