{% extends 'siblhmantenimientoBundle::plantilla.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
        <link href="{{ asset('bundles/siblhmantenimiento/css/form.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}
        {% block javascripts %}

{{parent()}}

<script type="text/javascript" src="{{ asset('bundles/siblhmantenimiento/js/BlhHistorialClinico/edit.js') }}" ></script>
       
{% endblock %}
{% block body -%}
    <h1>Editar Historial Clinico</h1>

  {{ form_start(edit_form) }}
    {{ form_errors(edit_form) }}
    
    <table  align = "center" >
  
        <tr><td align='left' ><font color="red">*</font>{{ form_label(edit_form.controlPrenatal) }}</td><td align='left'>{{ form_widget(edit_form.controlPrenatal) }}</td></tr>
             
      <tr><td  align = "left" height=10  ></td></tr>
     <tr><td align='left' ><b>{{ form_label(edit_form.lugarControl) }}</b></td>
         <td align='left' >    {{ form_widget(edit_form.lugarControl) }}</td></tr>
       <tr><td  align = "left" height=10  ></td></tr>
     <tr><td align='left' ><b>{{ form_label(edit_form.numeroControl) }}</b></td>
         <td align='left' >    {{ form_widget(edit_form.numeroControl, {'attr': { 'required' : 'false', 'value' : 0, 'onKeyPress':"return soloNumerosEnteros(event);"} }) }}</td></tr>
     
     <tr><td  align = "left" height=10  ></td></tr>
     <tr><td align='left' ><font color="red" >*</font> <b>{{ form_label(edit_form.fechaUltimaRegla, 'Ultima Regla') }}</b></td>
         <td align='left' >   {{ form_widget(edit_form.fechaUltimaRegla, {'attr':{'readonly': 'true', 'title': 'Dar clic y seleccionar fecha de ultima regla', 'date_format': 'Y-mm-dd' } }) }}</td></tr>
      <tr><td  align = "left" height=10  ></td></tr>
     <tr><td align='left' ><b><font color="red">*</font>
                               {{ form_label(edit_form.fechaParto) }}</b></td>
          <td align='left' >                     {{ form_widget(edit_form.fechaParto, {'attr':{'readonly': 'true', 'title': 'Dar clic y seleccionar fecha de parto' } }) }}</td></tr>
             <tr><td  align = "left" height=10  ></td></tr>
              <tr><td  align = "left" height=10  ></td></tr>
        <tr><td align='left'><font color="red" >*</font> {{ form_label(edit_form.amenorrea) }}</td><td align='left'>{{ form_widget(edit_form.amenorrea,  { 'attr': {'readonly': 'true', 'title':'Dar clic para obtener resultado' } }) }}</td></tr>
        <tr><td  align = "left" height=10  ></td></tr>
     <tr><td align='left' ><b><font color="red">*</font>
                               {{ form_label(edit_form.lugarParto) }}</b></td>
          <td align='left' >                     {{ form_widget(edit_form.lugarParto) }}</td></tr>
             <tr><td  align = "left" height=10  ></td></tr>
     <tr><td align='left' ><b>{{ form_label(edit_form.patologiaEmbarazo, 'Patologias') }}</b></td>
           <td align='left'>                    {{ form_widget(edit_form.patologiaEmbarazo) }}</td></tr>
     <tr><td  align = "left" height=10  ></td></tr>
     <tr><td align='left'><b><font color="red">*</font>
                               {{ form_label(edit_form.periodoIntergenesico) }}</b></td>
         <td align='left' >    {{ form_widget(edit_form.periodoIntergenesico,  { 'attr': {'size': '4', 'title': 'Digite el periodo entre 1 y 20', 'onKeyPress':"return soloNumerosEnteros(event);"} }) }}</td></tr>
              <tr><td  align = "left" height=10  ></td></tr>
     <tr><td align='left' ><b>{{ form_label(edit_form.fechaPartoAnterior) }}</b></td>
          <td align='left' >  {{ form_widget(edit_form.fechaPartoAnterior, {'attr':{'readonly': 'true', 'title': 'Dar clic y seleccionar fecha de parto anterior' } }) }}</td></tr>
      </table>
    <table align = "center"> 
        <tr><td align='center' colspan = "6"><b></b></td></tr>
     <tr><td align='center' colspan = "6"><font color="red" >*</font> <b>Formula obstetrica</b></td></tr>
     <tr><td align='left' ><b>{{ form_label(edit_form.formulaObstetricaG, 'G') }}
                               {{ form_widget(edit_form.formulaObstetricaG,  { 'attr': {'size': '2', 'title':'Digite el numero de Embarazos', 'onKeyPress':"return soloNumerosEnteros(event);"} }) }}</td>
    <td align='left' ><b>{{ form_label(edit_form.formulaObstetricaP1, 'P') }}
                               {{ form_widget(edit_form.formulaObstetricaP1,  { 'attr': {'size': '2','title':'Digite el numero de Partos', 'onKeyPress':"return soloNumerosEnteros(event);"} }) }}</td>
      <td align='left' ><b>{{ form_label(edit_form.formulaObstetricaP2, 'P') }}
                               {{ form_widget(edit_form.formulaObstetricaP2,  { 'attr': {'size': '2', 'title':'Digite el numero de Prematuros', 'onKeyPress':"return soloNumerosEnteros(event);"} }) }}</td>
     <td align='left' ><b>{{ form_label(edit_form.formulaObstetricaA, 'A') }}
                               {{ form_widget(edit_form.formulaObstetricaA,  { 'attr': {'size': '2', 'title':'Digite el numero de Abortos', 'onKeyPress':"return soloNumerosEnteros(event);"} }) }}</td>
      <td align='left' ><b>{{ form_label(edit_form.formulaObstetricaV, 'V') }}
                               {{ form_widget(edit_form.formulaObstetricaV,  { 'attr': {'size': '2', 'title':'Digite el numero de Vivos', 'onKeyPress':"return soloNumerosEnteros(event);"} }) }}</td>
       <td align='left' ><b>{{ form_label(edit_form.formulaObstetricaM, 'M') }}
                               {{ form_widget(edit_form.formulaObstetricaM,  { 'attr': {'size': '2', 'title':'Digite el numero de Muertos', 'onKeyPress':"return soloNumerosEnteros(event);"} }) }}</td></tr>



    <tr style="visibility:hidden"><td align='center' colspan = "6">{{ form_label(edit_form.idDonante, 'id') }}
                               {{ form_widget(edit_form.idDonante,  { 'attr': {'size': '2'} }) }}</td></tr>
    
       <tr>
            <td align = "left"><font color="red" size = "2" face = "Comic Sans MS">* Campos requeridos</font></td> </tr>     

        <tr><td colspan = '6' align = 'center'>  <input type="submit" id= "button" value="Actualizar"/>
                                                 <input id = "boton" type="button" value="Regresar" onClick=' window.location.href="{{ path('blhhistorialclinico') }}" '></td></tr>

    </table>
    
      {{ form_end(edit_form) }}
     
    {#
    <table align = 'center'>
        <tr>
            <td>
        <a href="{{ path('blhhistorialclinico') }}">
            Ver Listado
      </a>
        </td></tr></table>  #}
{% endblock %}