{% extends 'siblhmantenimientoBundle::plantilla.html.twig' %}

{% block javascripts %}
    {{parent()}}
   <script type="text/javascript" src="{{ asset('bundles/siblhmantenimiento/js/BlhHistorialClinico/index.js') }}" ></script>
{% endblock %}
   
{% block body -%}
 <link href="{{asset('bundles/jquery/jquery.jqGrid-4.5.4/css/ui.jqgrid.css')}}" rel="stylesheet"  type="text/css" media="all"/>  
 
 <script type="text/javascript" src="{{asset('bundles/jquery/jquery.jqGrid-4.5.4/js/i18n/grid.locale-es.js')}}"></script>
      <script type="text/javascript" src="{{asset('bundles/jquery/jquery.jqGrid-4.5.4/js/jquery.jqGrid.min.js')}}" ></script> 

 
    <h1>Listado de Historial Clinico</h1>

    <table id = "listado_hc">
        <thead>
            <tr>
                <th>Codigo</th>
                <th>Nombre</th>
                <th>Amenorrea</th>
                <th>Ultima&nbsp;Regla</th>
                <th>Fecha&nbsp;de&nbsp;parto</th>
                <th>Lugar&nbsp;de&nbsp;parto</th>
                <th>Patologia</th>
                <th>Periodo&nbsp;intergenesico</th>
                <th>Parto&nbsp;anterior</th>
                <th colspan = "6">Formula&nbsp;obstetrica</th>
                
                <th>Accion</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in donantes_registradas %}
            <tr>
                <td>{{ entity.codigo_donante }}</td>
                <td>{{ entity.nombre1 }} {{ entity.nombre2 }} {{ entity.apellido1 }} {{ entity.apellido2 }}</td>
                <td>{{ entity.amenorrea }}</td>
                <td>{% if entity.fechaUltimaRegla %}{{ entity.fechaUltimaRegla|date('Y-m-d') }}{% endif %}</td>
                <td>{% if entity.fechaParto %}{{ entity.fechaParto|date('Y-m-d') }}{% endif %}</td>
                <td>{{ entity.lugarParto }}</td>
                <td>{{ entity.patologiaEmbarazo }}</td>
                <td>{{ entity.periodoIntergenesico }}</td>
                <td>{% if entity.fechaPartoAnterior %}{{ entity.fechaPartoAnterior|date('Y-m-d') }}{% endif %}</td>
                <td colspan = "6">G{{ entity.formulaObstetricaG }}P{{ entity.formulaObstetricaP1 }}P{{ entity.formulaObstetricaP2 }}A{{ entity.formulaObstetricaA }}V{{ entity.formulaObstetricaV }}M{{ entity.formulaObstetricaM }}</td>
                <td><a href="{{ path('blhhistorialclinico_edit', { 'id': entity.id }) }}"><font color="blue"><u>Editar</u></font></a></td></tr>
        {% endfor %}
        </tbody>
    </table>

        <div id='pagerhc' ></div>
    {% endblock %}
