{% extends 'siblhmantenimientoBundle::plantilla.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
        <link href="{{ asset('bundles/siblhmantenimiento/css/form.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}
        {% block javascripts %}

{{parent()}}

<script type="text/javascript" src="{{ asset('bundles/siblhmantenimiento/js/BlhHistorialClinico/new.js') }}" ></script>
<script type="text/javascript" src="{{ asset('bundles/siblhmantenimiento/js/BlhHistorialClinico/dateformat.js') }}" ></script>
       
{% endblock %}

{% block body -%}
    <h1>Registro de Historial Clinico </h1>


 {#Creando el form#}
    
    
    <script type="text/javascript">

function prueba(visible, id)
 {

var elemento = document.getElementById(id);
elemento.style.visibility = visible ? "visible" : "hidden";

 }
 
</script>

 <FORM> 
   <table align = "center">       
       <tr>
       <td><b>Codigo de la Donante</b></td>
        <td>
        <INPUT type=text disabled="disabled" size=30 readonly="readonly" value= " {{ datos_donantes[0].codigo_donante }} "></td>
        <td width= "70"></td>
        <td width= "70"></td></tr>
      <tr>  <td><b>Nombre de la Donante</b></td>
        <td colspan = 3 align=left>
       <INPUT name = "label2" type=text disabled="disabled" size=30 readonly="readonly" value= "{{ datos_donantes[0].nombre1}}&nbsp;{{ datos_donantes[0].nombre2  }}&nbsp;{{ datos_donantes[0].apellido1  }} "></td>
       </tr>        
    </table>     
</form>
 
    {{ form_start(form) }}
    {{ form_errors(form) }}
   
 
  <table align = "center" >
       <tr><td style="visibility:hidden"> 
        {{ form_label(form.idDonante) }}
        {{ form_errors(form.idDonante) }}
        {{ form_widget(form.idDonante) }} </td></tr>
   <tr><td height=10  ></td></tr>
   <tr><td align = "left"><font color="red" >*</font> <b>Formula Obstetrica</b> </td>
        <td align = "left"> 
        {{ form_label(form.formulaObstetricaG, 'G') }}
        {{ form_widget(form.formulaObstetricaG,  { 'attr': {'size': '2', 'title':'Digite el numero de Embarazos', 'onKeyPress':"return soloNumerosEnteros(event);"} }) }}  
        {{ form_label(form.formulaObstetricaP1, 'P') }}
        {{ form_widget(form.formulaObstetricaP1,  { 'attr': {'size': '2', 'title':'Digite el numero de Partos', 'onKeyPress':"return soloNumerosEnteros(event);"} }) }}
        {{ form_label(form.formulaObstetricaP2, 'P') }}
        {{ form_widget(form.formulaObstetricaP2,  { 'attr': {'size': '2', 'title':'Digite el numero de Prematuros', 'onKeyPress':"return soloNumerosEnteros(event);"} }) }}
        {{ form_label(form.formulaObstetricaA, 'A') }}
        {{ form_widget(form.formulaObstetricaA,  { 'attr': {'size': '2', 'title':'Digite el numero de Abortos', 'onKeyPress':"return soloNumerosEnteros(event);"} }) }}
        {{ form_label(form.formulaObstetricaV, 'V') }}
        {{ form_widget(form.formulaObstetricaV,  { 'attr': {'size': '2', 'title':'Digite el numero de Vivos', 'onKeyPress':"return soloNumerosEnteros(event);"} }) }}
        {{ form_label(form.formulaObstetricaM, 'M') }}
        {{ form_widget(form.formulaObstetricaM,  { 'attr': {'size': '2', 'title':'Digite el numero de Muertos', 'onKeyPress':"return soloNumerosEnteros(event);"} }) }}</td>  
 
   <td align = "left"><font color="red" >*</font> 
        {{ form_label(form.periodoIntergenesico) }} </td><td align = "left">
        {{ form_widget(form.periodoIntergenesico,  { 'attr': {'size': '4', 'title': 'Digite el periodo entre 1 y 20', 'onKeyPress':"return soloNumerosEnteros(event);"} }) }} </td> </tr>
   <tr><td height=10  ></td></tr>
   <tr> <td align = "left"><font color="red" >*</font> 
        {{ form_label(form.fechaUltimaRegla, 'Ultima Regla') }}</td>
  <td align = "left"> 
        {{ form_widget(form.fechaUltimaRegla, {'attr':{'readonly': 'true', 'title': 'Dar clic y seleccionar fecha de ultima regla' } } ) }}</td>
  <td align = "left"><font color="red" >*</font> 
        {{ form_label(form.controlPrenatal) }}&nbsp;</td><td align = "left">
        {{ form_widget(form.controlPrenatal) }}</td> </tr>
  <tr><td height=10  ></td></tr>
  <tr id = "lugC"> <td align = "left"> 
        {{ form_label(form.lugarControl) }} </td><td align = "left"> 
        {{ form_widget(form.lugarControl, {'attr': {'value' : 'N/A'} }) }} </td>
  <td  align = "left">
        {{ form_label(form.numeroControl) }} &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </td> <td  align = "left"> 
        {{ form_widget(form.numeroControl, {'attr': { 'required' : 'false', 'value' : 0, 'onKeyPress':"return soloNumerosEnteros(event);"} }) }} </td></tr>
  <tr><td height=10  ></td></tr>
  <tr>      
  <td align = "left" ><label>Partos anteriores</label></td>
  <td align = "left" ><input type="radio" name="group3" value="si" onClick="prueba(true,'partoant');prueba(true,'partoant1');"> Si
                      <input type="radio" name="group3" value="no" onClick="prueba(false,'partoant');prueba(false,'partoant1');"> No<br></td>
  <td id = "partoant" style="visibility:hidden"> {{ form_label(form.fechaPartoAnterior) }}</td>
  <td id = "partoant1" style="visibility:hidden">      {{ form_widget(form.fechaPartoAnterior, {'attr':{'readonly': 'true', 'title': 'Dar clic y seleccionar fecha de parto anterior' } }) }}</td></tr>
  <tr><td height=10  ></td></tr>
  <tr><td align = "left"><font color="red" >*</font> 
        {{ form_label(form.fechaParto) }} &nbsp; &nbsp;&nbsp; &nbsp;&nbsp;</td><td align = "left">      
        {{ form_widget(form.fechaParto, {'attr':{'readonly': 'true', 'title': 'Dar clic y seleccionar fecha de parto' } }) }}</td>
 <td align = "left"> <font color="red" >*</font> 
        {{ form_label(form.amenorrea) }} &nbsp; &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td><td align = "left">        
        {{ form_widget(form.amenorrea,  { 'attr': {'readonly': 'true', 'title':'Dar clic para obtener resultado' } }) }}</td></tr>
 <tr><td height=10  ></td></tr>
  
  <tr><td align = "left"> 
  <label>Parto en Hospital</label></td>
  <td align = "left">   <input type="radio" name="group2" value="si" onClick="prueba(false,'lugar');prueba(false,'lugar1');"> Si
  <input type="radio" name="group2" value="no" onClick="prueba(true,'lugar');prueba(true,'lugar1');"> No<br></td>
  <td align = "left" id="lugar" style="visibility:hidden"><font color="red" >*</font> 
        {{ form_label(form.lugarParto) }} &nbsp; &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
  <td align = "left" id="lugar1" style="visibility:hidden">
       {{ form_widget(form.lugarParto,  { 'attr': {'value': 'N/A' } })}} </td></tr>
  <tr><td height=10  ></td></tr>
 <tr><td  align = "left"> 
 <label>Patologia en el embarazo</label></td>
 <td>  <input type="radio" name="group" value="si" onClick="prueba(true,'patologia');prueba(true,'patologia1');"> Si
 <input type="radio" name="group" value="no" onClick="prueba(false,'patologia');prueba(false,'patologia1');"> No<br></td>
 <td   align = "left" id = "patologia" style="visibility:hidden"> 
       {{ form_label(form.patologiaEmbarazo, 'Patologias') }}</td>
  <td   align = "left" id = "patologia1" style="visibility:hidden"> 
       {{ form_widget(form.patologiaEmbarazo, {'attr': { 'value' : 'N/A'} }) }}</td></tr> 
  <tr><td height=10  ></td></tr>
  <tr><td align = "left"><font color="red" size = "2" face = "Comic Sans MS">* Campos requeridos</font></td></tr>
  <tr><td colspan = '4' align = 'center'>
      <input id = "boton" type="submit"  value="Guardar"/>
      
      <input id = "boton1" type="button" value="Regresar" onClick=' window.location.href="{{ path('_NewHistorialClinico') }}" '>
           </td>

  
  
  </tr>
      </table>
   
    {{ form_end(form) }}


  {#  <tr><td><a href="{{ path('blhhistorialclinico') }}">Ver listado</a></td></tr></table> #}
{% endblock %}
