{% extends 'siblhmantenimientoBundle::plantilla.html.twig' %}
{% block javascripts %}
    {{parent()}}
   <script type="text/javascript" src="{{ asset('bundles/siblhmantenimiento/js/BlhTemperaturaEnfriamiento/index.js') }}" ></script>
{% endblock %}
   
{% block body -%}
 <link href="{{asset('bundles/jquery/jquery.jqGrid-4.5.4/css/ui.jqgrid.css')}}" rel="stylesheet"  type="text/css" media="all"/>  
 
 <script type="text/javascript" src="{{asset('bundles/jquery/jquery.jqGrid-4.5.4/js/i18n/grid.locale-es.js')}}"></script>
      <script type="text/javascript" src="{{asset('bundles/jquery/jquery.jqGrid-4.5.4/js/jquery.jqGrid.min.js')}}" ></script> 


    <h1>Listado de temperaturas</h1>
    <div align = center>
    <table id = "listado_temperaturas">
        <thead>
            <tr><th>Codigo</th>
                <th>Temperatura</th>
                <th>Accion</th></tr>
        </thead>
        <tbody>
        {% for entity in pastemperatura %}
            <tr>
                <td>{{ entity.codigo }}</td>
                <td>{{ entity.temperaturaE }}</td>
                <td><a href="{{ path('blhtemperaturaenfriamiento_edit', { 'id': entity.id }) }}"><font color="blue"><u>Editar</u></font></a></td></tr>
        {% endfor %}
        </tbody>
    </table>
            </div>
<div id='pagertemperaturas' ></div>
        {#<ul>
        <li>
            <a href="{{ path('blhtemperaturaenfriamiento') }}">
                Create a new entry
            </a>
        </li>
    </ul> #}
    {% endblock %}