{% extends 'siblhmantenimientoBundle::plantilla.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
        <link href="{{ asset('bundles/siblhmantenimiento/css/form.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}
        {% block javascripts %}

{{parent()}}

<script type="text/javascript" src="{{ asset('bundles/siblhmantenimiento/js/BlhTemperaturaEnfriamiento/new.js') }}" ></script>
       
{% endblock %}
{% block body -%}
    <h1>Registro de temperatura de enfriamiento</h1>
   <FORM> 
   <table align = "center" >
   <tr><td align = "center"><b>Codigo Pasteurizacion</b></td>
       <td align = "center"><INPUT type=text disabled="disabled" readonly="readonly" value= " {{ datos_pasteurizacion[0].codigoPasteurizacion }} "></td></tr>
   </table>
   </form> 
    
 {{ form_start(form) }}
    {{ form_errors(form) }}
    
    <table>
         <td align = "left">
         <tr align = "left"><b><font color="red" >*</font> Temperatura de Enfriamiento</b></tr></td>
    {% for temperaturas in temperaturas%}
        <td align = "left">        
        <tr align = "left"><INPUT type=text disabled="disabled" size=5 readonly="readonly" value= " {{ temperaturas.temperaturaE }} "> </tr> </td>
    {% endfor %}
        <td align = "left"><tr align = left>
        {{ form_label(form.temperaturaE, ' ') }}
        {{ form_errors(form.temperaturaE) }}
        {{ form_widget(form.temperaturaE,  { 'attr': {'size': '5', 'title': 'Temperatura entre 0 y 5 grados', 'onKeyPress':"return soloNumerosEnteros(event);"} }) }}  </tr></td>
    
        <tr><td width = 400></td>
            
            <td align = "left"><font color="red" size = "2" face = "Comic Sans MS">* Campos requeridos</font>   </td></tr>
        <tr><td width = 400></td>
            <td align = 'right' td width = 300>
          <input id = "button" type="submit" value="Guardar"/>
          <input id = "boton1" type="button" value="Regresar" onClick=' window.location.href="{{ path('_NewTemperaturaE') }}" '>
</td>
  </tr>
    </form>
     </table>
       
     <table>         
     <tr><td style="visibility:hidden"><br><br>
        {{ form_label(form.idPasteurizacion) }}
        {{ form_errors(form.idPasteurizacion) }}
        {{ form_widget(form.idPasteurizacion) }} 
     </td></tr>
     </table>           
        {{ form_end(form) }}
     
{% endblock %}