{% extends 'siblhmantenimientoBundle::plantilla.html.twig' %}

{% block javascripts %}
    {{parent()}}
   <script type="text/javascript" src="{{ asset('bundles/siblhmantenimiento/js/BlhTemperaturaEnfriamiento/pasteurizacion.js') }}" ></script>
{% endblock %}
   
{% block body -%}
 <link href="{{asset('bundles/jquery/jquery.jqGrid-4.5.4/css/ui.jqgrid.css')}}" rel="stylesheet"  type="text/css" media="all"/>  
 
 <script type="text/javascript" src="{{asset('bundles/jquery/jquery.jqGrid-4.5.4/js/i18n/grid.locale-es.js')}}"></script>
      <script type="text/javascript" src="{{asset('bundles/jquery/jquery.jqGrid-4.5.4/js/jquery.jqGrid.min.js')}}" ></script> 

    <h1>Pasteurizaciones</h1>
    <table id = "listado_pasteurizaciones">
       
            
             <thead>
            <tr>
                <th>id</th>
                <th>Codigo</th>
                <th>Ciclo</th>
                <th>VolumenPasteurizado</th>
                <th>CantidadFrascos</th>
                <th>FechaPasteurizacion</th>
                <th>Accion</th>
                
            </tr>
          
        </thead>
      
    
        <tbody>
            <tr>
       {% for pasteurizacion in pasteurizaciones%}
            
               <td><a href="{{ path('blhtemperaturaenfriamiento_new', { 'id': pasteurizacion.identificador }) }}">{{ pasteurizacion.identificador }}</a></td>
                <td>{{ pasteurizacion.codigoPasteurizacion }}</td>
                <td>{{ pasteurizacion.numCiclo }}</td>
        
                <td>{{ pasteurizacion.volumenPasteurizado }}</td>
                <td>{{ pasteurizacion.numFrascosPasteurizados }}</td>
                <td>{{ pasteurizacion.fechaPasteurizacion|date('d-m-Y') }}</td>
               
                <td><a href="{{ path('blhtemperaturaenfriamiento_new', { 'id': pasteurizacion.identificador })}}"><font color="blue"><u>Temperatura Enfriamiento</u></font></a></td></tr>
        {% endfor %}
            
        </tbody>
    </table>
<div id='pagerpasteurizaciones' ></div>
        {% endblock %}