{% extends 'siblhmantenimientoBundle::plantilla.html.twig' %}


{% block javascripts %}
    {{parent()}}
   <script type="text/javascript" src="{{ asset('bundles/siblhmantenimiento/js/BlhDonacion/index.js') }}" ></script>
{% endblock %}
   
{% block body -%}
 <link href="{{asset('bundles/jquery/jquery.jqGrid-4.5.4/css/ui.jqgrid.css')}}" rel="stylesheet"  type="text/css" media="all"/>  
 
 <script type="text/javascript" src="{{asset('bundles/jquery/jquery.jqGrid-4.5.4/js/i18n/grid.locale-es.js')}}"></script>
      <script type="text/javascript" src="{{asset('bundles/jquery/jquery.jqGrid-4.5.4/js/jquery.jqGrid.min.js')}}" ></script> 

    <h1>Donaciones</h1>

    <table id = "listado_d">
        <thead>
            <tr>
                <th>Codigo</th>
                <th>Nombre</th>
                <th>Fecha</th>
                <th>Responsable</th>
                <th>Accion</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in donaciones %}
            <tr><td>{{ entity.codigo_donante }}</td>
                <td>{{ entity.nombre1 }} {{ entity.nombre2 }} {{ entity.apellido1 }} {{ entity.apellido2 }}</td>
                <td>{% if entity.fechaDonacion %}{{ entity.fechaDonacion|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.responsableDonacion }}</td>
                <td><a href="{{ path('blhdonacion_edit', { 'id': entity.id }) }}"><font color="blue"><u>Editar</u></font></a></td></tr>
        {% endfor %}
        </tbody>
    </table>
<div id='pagerd' ></div>
    {% endblock %}
