{# empty Twig template #}
{% extends 'siblhmantenimientoBundle::plantilla.html.twig'%}
{% block javascripts %}
    {{parent()}}
    <script type="text/javascript" src="{{ asset('bundles/siblhmantenimiento/js/BlhAnalisisMicrobiologico/frascospasteurizados.js') }}" ></script> 
{% endblock %}

    
{% block body -%}
     <link href="{{asset('bundles/jquery/jquery.jqGrid-4.5.4/css/ui.jqgrid.css')}}" rel="stylesheet"  type="text/css" media="all"/>  
     <script type="text/javascript" src="{{asset('bundles/jquery/jquery.jqGrid-4.5.4/js/i18n/grid.locale-es.js')}}"></script>
     <script type="text/javascript" src="{{asset('bundles/jquery/jquery.jqGrid-4.5.4/js/jquery.jqGrid.min.js')}}" ></script> 
  
      <h1>Listado de Frascos Pasteurizados</h1>
    
    <table id="listado_pasteurizados">
        <thead>
            <tr>
        
                <th>Codigo&nbsp;Frasco</th>
                <th>Observacion</th> 
                <th>Acción</th>
            </tr>
          
        </thead>
        <tbody>
           
       {% for pasteurizados in frascos_pasteurizados%}
            <tr> 
                
                <td>{{ pasteurizados.codigoFrascoProcesado}}</td>
                <td>{{ pasteurizados.observacionFrascoProcesado }}</td>      
                <td> <a href="{{ path('blhanalisismicrobiologico_new', { 'id': pasteurizados.id })}}">Nuevo Analisis</a></td>
                 </tr>

                 {% endfor %}
                
                  </tbody>
                  </table>
               <div id='pagerPasteurizados' ></div>

    {% endblock %}         