{% extends 'siblhmantenimientoBundle::plantilla.html.twig'%}
{% block javascripts %}
    {{parent()}}
    <script type="text/javascript" src="{{ asset('bundles/siblhmantenimiento/js/BlhAnalisisMicrobiologico/index.js') }}" ></script> 
{% endblock %}

     
{% block body -%}   
     <link href="{{asset('bundles/jquery/jquery.jqGrid-4.5.4/css/ui.jqgrid.css')}}" rel="stylesheet"  type="text/css" media="all"/>  
     <script type="text/javascript" src="{{asset('bundles/jquery/jquery.jqGrid-4.5.4/js/i18n/grid.locale-es.js')}}"></script>
     <script type="text/javascript" src="{{asset('bundles/jquery/jquery.jqGrid-4.5.4/js/jquery.jqGrid.min.js')}}" ></script> 
  
     <h1>Listado de Analisis microbiologico</h1>
    
    <table id="listado_AnalisisMicro">
        <thead>
            <tr>
                <th>Codigo</th> 
                <th>ColiformesTotales</th>  
                <th>Control</th>  
                <th>Situacion</th>  
                <th>Acción</th>
            </tr>
        </thead>
        <tbody>   
     {% for entity in entities %}
           <tr>
                <td>{{ entity.codigoAnalisisMicrobiologico }}</td>
                 <td>{{ entity.coliformesTotales }}</td>
                <td>{{ entity.control }}</td>
                <td>{{ entity.situacion }}</td>
<td><a href="{{ path('blhanalisismicrobiologico_edit', { 'id': entity.id }) }}"><font color="blue"><u>Editar</u></font></a></td>
            </tr>
    {% endfor %}
                  </tbody>
                  </table>
               <div id='pagerAnalisisMicro' ></div>

    {% endblock %}  