{% extends 'siblhmantenimientoBundle::plantilla.html.twig' %} 

{% block stylesheets %}
    {{ parent() }}
        <link href="{{ asset('bundles/siblhmantenimiento/css/form.css') }}" rel="stylesheet" type="text/css" />
 {% endblock %}
        
        
        {% block javascripts %}
    {{parent()}}
    
    <script type="text/javascript" src="{{ asset('bundles/siblhmantenimiento/js/BlhAnalisisMicrobiologico/new.js') }}" ></script>
    
{% endblock %}

{% block body -%}
    <h1> Registro Analisis Microbiologico</h1>


<FORM> 
   <table align = "center" cellspacing="20">
       
       <tr>
       <td  align = "left">Frasco Pasteurizado</td>
        <td>
         <INPUT type=text STYLE="text-align:center" disabled="disabled" size=20 readonly="readonly" value= " {{ frascos_pasteurizados[0].codigoFrascoProcesado}} "></td>
        <td  align = "right">Observacion</td>
        <td>   
         <INPUT type=text STYLE="text-align:center" disabled="disabled" size=30 readonly="readonly" value=" {{ frascos_pasteurizados[0].observacionFrascoProcesado }}"></td> 
       </tr>  
             
    </table>
    </FORM> 

    
  {{ form_start(form) }}
    {{ form_errors(form) }}
    
       
<table border=0 align="center" CELLPADDING="20" >
<TR> 
<TD align="left" ROWSPAN=3>
    
    <td align="left"> 
        {{ form_label(form.coliformesTotales, 'Coliformes totales') }}</td>
    <td>{{ form_errors(form.coliformesTotales) }}
        {{ form_widget(form.coliformesTotales) }} </td>
 </tr>
 

 <TR>
    <td align="left">
          {{ form_label(form.situacion, 'Situacion') }}</td>
   <td>  {{ form_errors(form.situacion) }}
         {{ form_widget(form.situacion) }}   
    </td> 
     
  </TR>  
  
  
   <TR style="visibility:hidden">
       <td align="left" > 
        {{ form_label(form.control, 'Control')}}     </td>
    <td>{{ form_errors(form.control) }}
        {{ form_widget(form.control) }} </td>
    
    
    
 </TR>
 
 <td colspan = '7' align = 'center'><input type="submit" id= "boton" value="Guardar"/><input id = "boton1" type="button" value="Regresar" onClick=' window.location.href="{{ path('_NewAnalisisMicrobiologico' )}}"'> </td></tr>

     </table>
            
    
    
    <table align = "center">
        
      <tr style="visibility:hidden">
    <td> {{ form_label(form.idFrascoProcesado) }}
        {{ form_errors(form.idFrascoProcesado) }}
        {{ form_widget(form.idFrascoProcesado) }}</td>  
        </tr>
</table>

     {{ form_end(form) }}

     
{% endblock %}

