{% extends 'siblhmantenimientoBundle::plantilla.html.twig' %}

{% block stylesheets %}
  {{ parent() }}
        <link href="{{ asset('bundles/siblhmantenimiento/css/form.css') }}" rel="stylesheet" type="text/css" />
        
{% endblock %}

{% block javascripts %}

{{parent()}}

<script type="text/javascript" src="{{ asset('bundles/siblhmantenimiento/js/BlhSeguimientoReceptor/edit.js') }}" ></script>
        
{% endblock %}

{% block body -%}
    <h1>Editar Seguimiento a Receptor</h1>
{{ form_start(edit_form) }}
{{ form_errors(edit_form) }}
    
    <table align='center'>
        
    <tr><td  align = "right" height=10  ></td></tr>
<tr>
    <tr><td align='left' ><font color="red">*</font>{{ form_label(edit_form.fechaSeguimiento,'Fecha') }}</td><td align='left'>{{ form_widget(edit_form.fechaSeguimiento, {'attr':{ 'readonly': 'true', 'title': 'Dar clic y seleccionar la fecha de seguimiento' } }) }}</td></tr>
    <tr><td align = "right" height=10  ></td></tr>
        <tr><td align='left'><font color="red">*</font>{{ form_label(edit_form.periodoEvaluacion) }}</td><td align='left'>{{ form_widget(edit_form.periodoEvaluacion, { 'attr': {'title': 'Por favor ingrese el perdiodo de evaluacion, entre 5 y 10.','onKeyPress':"return soloNumerosEnteros(event);"} }) }}</td></tr>
    <tr><td align = "right" height=10  ></td></tr>
    <tr><td align='left'><font color="red">*</font>{{ form_label(edit_form.semana) }}</td><td align='left'>{{ form_widget(edit_form.semana, { 'attr': {'title': 'Por favor ingrese la semana de seguimiento, entre 1 y 16.','onKeyPress':"return soloNumerosEnteros(event);"} }) }}</td></tr>
    <tr><td align = "right" height=10  ></td></tr>
    <tr><td align='left'><font color="red">*</font>{{ form_label(edit_form.pcSeguimiento,'Perímetro cefálico(cm)') }}</td><td align='left'>{{ form_widget(edit_form.pcSeguimiento,  { 'attr': {'title': 'Por favor ingrese el perímetro cefálico, entre 20 y 40 cm','onKeyPress':"return soloNumeros(event);"} }) }}</td></tr>
    <tr><td align = "right" height=10  ></td></tr>
     <tr><td align='left'><font color="red">*</font>{{ form_label(edit_form.gananciaDiaPc,'Ganancia/Pérdida perímetro cefálico por día(cm)') }}</td><td align='left'>{{ form_widget(edit_form.gananciaDiaPc,  { 'attr': {'title': 'Por favor ingrese la ganancia o pérdida de perímetro cefálico, entre -5 y 5 cm','onKeyPress':"return soloNumeros(event);"} }) }}</td></tr>
    <tr><td align = "right" height=10  ></td></tr>
    <tr><td align='left'><font color="red">*</font>{{ form_label(edit_form.pesoSeguimiento,'Peso(g)') }}</td><td align='left'>{{ form_widget(edit_form.pesoSeguimiento, { 'attr': {'title': 'Por favor ingrese el peso, entre 500 y 5000 g','onKeyPress':"return soloNumeros(event);"} }) }}</td></tr>
    <tr><td align = "right" height=10  ></td></tr>
    <tr><td align='left'><font color="red">*</font>{{ form_label(edit_form.gananciaDiaPeso, ' Ganancia/Pérdida de peso por día(g)') }}</td><td align='left'>{{ form_widget(edit_form.gananciaDiaPeso,{ 'attr': {'title': 'Por favor ingrese la ganancia o pérdida de peso, entre -50 y 50 g','onKeyPress':"return soloNumeros(event);"} }) }}</td></tr>
    <tr><td align = "right" height=10  ></td></tr>
    <tr><td align='left'><font color="red">*</font>{{ form_label(edit_form.tallaReceptor,'Talla(cm)') }}</td><td align='left'>{{ form_widget(edit_form.tallaReceptor,{ 'attr': {'title': 'Por favor ingrese la talla, entre 25 y 55 cm','onKeyPress':"return soloNumeros(event);"} }) }}</td></tr>
    <tr><td align = "right" height=10  ></td></tr>
    <tr><td align='left'><font color="red">*</font>{{form_label(edit_form.gananciaDiaTalla,'Ganancia/Pérdida de talla por dia(cm)') }}</td><td align='left'>{{form_widget(edit_form.gananciaDiaTalla, { 'attr': {'title': 'Por favor ingrese la ganancia o pérdida de talla, entre -5 y 5 cm','onKeyPress':"return soloNumeros(event);"} }) }}</td></tr>
    <tr><td align = "right" height=10  ></td></tr>
    <tr><td align='left'><font color="red">*</font>{{form_label(edit_form.complicaciones) }}</td><td align='left'>{{form_widget(edit_form.complicaciones) }}</td></tr>
        <tr><td align = "right" height=10  ></td></tr>
    <tr><td align='left'><font color="red">*</font>{{form_label(edit_form.observacion,'Observaciones') }}</td><td align='left'>{{form_widget(edit_form.observacion) }}</td></tr>
    <tr><td align='right' style="visibility:hidden">{{ form_label(edit_form.idReceptor) }}{{ form_widget(edit_form.idReceptor) }}</td></tr>
    <tr><td align = 'left'  ><font color="red" face = "Comic Sans MS">* Campos requeridos</font></td></tr>
    <tr><td align = "right" height=10  ></td></tr>

</table>
    <table align = "center">
           <tr>
             <td align = 'center' > <input type='submit' id='boton' title="Actualizar seguimiento"  value="Actualizar"/><input id = "boton1" type="button" value="Regresar" onClick=' window.location.href="{{ path('blhseguimientoreceptor' )}}"'></td></td>              
          </tr>
           </table>
    {{ form_end(edit_form) }}
  

        

{% endblock %}