{% extends 'siblhmantenimientoBundle::plantilla.html.twig' %}
{% block javascripts %}
    {{parent()}}
    <script type="text/javascript" src="{{ asset('bundles/siblhmantenimiento/js/BlhSeguimientoReceptor/index.js') }}" ></script>
{% endblock %}
{% block body -%}
     <link href="{{asset('bundles/jquery/jquery.jqGrid-4.5.4/css/ui.jqgrid.css')}}" rel="stylesheet"  type="text/css" media="all"/>  
     <script type="text/javascript" src="{{asset('bundles/jquery/jquery.jqGrid-4.5.4/js/i18n/grid.locale-es.js')}}"></script>
      <script type="text/javascript" src="{{asset('bundles/jquery/jquery.jqGrid-4.5.4/js/jquery.jqGrid.min.js')}}" ></script>
    <h1>Listado de seguimientos a receptores</h1>
    <div align=center>
    <table id="listado_Seguimiento">
        <thead>
            <tr>
                <th>Nombre</th> 
                <th>Fecha</th>
                <th>Periodo&nbsp;Evaluacion</th>
                <th>Semana</th>
                <th>Talla(cm)</th>
                <th>Ganancia/Pérdida&nbsp;talla(cm)</th>
                <th>Peso(g)</th>
                <th>Ganancia/Pérdida&nbsp;peso(g)</th>
                <th>Perímetro&nbsp;cefálico(cm)</th>       
                <th>Ganancia/Pérdida&nbsp;PC(cm)</th>
                <th>Complicaciones</th>
                <th>Observaciones</th>
                <th>Acción</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.nombre1 }}&nbsp;{{entity.nombre2 }}&nbsp;{{ entity.nombre3 }}&nbsp;{{ entity.nombre3 }}&nbsp;{{ entity.apellido1 }}&nbsp;{{ entity.apellido2 }}</td>
                <td>{% if entity.fechaSeguimiento %}{{ entity.fechaSeguimiento|date('Y-m-d') }}{% endif %}</td>
                <td>{{ entity.periodoEvaluacion }}</td>
                <td>{{ entity.semana }}</td>
                <td>{{ entity.tallaReceptor|number_format(2, '.', ',') }}</td>
                <td>{{ entity.gananciaDiaTalla|number_format(2, '.', ',') }}</td>
                <td>{{ entity.pesoSeguimiento|number_format(2, '.', ',') }}</td>
                <td>{{ entity.gananciaDiaPeso|number_format(2, '.', ',') }}</td>
                <td>{{ entity.pcSeguimiento|number_format(2, '.', ',') }}</td>
                <td>{{ entity.gananciaDiaPc|number_format(2, '.', ',') }}</td>
                <td>{{ entity.complicaciones }}</td>
                <td>{{ entity.observacion }}</td>
                <td><a href="{{ path('blhseguimientoreceptor_edit', { 'id': entity.id }) }}"><font color="blue"><u>Editar</u></font></a></td>
               {# <td>
                <ul>
                    <li>
                        <a href="{{ path('blhseguimientoreceptor_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('blhseguimientoreceptor_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>#}
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
    <div id='pagerSeguimiento' ></div>

       
    {% endblock %}