{% extends 'siblhmantenimientoBundle::plantilla.html.twig' %}



{% block stylesheets %}
  {{ parent() }}
	<link href="{{ asset('bundles/siblhmantenimiento/css/form.css') }}" rel="stylesheet" type="text/css" />
        
{% endblock %}
        
 {% block javascripts %}   
{{parent()}}
<script type="text/javascript" src="{{ asset('bundles/siblhmantenimiento/js/BlhSeguimientoReceptor/new.js') }}" ></script>

{% endblock %}

{% block body -%}
    <h1>Registro de Seguimiento de Receptores</h1>
    
     
                {{ form_start(form) }}
                {{ form_errors(form) }}
   <table align = "center" width = "90%" >
        <tr><td align = "right" height=40  ></td></tr>
         <tr>
             <td  align = "left" width=180><b>Nombre de Receptor</b></td>
                <td  align = "left" width=700>
                <INPUT type=text STYLE="text-align:center" name="nombre" disabled="disabled" size=50 readonly="readonly" value= {{ datos_receptor[0].primer_nombre}}&nbsp;{{ datos_receptor[0].segundo_nombre  }}&nbsp;{{ datos_receptor[0].tercer_nombre  }}&nbsp;{{ datos_receptor[0].primer_apellido }}&nbsp;{{ datos_receptor[0].segundo_apellido }}>
               </td>  
             
                <td  align = "right" width=200 style="visibility:hidden"> 
                {{ form_label(form.idReceptor) }}
                {{ form_errors(form.idReceptor) }}
                {{ form_widget(form.idReceptor) }} </td>
                <td align = "left" width=150 ><b>Codigo Receptor</b></td>
                <td width=150 align = "right">
                <INPUT type=text STYLE="text-align:center" name="nombre" disabled="disabled" size=20 readonly="readonly" value= " {{ datos_receptor[0].codigoReceptor}} ">
                </td>          
        </tr>     
      <tr><td align = "right" height=40  ></td></tr>
        </table>
    
        
   
        <table align = "center" width = "90%" >
          
        <tr>
        <td height=10 align = "left" width=400><font color="red">*</font>{{ form_label(form.fechaSeguimiento, 'Fecha') }}</td>
        <td height=10 align="left" > {{ form_widget(form.fechaSeguimiento, {'attr':{ 'readonly': 'true', 'title': 'Dar clic y seleccionar la fecha de seguimiento' } }) }} </td>
        <td height=10 align = "left" width=350 ><font color="red" >*</font>{{ form_label(form.semana) }}</td>
        <td height=10 align="left" width=250>{{ form_widget(form.semana, { 'attr': {'title': 'Por favor ingrese la semana de seguimiento, ejemplo: 1, 2, 3, etc.','onKeyPress':"return soloNumerosEnteros(event);"} }) }} </td>
        <td  align = "left" width=300><font color="red">*</font>{{ form_label(form.pcSeguimiento,'Perímetro cefálico(cm)') }}</td>
        <td>{{ form_widget(form.pcSeguimiento,{ 'attr': {'title': 'Por favor ingrese el perímetro cefálico, entre 20 y 40 cm','onKeyPress':"return soloNumeros(event);"} }) }} </td>
        </tr>
        <tr><td align = "right" height=10  ></td></tr>
        <tr>
        <td height=10 align = "left" ><font color="red" >*</font>{{ form_label(form.pesoSeguimiento, 'Peso(g)') }}</td>
        <td height=10 align="left">{{ form_widget(form.pesoSeguimiento, { 'attr': {'title': 'Por favor ingrese el peso, entre 500 y 5000 g','onKeyPress':"return soloNumeros(event);"} }) }} </td>       
        <td height=10 align = "left"><font color="red">*</font>{{ form_label(form.gananciaDiaPeso, 'Ganancia de peso por día(g)') }}</td>
        <td height=10 align="left">{{ form_widget(form.gananciaDiaPeso,{ 'attr': {'title': 'Por favor ingrese la ganancia de peso, entre 0 y 50 g','onKeyPress':"return soloNumeros(event);"} }) }} </td>       
        <td align = "left"><font color="red">*</font>{{ form_label(form.tallaReceptor,'Talla(cm)') }}</td>
        <td>{{ form_widget(form.tallaReceptor,{ 'attr': {'title': 'Por favor ingrese la talla, entre 25 y 55 cm','onKeyPress':"return soloNumeros(event);"} }) }} </td></tr>
        <tr><td align = "right" height=10  ></td></tr>
      <tr>
        <td height=10 align = "left" ><font color="red">*</font>{{ form_label(form.gananciaDiaTalla,'Ganancia de talla por día(cm)') }}</td>
        <td height=10 align="left" width=350>{{ form_widget(form.gananciaDiaTalla, { 'attr': {'title': 'Por favor ingrese la ganancia de talla, entre 0 y 5 cm','onKeyPress':"return soloNumerosEnteros(event);"} }) }} </td>          
        <td height=10 align = "left"><font color="red">*</font>{{ form_label(form.complicaciones) }}</td>
        <td height=10  align="left">{{ form_widget(form.complicaciones) }} </td>
        <td align = "right" height=40  ></td></tr>
        <tr><td  align = "right" height=40  ></td></tr>
        </table>
        <table align = "center" width = "90%" >
        <tr><td width=172 align = 'left'  ><font color="red" face = "Comic Sans MS">* Campos requeridos</font></td></tr>
          <tr>
            <td width=900 align = 'center'><input type="submit" id='boton' title='Guardar Seguimiento de Receptor' value="GUARDAR"/>{#<input type='reset' id='boton' title='Cancelar' value='Cancelar'/>#}</td>
        </tr>    
       
        
        </table>

  {{ form_end(form) }}     
   
{% endblock %}
