{% extends 'siblhmantenimientoBundle::plantilla.html.twig' %}



{% block stylesheets %}
  {{ parent() }}
	<link href="{{ asset('bundles/siblhmantenimiento/css/form.css') }}" rel="stylesheet" type="text/css" />
        
{% endblock %}
        
 {% block javascripts %}   
{{parent()}}
<script type="text/javascript" src="{{ asset('bundles/siblhmantenimiento/js/BlhSeguimientoReceptor/new.js') }}" ></script>

{% endblock %}

{% block body -%}
    <h1>Registro de Seguimiento de Receptores</h1>
    
     
                {{ form_start(form) }}
                {{ form_errors(form) }}
   <table align = "center" width = "100%">
        <tr><td colspan=2 align = "right" height=40  ></td></tr>
         <tr>
             <td colspan = "2" align = "right"><b>Nombre del Receptor</b></td>
                <td colspan = "5" align = "left">
                <INPUT type=text STYLE="text-align:center" name="nombre" disabled="disabled" size=35 readonly="readonly" value= {{ datos_receptor[0].primer_nombre}}&nbsp;{{ datos_receptor[0].segundo_nombre  }}&nbsp;{{ datos_receptor[0].tercer_nombre  }}&nbsp;{{ datos_receptor[0].primer_apellido }}&nbsp;{{ datos_receptor[0].segundo_apellido }}>
               </td>  
             
                <td colspan="7" align = "right" style="visibility:hidden"> 
                {{ form_label(form.idReceptor) }}
                {{ form_errors(form.idReceptor) }}
                {{ form_widget(form.idReceptor) }} </td>
                <td colspan = "2" align = "right" ><b>Codigo Receptor</b></td>
                <td width=150 align = "right">
                <INPUT type=text STYLE="text-align:center" name="nombre" disabled="disabled" size=20 readonly="readonly" value= " {{ datos_receptor[0].codigoReceptor}} ">
                </td>          
        </tr>     
      <tr><td colspan=2 align = "right" height=40  ></td></tr>
        </table>
    
        
   
        <table align = "center" width = "100%" >
          
        <tr>
        <td height=10 align = "right"><font color="red">*</font>  
                
                {{ form_label(form.fechaSeguimiento, 'Fecha') }}</td>
               <td height=10 align="left"> {{ form_widget(form.fechaSeguimiento) }} </td>
        <td height=10 align = "right"  title='Ingrese el numero de semana del seguimiento'><font color="red" >*</font>  
        {{ form_label(form.semana) }}</td>
        <td height=10 align="left">{{ form_widget(form.semana) }} </td>
        <td colspan="3" align = "right" ><font color="red">*</font>                  
                {{ form_label(form.pcSeguimiento,'Perímetro cefálico(cm)') }}
                {{ form_errors(form.pcSeguimiento) }}
                {{ form_widget(form.pcSeguimiento) }} </td>
        </tr>
        <tr><td colspan=2 align = "right" height=10  ></td></tr>
      <tr>
            <td height=10 align = "right" ><font color="red" >*</font>                  
                {{ form_label(form.pesoSeguimiento, 'Peso(g)') }}</td>
                <td height=10 align="left">{{ form_widget(form.pesoSeguimiento) }} </td>       
                <td height=10 align = "right"><font color="red">*</font>                  
                {{ form_label(form.gananciaDiaPeso, 'Ganancia de peso por día(g)') }}</td>
                <td height=10 align="left">{{ form_widget(form.gananciaDiaPeso) }} </td>       
                <td colspan="3" align = "right"  ><font color="red">*</font>                  
                {{ form_label(form.tallaReceptor,'Talla(cm)') }}
                {{ form_errors(form.tallaReceptor) }}
                {{ form_widget(form.tallaReceptor) }} </td></tr>
        <tr><td colspan=2 align = "right" height=10  ></td></tr>
      <tr>
        <td height=10 align = "right" ><font color="red">*</font>  
        {{ form_label(form.gananciaDiaTalla,'Ganancia de talla por día(cm)') }}</td>
        <td height=10 align="left">{{ form_widget(form.gananciaDiaTalla) }} </td> 
          
        <td height=10 align = "right"  ><font color="red">*</font>  
        {{ form_label(form.complicaciones) }}</td>
        <td height=10  align="left">{{ form_widget(form.complicaciones) }} </td>
        <td colspan=2 align = "right" height=40  ></td></tr>
        <tr><td colspan=2 align = "right" height=40  ></td></tr>
        </table>
        <table align = "center" width = "100%" >
        <tr>
            <td width=172 align = 'left'  ><font color="red">* Campos requeridos</font></td>
            <td width=900 align = 'center'><input type="submit" id='boton' title='Guardar Seguimiento de Receptor' value="GUARDAR"/>{#<input type='reset' id='boton' title='Cancelar' value='Cancelar'/>#}</td>
        </tr>    
       
        
        </table>

  {{ form_end(form) }}     
   
{% endblock %}
