{% extends 'siblhmantenimientoBundle::plantilla.html.twig' %}

{#{% block javascripts %}
    {{parent()}}
    <script type="text/javascript" src="{{ asset('bundles/siblhmantenimiento/js/Solicitud/index.js') }}" ></script>
{% endblock %}#}

{% block body -%}
    <h1>Listado de Receptores</h1>
    <table  class="record_properties">
        <thead>
            <tr>
                <th>Codigo Receptor</th>
                <th>Primer Nombre</th>
                <th>Segundo Nombre</th>
                <th>Tercer Nombre</th>
                <th>Primer Apellido</th>
                <th>Segundo Apellido</th>
                <th>Accion</th>
            </tr>
            {#<tr>
                 <td><b>Codigo</b></td>
                 <td colspan = "4" align = "center"><b>Nombre Receptor</b></td>
                 
                 
                <td align = "center"><b>Accion</b></td>
            </tr>#}
        </thead>
        <tbody>
            <tr>
       {% for receptor in receptores_seguimiento%}
            
              {# <td><a href="{{ path('blhsolicitud_new', { 'id': paciente.id }) }}">{{ paciente.id }}</a></td>#}
                <td>{{ receptor.codigoReceptor }}</td>
                <td>{{ receptor.nombre1 }}</td>
                <td>{{ receptor.nombre2 }}</td>
                <td>{{ receptor.nombre3 }}</td>
        
                <td>{{ receptor.apellido1 }}</td>
                <td>{{ receptor.apellido2 }}</td>
               
                <td>
               <div id='pagerSolicitudes' ></div>
               <div id='resultado' ></div>
               <ul><li>
           <a href="{{ path('blhseguimientoreceptor_new', { 'id': receptor.id })}}">Registrar Seguimiento</a></li></ul> 
               {# <ul>
                    <li>
                        <a href="{{ path('blhsolicitud_new', { 'id': paciente.id })}}">Nueva Soliciud</a>
                    </li>
                    
                                       
                </ul>#}
                </td> 
                {% endfor %}
            </tr>
        
            

            
            
           
        </tbody>
    </table>

        
    {% endblock %}