{% extends 'siblhmantenimientoBundle::plantilla.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
	<link href="{{ asset('bundles/siblhmantenimiento/css/form.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block body -%}
    <h1>Detalle de seguimiento registrado</h1>

    <table class="record_properties" align="center">
        <tbody>
            <tr>
                <th>Talla(cm)</th>
                <td>{{ entity.tallaReceptor|number_format(2, '.', ',') }}</td>
            </tr>
            <tr>
                <th>Peso(g)</th>
                <td>{{ entity.pesoSeguimiento|number_format(2, '.', ',') }}</td>
            </tr>
            <tr>
                <th> Perímetro&nbsp;cefálico(cm)</th>
                <td>{{ entity.pcSeguimiento|number_format(2, '.', ',') }}</td>
            </tr>
            <tr>
                <th>Ganancia&nbsp;de&nbsp;peso&nbsp;por&nbsp;día(g)</th>
                <td>{{ entity.gananciaDiaPeso|number_format(2, '.', ',') }}</td>
            </tr>
            <tr>
                <th>Semana</th>
                <td>{{ entity.semana }}</td>
            </tr>
            <tr>
                <th>Fecha</th>
                <td>{{ entity.fechaSeguimiento|date('d-m-Y') }}</td>
            </tr>
            <tr>
                <th> Ganancia&nbsp;de&nbsp;talla&nbsp;por&nbsp;día(cm)</th>
                <td>{{ entity.gananciaDiaTalla|number_format(2, '.', ',') }}</td>
            </tr>
            <tr>
                <th>Complicaciones</th>
                <td>{{ entity.complicaciones }}</td>
            </tr>
        
        <tr>
        <td><a href="{{ path('blhreceptores_seguimiento') }}">
            Registrar nuevo seguimiento
        </a></td></tr>
        <tr>
        <td><a href="{{ path('blhseguimientoreceptor_edit', { 'id': entity.id }) }}">
            Editar
        </a></td></tr>
        </tbody>
    </table>

 

        


{% endblock %}
