{% extends 'siblhmantenimientoBundle::plantilla.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
        <link href="{{ asset('bundles/siblhmantenimiento/css/form.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}
        {% block javascripts %}

{{parent()}}

<script type="text/javascript" src="{{ asset('bundles/siblhmantenimiento/js/BlhEgresoReceptor/new.js') }}" ></script>
       
{% endblock %}

{% block body -%}
    <h1>Registro de Egreso Receptor</h1>
    
    <FORM> 
   <table align = "center" >
       
       <tr>
       <td align = "center">Codigo Receptor</td>
        <td align = "center">
        <INPUT type=text disabled="disabled" readonly="readonly" value= " {{ datos_receptores[0].codigoReceptor }} "></td></tr>
      <tr>
       <td >Nombre Recptor</td>
        <td>
         <INPUT name = "label2" type=text disabled="disabled" size=30 readonly="readonly" value= "{{ datos_receptores[0].nombre1}}&nbsp;{{ datos_receptores[0].nombre2  }}&nbsp;{{ datos_receptores[0].nombre3  }}&nbsp;{{ datos_receptores[0].apellido1  }} "></td>
  
    </tr>
    <tr>
       <td >Fecha registro BLH</td>
        <td>
         <INPUT name = "label2" id = "fecha" type=text disabled="disabled" size=30 readonly="readonly" value= "{{ datos_receptores[0].fechaRegistroBlh|date('Y-m-d') }} "></td>
  
    </tr>
    </table>
    </form>        
    
    {{ form_start(form) }}
    {{ form_errors(form) }}
    <table align = "center" WIDTH = "80%">
        <tr>
    <td align = left><font color="red" >*</font> 
        {{ form_label(form.fechaEgreso, 'Fecha de egreso') }}</td><td align = left>
        {{ form_widget(form.fechaEgreso,  { 'attr': {'title': 'Dar clic y seleccionar fecha de egreso'} }) }} </td>
        
     <td align = center colspan = "3"><font color="red" >*</font> 
        {{ form_label(form.estanciaHospitalaria, 'Dias de estancia hospitalaria') }}</td><td align = left>
        {{ form_widget(form.estanciaHospitalaria,  { 'attr': {'size': '3', 'title': 'Ingrese los dias de estancia hospitalaria, entre 1 y 120', 'onKeyPress':"return soloNumerosEnteros(event);"} }) }} </td>   
        
      </tr><tr><td height=10  ></td></tr>      
    <tr>
    <td align = left><font color="red" >*</font> 
        {{ form_label(form.permanenciaUcin, 'Permanencia en UCIN') }}</td><td align = left>
        {{ form_widget(form.permanenciaUcin,  { 'attr': {'size': '3','title': 'Ingrese los dias de permanencia en UCIN, entre 1 y 120', 'onKeyPress':"return soloNumerosEnteros(event);"} }) }} </td>
        
     <td align = left><font color="red" >*</font> 
        {{ form_label(form.madreCanguro) }}</td><td align = left>
        {{ form_widget(form.madreCanguro) }} </td>  
         
     <td align = left><font color="red" >*</font> 
        {{ form_label(form.trasladoPeriferico, 'Traslado a periferico') }}</td><td align = left>
        {{ form_widget(form.trasladoPeriferico) }} </td>      
        
        </tr><tr><td height=10  ></td></tr>  
    
     <tr>
    <td align = left><font color="red" >*</font> 
        {{ form_label(form.tipoEgreso, 'Tipo de egreso') }}</td><td align = left>
        {{ form_widget(form.tipoEgreso) }} </td>
        
     <td align = left ><font color="red" >*</font> 
        {{ form_label(form.comentarioEgreso, 'Descripcion Egreso') }}</td><td align = left>
        {{ form_widget(form.comentarioEgreso,  { 'attr': {'width': '370', 'resize' : 'none'} }) }} </td>
     <td align = left ><font color="red" >*</font> 
        {{ form_label(form.diagnosticoEgreso, 'Diagnostico de Egreso') }}</td><td align = left>
        {{ form_widget(form.diagnosticoEgreso) }} </td></tr> 
      <tr><td height=10  ></td></tr> 

    <tr><td align = left colspan=2><font color="red" >*</font> 
        {{ form_label(form.hospitalSeguimientoEgreso, 'Hospital de seguimiento egreso') }}</td><td colspan=4 align = left>
        {{ form_widget(form.hospitalSeguimientoEgreso) }} </td></tr>
            
     <tr style="visibility:hidden"><td align = left colspan = "3">
        {{ form_label(form.idReceptor) }}
        {{ form_errors(form.idReceptor) }}
        {{ form_widget(form.idReceptor) }} </td></tr>        
    
    <tr><td align = "left"><font color="red" size = "2" face = "Comic Sans MS">* Campos requeridos</font>   </td></tr>
    <tr>  <td colspan = '6' align = 'center'>   
    <input type="submit" id = "button"  value="Guardar"/>
    <input id = "boton1" type="button" value="Regresar" onClick=' window.location.href="{{ path('_NewEgreso') }}" '>
</td></tr>

        
        </table>
    
    
    
     {{ form_end(form) }}
    
{# <table align = 'center'>
        <tr>
            <td>
        <a href="{{ path('blhegresoreceptor') }}">
             Ver listado </a>
        </td></tr></table> #}
{% endblock %}