{% extends 'siblhmantenimientoBundle::plantilla.html.twig' %}

{% block javascripts %}
    {{parent()}}
   <script type="text/javascript" src="{{ asset('bundles/siblhmantenimiento/js/BlhEgresoReceptor/pacientesreceptores.js') }}" ></script>
{% endblock %}
   
{% block body -%}
 <link href="{{asset('bundles/jquery/jquery.jqGrid-4.5.4/css/ui.jqgrid.css')}}" rel="stylesheet"  type="text/css" media="all"/>  
 
 <script type="text/javascript" src="{{asset('bundles/jquery/jquery.jqGrid-4.5.4/js/i18n/grid.locale-es.js')}}"></script>
      <script type="text/javascript" src="{{asset('bundles/jquery/jquery.jqGrid-4.5.4/js/jquery.jqGrid.min.js')}}" ></script> 

    <h1>Listado de Receptores</h1>
    <table id = "listado_pacientes">
         <thead>
            <tr>
                <th>id</th>
                <th>Codigo</th>
                <th>Nombre</th>
                <th>Accion</th>
                
            </tr>
          
        </thead>
        <tbody>
            <tr>
       {% for receptor in receptores_registrados%}
            
               <td><a href="{{ path('blhegresoreceptor_new', { 'id': receptor.identificador }) }}">{{ receptor.identificador }}</a></td>
               <td>{{ receptor.codigoReceptor }}</td>
               <td>{{ receptor.nombre1 }} {{ receptor.nombre2 }} {{ receptor.apellido1 }} {{ receptor.apellido2 }}</td>
                <td><a href="{{ path('blhegresoreceptor_new', { 'id': receptor.identificador })}}"><font color="blue"><u>Registrar Egreso</u></font></a></td></tr>
        {% endfor %}
            

            
          
           
        </tbody>
    </table>

    
    
   <div id='pagerpacientes' ></div>

        {% endblock %}     
     
   

        
