{% extends '::base.html.twig' %}

{% block body -%}
    <h1>MntPaciente</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Horanacimiento</th>
                <td>{{ entity.horaNacimiento|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Fechanacimiento</th>
                <td>{{ entity.fechaNacimiento|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Primernombre</th>
                <td>{{ entity.primerNombre }}</td>
            </tr>
            <tr>
                <th>Segundonombre</th>
                <td>{{ entity.segundoNombre }}</td>
            </tr>
            <tr>
                <th>Tercernombre</th>
                <td>{{ entity.tercerNombre }}</td>
            </tr>
            <tr>
                <th>Primerapellido</th>
                <td>{{ entity.primerApellido }}</td>
            </tr>
            <tr>
                <th>Segundoapelido</th>
                <td>{{ entity.segundoApelido }}</td>
            </tr>
            <tr>
                <th>Direccion</th>
                <td>{{ entity.direccion }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('mntpaciente') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('mntpaciente_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
