{% extends 'siblhmantenimientoBundle::plantilla.html.twig' %}


{% block stylesheets %}
    {{ parent() }}
        <link href="{{ asset('bundles/siblhmantenimiento/css/form.css') }}" rel="stylesheet" type="text/css" />
 
{% endblock %}

{% block javascripts %}

{{parent()}}

<script type="text/javascript" src="{{ asset('bundles/siblhmantenimiento/js/BlhSolicitud/edit.js') }}" ></script>
{% endblock %}

{% block body -%}

    <h1>Editar Solicitud </h1>
    
    {{ form_start(edit_form) }}
    {{ form_errors(edit_form) }}
    
<table align='center'>
  
<tr>
    
    {#<td align='right'>{{ form_label(edit_form.codigoSolicitud, 'Código de solicitud') }}{{ form_widget(edit_form.codigoSolicitud, {'attr':{'readonly': 'true' } }) }}</td></tr>#}
    <tr><td colspan=2 align = "right" height=10  ></td></tr>
    <tr><td align='left'><font color="red">*</font>{{ form_label(edit_form.fechaSolicitud,'Fecha') }}</td><td>{{ form_widget(edit_form.fechaSolicitud) }}</td></tr>
    <tr><td colspan=2 align = "right" height=10  ></td></tr>
    <tr><td align='left'><font color="red">*</font>{{ form_label(edit_form.cuna,'No. de cuna') }}</td><td>{{ form_widget(edit_form.cuna, {'attr':{ 'onKeyPress':"return soloNumerosEnteros(event);",'title': 'Por favor ingrese el numero de cuna, entre 1 y 60.'} }) }}</td></tr>
    <tr><td colspan=2 align = "right" height=10  ></td></tr>
    <tr><td align='left'><font color="red">*</font>{{ form_label(edit_form.pesoDia,'Peso del paciente(g)') }}</td><td>{{ form_widget(edit_form.pesoDia, {'attr':{ 'onKeyPress':"return soloNumeros(event);",'title': 'Por favor ingrese el peso del paciente, entre 500 y 5000 g' } }) }}</td></tr>
    <tr><td colspan=2 align = "right" height=10  ></td></tr>
    <tr><td align='left'><font color="red">*</font>{{ form_label(edit_form.volumenPorToma,'Volumen por toma(ml)') }}</td><td>{{ form_widget(edit_form.volumenPorToma, {'attr':{ 'onKeyPress':"return soloNumeros(event);",'title': 'Por favor ingrese el volumen de cada toma, entre 5 y 60 ml' } }) }}</td></tr>
    <tr><td colspan=2 align = "right" height=10  ></td></tr>
    <tr><td align='left'><font color="red">*</font>{{ form_label(edit_form.tomaPorDia, 'Tomas por día') }}</td><td>{{ form_widget(edit_form.tomaPorDia, {'attr':{ 'onKeyPress':"return soloNumerosEnteros(event);",'title': 'Por favor ingrese la tomas por día, entre 3 y 12.' } }) }}</td></tr>
    <tr><td colspan=2 align = "right" height=10  ></td></tr>
    <tr><td align='left'><font color="red">*</font>{{ form_label(edit_form.caloriasNecesarias,'Calorías necesarias') }}</td><td>{{ form_widget(edit_form.caloriasNecesarias) }}</td></tr>
    <tr><td colspan=2 align = "right" height=10  ></td></tr>
    <tr><td align='left'><font color="red">*</font>{{form_label(edit_form.acidezNecesaria,'Acidez Dornic') }}</td><td>{{form_widget(edit_form.acidezNecesaria) }}</td></tr>
    <tr><td colspan=2 align = "right" height=10  ></td></tr>
    <tr><td align='left'>{{form_label(edit_form.volumenPorDia,'Volumen total por día (ml)') }}</td><td>{{form_widget(edit_form.volumenPorDia, {'attr':{ 'readonly': 'true'} }) }}</td></tr>
    <tr><td colspan=2 align = "right" height=10  ></td></tr>
    <tr><td align = "left"><font color="red" >*</font><b><font face="Verdana,Arial,Helvetica,sans-serif" ><i>Responsable</i></font></b></td>
        <td align = "left"> 
            <select name="responsable" id = "responsable" > 
        <option value= ""></option>
        {% for responsable in responsable%}        
        <option value= "{{ responsable.nombre }}">{{ responsable.nombre }} </option>
          {% endfor %}</select> </td></tr>
    <tr><td colspan=2 align = "right" height=10  ></td></tr>
    <tr><td align='left'><font color="red">*</font>{{ form_label(edit_form.estado) }}</td><td>{{ form_widget(edit_form.estado) }}</td></tr>
    <tr><td colspan=2 align = "right" height=10  ></td></tr>
    <tr><td align='left' style="visibility:hidden">{{ form_label(edit_form.idReceptor) }}</td><td style="visibility:hidden">{{ form_widget(edit_form.idReceptor) }}</td></tr>
    <tr><td colspan=2 align = "right" height=10  ></td></tr>
     <tr style="visibility:hidden"><td align='left'>{{ form_label(edit_form.responsable) }}</td><td>{{ form_widget(edit_form.responsable) }}</td></tr>

</table>
    <table align = "center" width=50%>
            <tr><td align = 'left'  ><font color="red">* Campos Requeridos</font></td></tr>
           <tr>
             <td align = 'center' ><input type='submit' id='boton'  value="Actualizar"/><input id = "boton1" type="button" value="Regresar" onClick=' window.location.href="{{ path('blhsolicitud' )}}"'></td>              
          </tr>
           </table>
    {{ form_end(edit_form) }}
    
{% endblock %}