{% extends 'siblhmantenimientoBundle::plantilla.html.twig' %}

{% block javascripts %}
    {{parent()}}
    <script type="text/javascript" src="{{ asset('bundles/siblhmantenimiento/js/BlhSolicitud/index.js') }}" ></script>
{% endblock %}

{% block body -%}
    <link href="{{asset('bundles/jquery/jquery.jqGrid-4.5.4/css/ui.jqgrid.css')}}" rel="stylesheet"  type="text/css" media="all"/>  
     <script type="text/javascript" src="{{asset('bundles/jquery/jquery.jqGrid-4.5.4/js/i18n/grid.locale-es.js')}}"></script>
      <script type="text/javascript" src="{{asset('bundles/jquery/jquery.jqGrid-4.5.4/js/jquery.jqGrid.min.js')}}" ></script>
    <h1>Listado de Solicitudes</h1>

    <table id="listado_solicitudes">
        <thead>
            <tr>
                <th>Código&nbsp;Solicitud</th>
                <th>Fecha</th>
                <th>Peso&nbsp;del&nbsp;paciente(g)</th>
                <th>Volumen&nbsp;por&nbsp;toma(ml)</th>
                <th>Tomas&nbsp;por&nbsp;día</th>
                <th>Calorías&nbsp;necesarias</th>
                <th>Acidez&nbsp;Dornic</th>
                <th>Volumen&nbsp;total&nbsp;por&nbsp;día</th>                
                <th>Cuna</th>
                <th>Responsable</th>
                <th>Acción</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.codigoSolicitud }}</td>
                <td>{% if entity.fechaSolicitud %}{{ entity.fechaSolicitud|date('d-m-Y') }}{% endif %}</td>
                <td>{{ entity.pesoDia|number_format(2, '.', ',') }}</td>
                <td>{{ entity.volumenPorToma|number_format(2, '.', ',') }}</td>
                <td>{{ entity.tomaPorDia }}</td>
                <td>{{ entity.caloriasNecesarias }}</td>
                <td>{{ entity.acidezNecesaria }}</td>
                <td>{{ entity.volumenPorDia|number_format(2, '.', ',') }}</td>
                <td>{{ entity.cuna }}</td>
                <td>{{ entity.responsable }}</td>   
               <td ><a href="{{ path('blhsolicitud_show', { 'id': entity.id })}}">Mostrar</a>
                   <a href="{{ path('blhsolicitud_edit', { 'id': entity.id })}}">Editar</a></td>            
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div id='pagerSolicitudes'></div>
        {#<ul>
        <li>
            <a href="{{ path('blhsolicitud_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>#}
    {% endblock %}
