{% extends 'siblhmantenimientoBundle::plantilla.html.twig' %}

{% block stylesheets %}
  {{ parent() }}
	<link href="{{ asset('bundles/siblhmantenimiento/css/form.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}
        
 {% block javascripts %}   
{{parent()}}
<script type="text/javascript" src="{{ asset('bundles/siblhmantenimiento/js/Solicitud/new.js') }}" ></script>
 
{% endblock %}

{% block body -%}
    <h1>Registro de Solicitudes de Leche Humana</h1>
    
   
   <table class="record_properties" align = "center" >
    <tr>
        
 
        <td colspan = "2" align = "left">Nombre del Receptor</td>
                <td colspan = "5" align = "left">
                <INPUT type=text STYLE="text-align:center" name="nombre" disabled="disabled" size=35 readonly="readonly" value= {{ datos_receptor[0].primer_nombre}}&nbsp;{{ datos_receptor[0].segundo_nombre  }}&nbsp;{{ datos_receptor[0].tercer_nombre  }}&nbsp;{{ datos_receptor[0].primer_apellido }}&nbsp;{{ datos_receptor[0].segundo_apellido }}>
               </td>
                {{ form_start(form) }}
                {{ form_errors(form) }}
                <td colspan="5" align = "left" style="visibility:hidden"> 
                {{ form_label(form.idReceptor) }}
                {{ form_errors(form.idReceptor) }}
                {{ form_widget(form.idReceptor) }} </td>
                    
                <td colspan = "2" align = "left">Codigo de Receptor</td>    
                <td colspan = "4" align = "left">
                <INPUT type=text STYLE="text-align:center" name="nombre" disabled="disabled" size=20 readonly="readonly" value= " {{ datos_receptor[0].codigo_receptor}} ">
                </td>
                
        </tr>
       
           
           
        
        <tr>
        <td colspan = "2" align = "left" >Fecha de Nacimiento</td>
                <td colspan = "5" align = "left">
                <INPUT type=text name="nombre" STYLE="text-align:center" disabled="disabled" readonly="readonly" value= " {{ datos_receptor[0].fecha_nacimiento|date('d-m-Y')  }}" >
                </td>
                
                <td colspan="5" align = "left"></td>
                
                <td colspan = "2" align = "left">Sexo</td>
                <td colspan = "4" align = "left">
                <INPUT type=text name="nombre" STYLE="text-align:center" disabled="disabled" readonly="readonly" value=" {{ datos_receptor[0].sexo }} ">
                </td>
        </tr>
         <tr>
        <td colspan = "2" align = "left" >Peso al Nacimiento</td>
                <td colspan = "5" align = "left">
                <INPUT type=text name="nombre" STYLE="text-align:center" disabled="disabled" readonly="readonly" value=" {{ datos_receptor[0].pesoReceptor}} ">
                </td>
                
                <td colspan="5" align = "left"></td>
                
                <td colspan = "2" align = "left">Edad Gestacional Nacimiento</td>
                 <td colspan = "4" align = "left">
                <INPUT type=text name="nombre" STYLE="text-align:center" disabled="disabled" readonly="readonly" value=" {{ datos_receptor[0].edadGestFur}} ">
                </td>     
        </tr>
        </table>
    
        <table class="record_properties" align = "center"  >
        <tr>
        <td colspan = "6" align = "left">Diagnostico</td>
                <td colspan = "4" align = "left">
                <INPUT type=text name="nombre" STYLE="text-align:center" disabled="disabled" size=122 readonly="readonly" value= "{{ datos_receptor[0].diagnosticoIngreso }}" >
                </td>
        </tr>
        </table>
   
        <table class="record_properties" align = "center" >
          
        <tr>
        <td colspan="3" align = "left"> 
                
                {{ form_label(form.fechaSolicitud) }}
                {{ form_errors(form.fechaSolicitud) }}
                {{ form_widget(form.fechaSolicitud,  { 'attr': {'size': '10'} })  }} </td>
        <td colspan="3" align = "left"> 
                
                {{ form_label(form.cuna) }}
                {{ form_errors(form.cuna) }}
                {{ form_widget(form.cuna) }} </td>
        <td colspan="3" align = "left"> 
                
                {{ form_label(form.pesoDia) }}
                {{ form_errors(form.pesoDia) }}
                {{ form_widget(form.pesoDia) }} </td>
        
        <td colspan="3" align = "left"> 
                
                {{ form_label(form.volumenPorToma) }}
                {{ form_errors(form.volumenPorToma) }}
                {{ form_widget(form.volumenPorToma) }} </td>
        </tr>
      <tr>
        <td colspan="3" align = "left"> 
                
                {{ form_label(form.tomaPorDia) }}
                {{ form_errors(form.tomaPorDia) }}
                {{ form_widget(form.tomaPorDia) }} </td>
        <td colspan="3" align = "left"> 
                
                {{ form_label(form.caloriasNecesarias) }}
                {{ form_errors(form.caloriasNecesarias) }}
                {{ form_widget(form.caloriasNecesarias) }} </td>
        <td colspan="3" align = "left"> 
                
                {{ form_label(form.acidezNecesaria) }}
                {{ form_errors(form.acidezNecesaria) }}
                {{ form_widget(form.acidezNecesaria) }} </td>
        
        <td colspan="3" align = "left"> 
                
                {{ form_label(form.volumenPorDia) }}
                {{ form_errors(form.volumenPorDia) }}
                {{ form_widget(form.volumenPorDia) }} </td>
        </tr>
        <tr>
        
        <td colspan="3" align = "left"> 
                
                {{ form_label(form.responsable) }}
                {{ form_errors(form.responsable) }}
                {{ form_widget(form.responsable) }} </td>
        <td colspan="3" align = "left"> 
                
                {{ form_label(form.estado) }}
                {{ form_errors(form.estado) }}
                {{ form_widget(form.estado) }} </td>
        <td colspan="3" align = "left"> 
                
                {{ form_label(form.idGrupoSolicitud) }}
                {{ form_errors(form.idGrupoSolicitud) }}
                {{ form_widget(form.idGrupoSolicitud) }} </td>
        <td colspan="3" align = "left"> 
                
                {{ form_label(form.codigoSolicitud) }}
                {{ form_errors(form.codigoSolicitud) }}
                {{ form_widget(form.codigoSolicitud) }} </td>
        
                
        </tr>
        <tr align = 'rigth'>
            <td colspan = '15' align = 'rigth'>  <input type="submit" value="GUARDAR"/></td>
           
           {{ form_end(form) }}
          
            <tr><td>
        
               <ul class="record_actions">
                <li>
                <a href="{{ path('blhsolicitud') }}">
                Back to the list
                </a>
                </li>
               </ul>
                </td>
            </tr>
              
      
        
    </table>
       

  
      
   
   

        <ul class="record_actions">
    {#<li>
        <a href="{{ path('blhsolicitud') }}">
            Back to the list
        </a>
    </li>#}
</ul>
{% endblock %}