{% extends 'siblhmantenimientoBundle::plantilla.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
        <link href="{{ asset('bundles/siblhmantenimiento/css/form.css') }}" rel="stylesheet" type="text/css" />
 
{% endblock %}
        
{% block javascripts %}

{{parent()}}

<script type="text/javascript" src="{{ asset('bundles/siblhmantenimiento/js/BlhSolicitud/new.js') }}" ></script>
        
{% endblock %}

{% block body -%}
   
    <h1>Registro de Solicitudes de Leche Humana</h1>
    
   {{ form_start(form) }}
   {{ form_errors(form) }}
   <table align = "center" width = "90%">
        <tr><td colspan=2 align = "right" height=40  ></td></tr>
       <tr>
       <td colspan = "2" align = "right"><b>Servicio</b></td>
                <td colspan = "4" align = "left">
                <INPUT type=text STYLE="text-align:center" name="nombre" disabled="disabled" size=35 readonly="readonly" value= "{{ datos_receptor[0].procedencia}}">
               </td>
               
               <td colspan="5" align = "left"></td>
                
             {#<td width="295" align = "left"></td>#}
               {#<td colspan=4 align = "right"> 
                
                {{ form_label(form.codigoSolicitud, 'Código de solicitud  ') }}
                {{ form_errors(form.codigoSolicitud) }}
                {{ form_widget(form.codigoSolicitud) }} </td>#}
       </tr>
    <tr>
        
 
        <td colspan = "2" align = "right"><b>Nombre del Receptor</b></td>
                <td colspan = "4" align = "left">
                <INPUT type=text STYLE="text-align:center" name="nombre" disabled="disabled" size=35 readonly="readonly" value= {{ datos_receptor[0].primer_nombre}}&nbsp;{{ datos_receptor[0].segundo_nombre  }}&nbsp;{{ datos_receptor[0].tercer_nombre  }}&nbsp;{{ datos_receptor[0].primer_apellido }}&nbsp;{{ datos_receptor[0].segundo_apellido }}>
               </td>
               
                <td colspan="5" align = "right" style="visibility:hidden"> 
                {{ form_label(form.idReceptor) }}
                {{ form_errors(form.idReceptor) }}
                {{ form_widget(form.idReceptor) }} </td>
                    
                <td width=450 align = "right"><b>Codigo de Receptor</b></td>    
                <td width=100 align = "right">
                <INPUT type=text STYLE="text-align:center" name="nombre" disabled="disabled" size=20 readonly="readonly" value= " {{ datos_receptor[0].codigoReceptor}} ">
                </td>
                
        </tr>
       
           
        <tr>
        <td colspan = "2" align = "right" ><b>Fecha de Nacimiento</b></td>
                <td colspan = "4" align = "left">
                <INPUT type=text name="nombre" STYLE="text-align:center" disabled="disabled" readonly="readonly" value= " {{ datos_receptor[0].fecha_nacimiento|date('d-m-Y')  }}" >
                </td>
                
                <td colspan="5" align = "left"></td>
                
                <td width=450 align = "right"><b>Sexo</b></td>
                <td width=100 align = "right">
                <INPUT type=text name="nombre" STYLE="text-align:center" disabled="disabled" readonly="readonly" value=" {{ datos_receptor[0].sexo }} ">
                </td>
        </tr>
         <tr>
        <td colspan = "2" align = "right" ><b>Peso al Nacimiento(g)</b></td>
                <td colspan = "4" align = "left">
                <INPUT type=text name="nombre" STYLE="text-align:center" disabled="disabled" readonly="readonly" value=" {{ datos_receptor[0].pesoReceptor}} ">
                </td>
                
                <td colspan="5" align = "left"></td>
                
                <td width=450 align = "right"><b>Edad Gestacional Nacimiento</b></td>
                 <td width=100 align = "right">
                <INPUT type=text name="nombre" STYLE="text-align:center" disabled="disabled" readonly="readonly" value=" {{ datos_receptor[0].edadGestFur}} ">
                </td>     
        </tr>
        </table>
    
        <table align = "center" width = "90%">
        <tr>
        <td width=132 align = "right"><b>Diagnóstico</b></td>
                <td width=642 align = "left">
                <INPUT type=text name="nombre" STYLE="text-align:center" disabled="disabled" size=113 readonly="readonly" value= "{{ datos_receptor[0].diagnosticoIngreso }}" >
                </td>
        </tr>
        <tr><td align = "right" height=40  ></td></tr>
        </table>
   
        <table align = "center" width = "90%" >
          
        <tr>
        <td align = "right"><font color="red">*</font>{{ form_label(form.fechaSolicitud, 'Fecha') }}</td>
        <td align = "left">{{ form_widget(form.fechaSolicitud) }} </td>
        <td align = "right" ><font color="red">*</font>{{ form_label(form.cuna,'No. de cuna') }}</td>
        <td align = "left">{{ form_widget(form.cuna) }} </td>
        <td align = "right"><font color="red">*</font>{{ form_label(form.pesoDia, 'Peso del paciente(g)') }}</td>
         <td align = "left">{{ form_widget(form.pesoDia) }} </td>
          </tr>
        <tr><td align = "right" height=10  ></td></tr>
      <tr>
           <td align = "right" ><font color="red">*</font>{{ form_label(form.volumenPorToma,'Volumen por toma (ml)') }}</td>
           <td align = "left">{{ form_widget(form.volumenPorToma) }} </td>
     
        <td align = "right"><font color="red">*</font>{{ form_label(form.tomaPorDia, 'Tomas por día') }}</td>
        <td align = "left">{{ form_widget(form.tomaPorDia) }} </td>
        <td align = "right"><font color="red">*</font>{{ form_label(form.caloriasNecesarias,'Calorías necesarias') }}</td>
        <td align = "left">{{ form_widget(form.caloriasNecesarias) }} </td>
       
        </tr>
         <tr><td align = "right" height=10  ></td></tr>
        <tr>
        <td  align = "right"><font color="red">*</font>{{ form_label(form.acidezNecesaria,'Acidez Dornic') }}</td>
        <td align = "left">{{ form_widget(form.acidezNecesaria) }} </td>
        
        <td align = "right">{{ form_label(form.volumenPorDia,'Volumen total por día (ml)') }}</td>
        <td align = "left">{{ form_widget(form.volumenPorDia, {'attr':{ 'readonly': 'true' } }) }} </td>
        
        <td align = "right">{{ form_label(form.responsable) }}</td>
        <td align = "left">{{ form_widget(form.responsable,  { 'attr': {'size': '25'} }) }} </td>                         
        </tr>
         
        <tr>
        <td align = "right" style="visibility:hidden">{{ form_label(form.estado) }}</td>
        <td style="visibility:hidden">{{ form_widget(form.estado, {'attr':{ 'value' : 'Pendiente' }}) }} </td>
        
        </tr>
        <tr><td  align = "right" height=30  ></td></tr>
        </table>
    
        <table align = "center" width = "100%">
        <tr>
            <td width=135 align = 'left'  ><font color="red">* Campos requeridos</font></td>

             <td width=900 align = 'center' > <input type='submit' id="boton" title="Guardar Solicitud"  value="Guardar"/></td>              
          </tr>
           </table>
           {{ form_end(form) }}
          
           
 
{% endblock %}
