{% extends 'siblhmantenimientoBundle::plantilla.html.twig'%}



{% block javascripts %}
    {{parent()}}
    <script type="text/javascript" src="{{ asset('bundles/siblhmantenimiento/js/BlhSolicitud/receptores.js') }}" ></script>
   
{% endblock %}

{% block body -%}
       <link href="{{asset('bundles/jquery/jquery.jqGrid-4.5.4/css/ui.jqgrid.css')}}" rel="stylesheet"  type="text/css" media="all"/>  
     <script type="text/javascript" src="{{asset('bundles/jquery/jquery.jqGrid-4.5.4/js/i18n/grid.locale-es.js')}}"></script>
      <script type="text/javascript" src="{{asset('bundles/jquery/jquery.jqGrid-4.5.4/js/jquery.jqGrid.min.js')}}" ></script> 
    <h1>Listado de Receptores</h1>
    <table id="listado_receptores">
        <thead>
            <tr>
                <th>Codigo</th>
                <th>Nombres</th>
                <th>Apellidos</th>
                <th>Sexo</th>    
                <th>Acción</th>
            </tr>
          
        </thead>
        <tbody>
           
       {% for receptor in pacientes_receptores%}
            <tr>   
                <td>{{ receptor.codigoReceptor }}</td>
                <td>{{ receptor.nombre1 }}&nbsp;{{ receptor.nombre2 }}&nbsp;{{ receptor.nombre3 }}</td>
                <td>{{ receptor.apellido1 }}&nbsp;{{ receptor.apellido2 }}</td>      
                <td>{{ receptor.sexo }}</td>
                <td><a href="{{ path('blhsolicitud_new', { 'id': receptor.id })}}">Nueva Solicitud</a></td>
               </tr>
                
                 {% endfor %}
                  </tbody>
                  </table>
               <div id='pagerReceptores' ></div>
               <div id='resultado' ></div>
              
          
       
        
    {% endblock %}