{% extends 'siblhmantenimientoBundle::plantilla.html.twig' %}

{% block javascripts %}

{{parent()}}

<script type="text/javascript" src="{{ asset('bundles/siblhmantenimiento/js/BlhSolicitud/show.js') }}" ></script>
       
{% endblock %}
{% block body -%}
<style type="text/css">
table#teft table {display: block; padding: 5px; border: 3px solid black; border-top: 1; -moz-border-radius: 10px 10px 10px 10px; color:"#2e6e9e"}
th {
font-family: verdana,arial,helvetica,sans-serif;
color: #000000;
font-weight: bold;
border-style: solid;
border-width: 1px;
size: 2px;
background-color: #2b8dd6;
}
td {
font-family: verdana,arial,helvetica,sans-serif;}
</style>

    <h1>Solicitud</h1>

    <table id = "left" border = "1"  align = "center" bordercolor="#2e6e9e" width=30%>
        <tbody>
     
            <tr>
                <th align = "left">Codigo de solicitud</th>
                <td>{{ entity.codigoSolicitud }}</td>
            </tr>
            <tr align = "left">
                <th>Acidez Dornic</th>
                <td>{{ entity.acidezNecesaria }}</td>
            </tr>
            <tr align = "left">
                <th>Calorías necesarias</th>
                <td>{{ entity.caloriasNecesarias }}</td>
            </tr>
            <tr align = "left">
                <th>Peso del paciente(g)</th>
                <td>{{ entity.pesoDia|number_format(2, '.', ',')  }}</td>
            </tr>
            <tr align = "left">
                <th>Volumen por toma (ml)</th>
                <td>{{ entity.volumenPorToma|number_format(2, '.', ',')  }}</td>
            </tr>
            <tr align = "left">
                <th>Tomas por día</th>
                <td>{{ entity.tomaPorDia }}</td>
            </tr>
            <tr align = "left">
                <th>Fecha</th>
                <td>{{ entity.fechaSolicitud|date('d-m-Y') }}</td>
            </tr>
            <tr align = "left">
                <th>No. de cuna</th>
                <td>{{ entity.cuna }}</td>
            </tr>
            <tr align = "left">
                <th>Estado</th>
                <td>{{ entity.estado }}</td>
            </tr>
             <tr align = "left">
                <th>Volumen total por día (ml)</th>
                <td>{{ entity.volumenPorDia|number_format(2, '.', ',')  }}</td>
            </tr>
            <tr align = "left">
                <th>Responsable</th>
                <td>{{ entity.responsable }}</td>
            </tr>
        </tbody>
    </table>

 <table  align = "center" >
         <tr><td height=10  ></td></tr> 
         <tr><td height=10  ></td></tr> 
         <tr><td><input id = "boton" type="button" value="Registrar Nuevo" onClick=' window.location.href="{{ path('_NewSolicitudes') }}" '>
         </td></tr>
    </table>
{% endblock %}
