{% extends 'siblhmantenimientoBundle::plantilla.html.twig' %}
{% block javascripts %}
    {{parent()}}
   <script type="text/javascript" src="{{ asset('bundles/siblhmantenimiento/js/GeneraReportes/AnalisisLaboratorio.js') }}" ></script>
{% endblock %}
   
{% block body -%}
 <link href="{{asset('bundles/jquery/jquery.jqGrid-4.5.4/css/ui.jqgrid.css')}}" rel="stylesheet"  type="text/css" media="all"/>  
 
 <script type="text/javascript" src="{{asset('bundles/jquery/jquery.jqGrid-4.5.4/js/i18n/grid.locale-es.js')}}"></script>
      <script type="text/javascript" src="{{asset('bundles/jquery/jquery.jqGrid-4.5.4/js/jquery.jqGrid.min.js')}}" ></script> 
 <script type="text/javascript" src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
      <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
  {% block stylesheets %}
    {{ parent() }}
        <link href="{{ asset('bundles/siblhmantenimiento/css/form.css') }}" rel="stylesheet" type="text/css" />
 
{% endblock %}   
        <h1>Resultado de analisis de laboratorio</h1>
        <div style="width:50%; margin:0 auto;">
        
       <form> 
        <table   align = "center">
            <tr><td colspan = 2 align = "center"><b>Fecha de Realizacion de Analisis de Laboratorio</b><p></td></tr>
            <tr><td><font color="blue"><b>Fecha Inicio</b></font></td>
                <td><INPUT id="fechai" name = "fechai" type=text  readonly="readonly"></td></tr>
        <tr><td><font color="blue"><b>Fecha Final</b></font></td>
                <td> <INPUT id="fechaf" name = "fechaf" type=text readonly="readonly"></td></tr>
        <tr><td colspan = 2 align = "center">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <input id = "exportar_pdf3" type="submit" value="Guardar" /></td></tr>
         
       
        
        
        
        </table>   </form> </div>
     
 
 


 {% endblock %}

