{% extends 'siblhmantenimientoBundle::plantilla.html.twig' %}
{% block javascripts %}
    {{parent()}}
   <script type="text/javascript" src="{{ asset('bundles/siblhmantenimiento/js/GeneraReportes/EstadisticaDonante.js') }}" ></script>
{% endblock %}
   
{% block body -%}
 <link href="{{asset('bundles/jquery/jquery.jqGrid-4.5.4/css/ui.jqgrid.css')}}" rel="stylesheet"  type="text/css" media="all"/>  
 
 <script type="text/javascript" src="{{asset('bundles/jquery/jquery.jqGrid-4.5.4/js/i18n/grid.locale-es.js')}}"></script>
      <script type="text/javascript" src="{{asset('bundles/jquery/jquery.jqGrid-4.5.4/js/jquery.jqGrid.min.js')}}" ></script> 
 <script type="text/javascript" src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
      <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
  {% block stylesheets %}
    {{ parent() }}
        <link href="{{ asset('bundles/siblhmantenimiento/css/form.css') }}" rel="stylesheet" type="text/css" />
 
{% endblock %}   
        <h1>Estadistica de Donante</h1>
        <div style="width:50%; margin:0 auto;">
        
       <form> 
        <table   align = "center">
            <tr><td colspan = 2 align = "center"><b>Fecha para Estadistica de Donante</b><p></td></tr>
            <tr><td><font color="blue"><b>Fecha Inicio</b></font></td>
                <td><INPUT id="fechai" name = "fechai" type=text  readonly="readonly" value = " "></td></tr>
        <tr><td><font color="blue"><b>Fecha Final</b></font></td>
                <td> <INPUT id="fechaf" name = "fechaf" type=text readonly="readonly" value = " "></td></tr>
        <tr style="visibility:hidden"><td > <INPUT id="id" size=2 name = "blh" type=text readonly="readonly" value= " {{ id }} "></td>
        <td> <INPUT id="nombre"  name = "blh" type=text readonly="readonly" value= " {{ hospital[0].nombre }} "></td></tr>
     

        <tr><td colspan = 2 >&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <button id = "exportar_pdf8" type="submit" value="Guardar"><img src={{ asset('bundles/siblhmantenimiento/imagenes/pdf.png') }}></button></td></tr>
         
    
        
        
        
        </table>   </form> </div>
     
 
 


 {% endblock %}

