{% extends 'siblhmantenimientoBundle::plantilla.html.twig' %}
{% block javascripts %}
    {{parent()}}
   <script type="text/javascript" src="{{ asset('bundles/siblhmantenimiento/js/GeneraReportes/TemperaturaPasteurizacion.js') }}" ></script>
{% endblock %}
   
{% block body -%}
 <link href="{{asset('bundles/jquery/jquery.jqGrid-4.5.4/css/ui.jqgrid.css')}}" rel="stylesheet"  type="text/css" media="all"/>  
 
 <script type="text/javascript" src="{{asset('bundles/jquery/jquery.jqGrid-4.5.4/js/i18n/grid.locale-es.js')}}"></script>
      <script type="text/javascript" src="{{asset('bundles/jquery/jquery.jqGrid-4.5.4/js/jquery.jqGrid.min.js')}}" ></script> 
 <script type="text/javascript" src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
      <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
  {% block stylesheets %}
    {{ parent() }}
        <link href="{{ asset('bundles/siblhmantenimiento/css/form.css') }}" rel="stylesheet" type="text/css" />
 
{% endblock %}   
        <h1>Temperaturas de Pasteurizacion</h1>
        <div style="width:50%; margin:0 auto;">
        
       <form> 
        <table   align = "center">
            <tr><td colspan = 2 align = "center"><b>Verificar Temperaturas</b><p></td></tr>
            <tr><td><font color="blue"><b>Codigo Pasteurizacion</b></font></td>
                 <td> <INPUT id="id" name = "id" type=text  value = ""></td></tr>
            <tr style="visibility:hidden"><td colspan =2> <INPUT id="identificador" size=2 name = "blh" type=text readonly="readonly" value= " {{ identificador }} "></td></tr>
        <tr style="visibility:hidden"><td colspan =2> <INPUT id="nombre"  name = "blh" type=text readonly="readonly" value= " {{ hospital[0].nombre }} "></td></tr>
 
             <tr><td colspan = 2 align = "center">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <button id = "exportar_pdf5" type="submit" value="Guardar" ><img src={{ asset('bundles/siblhmantenimiento/imagenes/pdf.png') }}></button></td></tr>
  </table>   </form> </div>
     
 
 


 {% endblock %}

