{% extends 'siblhmantenimientoBundle::plantilla.html.twig' %}

{% block javascripts %}
    {{parent()}}
   <script type="text/javascript" src="{{ asset('bundles/siblhmantenimiento/js/BlhPasteurizacion/curvas.js') }}" ></script>
{% endblock %}
   
{% block body -%}
 <link href="{{asset('bundles/jquery/jquery.jqGrid-4.5.4/css/ui.jqgrid.css')}}" rel="stylesheet"  type="text/css" media="all"/>  
 
 <script type="text/javascript" src="{{asset('bundles/jquery/jquery.jqGrid-4.5.4/js/i18n/grid.locale-es.js')}}"></script>
      <script type="text/javascript" src="{{asset('bundles/jquery/jquery.jqGrid-4.5.4/js/jquery.jqGrid.min.js')}}" ></script> 

    <h1>Listado de Curvas de penetracion de calor</h1>
    <table id = "listado_curvas">
       
            
             <thead>
            <tr>
                <th>id</th>
                <th>ValorCurva</th>
                <th>Fecha</th>
                <th>CantidadFrascos</th>
                <th>VolumenPasteurizado</th>
                <th>Accion</th>
                
            </tr>
          
        </thead>
      
    
        <tbody>
            <tr>
       {% for curva in curvas%}
            
               <td><a href="{{ path('blhpasteurizacion_new', { 'id': curva.iden }) }}">{{ curva.iden }}</a></td>
                <td>{{ curva.valorCurva }}</td>
                <td>{{ curva.fechaCurva|date('d-m-Y') }}</td>
        
                <td>{{ curva.cantidadFrascos }}</td>
                <td>{{ curva.volumenPorFrasco }}</td>
                
               
                <td><a href="{{ path('blhpasteurizacion_new', { 'id': curva.iden })}}"><font color="blue"><u>Pasteurizacion</u></font></a></td></tr>
        {% endfor %}
            
        </tbody>
    </table>
<div id='pagercurvas' ></div>
        {% endblock %}