{% extends 'siblhmantenimientoBundle::plantilla.html.twig' %}

{% block body -%}
    <h1>BlhPasteurizacion list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Codigopasteurizacion</th>
                <th>Numciclo</th>
                <th>Volumenpasteurizado</th>
                <th>Numfrascospasteurizados</th>
                <th>Fechapasteurizacion</th>
                <th>Horainiciop</th>
                <th>Horafinalp</th>
                <th>Horainicioe</th>
                <th>Horafinale</th>
                <th>Responsablepasteurizacion</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('blhpasteurizacion_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.codigoPasteurizacion }}</td>
                <td>{{ entity.numCiclo }}</td>
                <td>{{ entity.volumenPasteurizado }}</td>
                <td>{{ entity.numFrascosPasteurizados }}</td>
                <td>{% if entity.fechaPasteurizacion %}{{ entity.fechaPasteurizacion|date('Y-m-d') }}{% endif %}</td>
                <td>{{ entity.horaInicioP|date('H:i:s') }}</td>
                <td>{{ entity.horaFinalP|date('H:i:s') }}</td>
                <td>{{ entity.horaInicioE|date('H:i:s') }}</td>
                <td>{{ entity.horaFinalE|date('H:i:s') }}</td>
                <td>{{ entity.responsablePasteurizacion }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('blhpasteurizacion_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('blhpasteurizacion_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('blhpasteurizacion_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
