{% extends  'siblhmantenimientoBundle::plantilla.html.twig'%}

{% block javascripts %}
    {{parent()}}
    <script type="text/javascript" src="{{ asset('bundles/siblhmantenimiento/js/BlhPasteurizacion/mantenimientoPasteurizacion.js') }}" ></script>
{% endblock %}

{% block body -%}
    
    <link href="{{asset('bundles/jquery/jquery.jqGrid-4.5.4/css/ui.jqgrid.css')}}" rel="stylesheet"  type="text/css" media="all"/> 
     <script type="text/javascript" src="{{asset('bundles/jquery/jquery.jqGrid-4.5.4/js/i18n/grid.locale-es.js')}}"></script>
      <script type="text/javascript" src="{{asset('bundles/jquery/jquery.jqGrid-4.5.4/js/jquery.jqGrid.min.js')}}" ></script>
      
<h1>Listado de mantenimientos de donante</h1>
    <div align='center'>
    <table id="mantenimientoPasteurizacion">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Acci贸n</th>
            </tr>
             <tr>
                <th>Nombre</th>
                <th>Acci贸n</th>
            </tr>
             <tr>
                <th>Nombre</th>
                <th>Acci贸n</th>
            </tr>
            <tr>
                <th>Nombre</th>
                <th>Acci贸n</th>
            </tr>
        </thead>
        <tbody>
     
       <tr> 
          <td>Curva de pasteurizacion</td> 
         <td><a href="{{ path('blhcurva')}}"><font color="blue"><u>Mantenimiento</u></font></a></td></tr>
       <tr> 
          <td>Pasteurizacion</td> 
         <td><a href="{{ path('_NewPasteurizacion')}}"><font color="blue"><u>Mantenimiento</u></font></a></td></tr>
        <tr> 
          <td>Temperatura de pasteurizacion</td> 
          <td><a href="{{ path('blhtemperaturapasteurizacion')}}"><font color="blue"><u>Mantenimiento</u></font></a></td></tr>
        <tr> 
          <td>Temperatura de enfriamiento</td> 
          <td><a href="{{ path('blhtemperaturaenfriamiento')}}"><font color="blue"><u>Mantenimiento</u></font></a></td></tr>
        </tbody>
    </table>
     </div>

      
    {% endblock %}
