{% extends 'siblhmantenimientoBundle::plantilla.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
        <link href="{{ asset('bundles/siblhmantenimiento/css/form.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}
        {% block javascripts %}

{{parent()}}

<script type="text/javascript" src="{{ asset('bundles/siblhmantenimiento/js/BlhPasteurizacion/new.js') }}" ></script>
       
{% endblock %}


{% block body -%}
    <h1>BlhPasteurizacion creation</h1>
    
     <FORM> 
   <table align = "center" >
       
       <tr>
       <td align = "right" colspan = "5">Curva</td>
        <td align = "right" colspan = "2">
        <INPUT type=text disabled="disabled" size=10 readonly="readonly" value= "{{ datos_curva[0].iden }}"></td></tr>
        <td align = "right" colspan = "5">Fecha Curva</td>
        <td align = "right" colspan = "2">
        <INPUT type=text disabled="disabled" size=10 readonly="readonly" value= "{{ datos_curva[0].fechaCurva|date('d-m-Y') }}"></td></tr>
        <td align = "right" colspan = "5">Cantidad de frascos</td>
        <td align = "right" colspan = "2">
        <INPUT id="cant" type=text disabled="disabled" size=10 readonly="readonly" value= "{{ datos_curva[0].cantidadFrascos }}"></td></tr>
        <td align = "right" colspan = "5">Volumen frascos</td>
        <td align = "right" colspan = "2">
        <INPUT id="vol" type=text disabled="disabled" size=10 readonly="readonly" value= "{{ datos_curva[0].volumenPorFrasco }}"></td></tr>

   </table>
     
</form>
    

    {{ form_start(form) }}
    {{ form_errors(form) }}
    <table align = "center" WIDTH = "80%" border = 1>
        <tr>
    <td align = left colspan = 2 style="visibility:hidden">
        {{ form_label(form.idCurva) }}
        {{ form_errors(form.idCurva) }}
        {{ form_widget(form.idCurva) }} </td></tr>
     <tr><td align = left>
        {{ form_label(form.codigoPasteurizacion) }}
        {{ form_errors(form.codigoPasteurizacion) }}&nbsp;&nbsp;&nbsp;&nbsp;
        {{ form_widget(form.codigoPasteurizacion) }} </td>
    <td align = left style="visibility:hidden"><font color="red">*</font>
        {{ form_label(form.numCiclo) }}
        {{ form_errors(form.numCiclo) }}
        {{ form_widget(form.numCiclo, {'attr':{'value': '0'} }) }} </td></tr>
     <tr>  <td align = left><font color="red">*</font>
        {{ form_label(form.volumenPasteurizado) }}
        {{ form_errors(form.volumenPasteurizado) }} &nbsp;
        {{ form_widget(form.volumenPasteurizado) }} </td>
   <td align = left><font color="red">*</font>
        {{ form_label(form.numFrascosPasteurizados) }}
        {{ form_errors(form.numFrascosPasteurizados) }}
        {{ form_widget(form.numFrascosPasteurizados) }} </td></tr>
      <tr>  <td align = left><font color="red">*</font>
        {{ form_label(form.fechaPasteurizacion) }}
        {{ form_errors(form.fechaPasteurizacion) }} &nbsp;&nbsp; &nbsp;
        {{ form_widget(form.fechaPasteurizacion) }} </td>  
    <td align = left><font color="red">*</font>
        {{ form_label(form.responsablePasteurizacion) }}
        {{ form_errors(form.responsablePasteurizacion) }}
        {{ form_widget(form.responsablePasteurizacion) }} </td></tr>           
                  
    <tr> <td align = left>
        {{ form_label(form.horaInicioP) }}
        {{ form_errors(form.horaInicioP) }}
        {{ form_widget(form.horaInicioP) }} </td>
       <td align = left>
        {{ form_label(form.horaFinalP) }}
        {{ form_errors(form.horaFinalP) }}
        {{ form_widget(form.horaFinalP) }} </td> </tr> 
  <tr> <td align = left>
        {{ form_label(form.horaInicioE) }}
        {{ form_errors(form.horaInicioE) }}
        {{ form_widget(form.horaInicioE) }} </td> 
        <td align = left>
        {{ form_label(form.horaFinalE) }}
        {{ form_errors(form.horaFinalE) }}
        {{ form_widget(form.horaFinalE) }} </td></tr> 
    
       
      
    
       
       
       <tr><td colspan = 3 align = "left"><font color="red" size = "2" face = "Comic Sans MS">* Campos requeridos</font>   </td>
  
       
     <tr><td colspan = 3> <input type="submit" class= "ui-button" value="Guardar"/></td></tr>
   
       
       
       </table> 
    
    
    
    
      {{ form_end(form) }}
    

     
{% endblock %}
