{% extends '::base.html.twig' %}

{% block body -%}
    <h1>BlhPasteurizacion</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Codigopasteurizacion</th>
                <td>{{ entity.codigoPasteurizacion }}</td>
            </tr>
            <tr>
                <th>Numciclo</th>
                <td>{{ entity.numCiclo }}</td>
            </tr>
            <tr>
                <th>Volumenpasteurizado</th>
                <td>{{ entity.volumenPasteurizado }}</td>
            </tr>
            <tr>
                <th>Numfrascospasteurizados</th>
                <td>{{ entity.numFrascosPasteurizados }}</td>
            </tr>
            <tr>
                <th>Fechapasteurizacion</th>
                <td>{{ entity.fechaPasteurizacion|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Horainiciop</th>
                <td>{{ entity.horaInicioP|date('H:i:s') }}</td>
            </tr>
            <tr>
                <th>Horafinalp</th>
                <td>{{ entity.horaFinalP|date('H:i:s') }}</td>
            </tr>
            <tr>
                <th>Horainicioe</th>
                <td>{{ entity.horaInicioE|date('H:i:s') }}</td>
            </tr>
            <tr>
                <th>Horafinale</th>
                <td>{{ entity.horaFinalE|date('H:i:s') }}</td>
            </tr>
            <tr>
                <th>Responsablepasteurizacion</th>
                <td>{{ entity.responsablePasteurizacion }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('blhpasteurizacion') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('blhpasteurizacion_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
