{% extends '::base.html.twig' %}

{% block body -%}
    <h1>BlhBancoDeLeche</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Codigobancodeleche</th>
                <td>{{ entity.codigoBancoDeLeche }}</td>
            </tr>
            <tr>
                <th>Estadobanco</th>
                <td>{{ entity.estadoBanco }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('blhbancodeleche') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('blhbancodeleche_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
