{% extends 'siblhmantenimientoBundle::plantilla.html.twig' %}

        
 {% block javascripts %}   
{{parent()}}
<script type="text/javascript" src="{{ asset('bundles/siblhmantenimiento/js/BlhFrascoProcesado/new.js') }}" ></script>

{% endblock %}


{% block body -%}
    <h1>Combinacion de frascos</h1>
       {{ form_start(form) }}
       {{ form_errors(form) }}
<table align = "center" width = "70%" border=1 >

<tr>
       <td colspan = "2" align = "right"><b>Pasteurizacion</b></td>
                <td width = "100" align = "left">
                <INPUT type=text STYLE="text-align:center" name="nombre" disabled="disabled" size=35 readonly="readonly" value= "{{ pasteurizacion.codigoPasteurizacion}}">
               </td>
               <td  width = "100" align = "right"><b>Cantidad de frascos</b></td>
               <td width = "100" align = "left">
                <INPUT type=text STYLE="text-align:center" name="nombre" disabled="disabled" size=35 readonly="readonly" value= "{{ pasteurizacion.numFrascosPasteurizados}}">
               </td>
               <td  width = "100" align = "right"><b>Volumen</b></td>
               <td width = "100" align = "left">
                <INPUT type=text STYLE="text-align:center" name="nombre" disabled="disabled" size=35 readonly="readonly" value= "{{ pasteurizacion.volumenPasteurizado}}">
               </td>                        
       </tr>
       
       <tr><td colspan=2 align = "right" height=40  > {{ form_label(form.idPasteurizacion) }} {{ form_widget(form.idPasteurizacion) }}</td></tr>
       
             </table>   
    {#<input type="checkbox" name="option1" value="{{ frasco.id}}">#}
                 {# <td>Volumen&nbsp;disponible</td> #}
                    
 <table border=1>
     <head>
            <tr>
                <td>box</td>
                <td>id</td>
                <td>Código&nbsp;Frasco</td>
                <td>Acidez</td>
                <td>idCalorias</td>
                <td>Calorias</td>
                <td>VolumenRecolectado</td>
                <td>idAgregado</td>
                <td>Agregado</td>
                <td>VolumenDisponible</td>
                <td>Volumen&nbsp;a&nbsp;combinar</td>                
            </tr>
            </head>
            <body>
   {%set frasco = frascos_combinar%}
   {%set caloria = calorias%}
   {%set volumen_agregado=volumen_agregado%}
        {% for i in 0 ..1%}
                <tr>
              <td><input type="checkbox" name="idscombinar[]" id="idscombinar_{{ frasco[i].id}}" value="{{ frasco[i].id}}"/></td>
               <td>{{ frasco[i].id}}</td>
                <td>{{ frasco[i].codigoFrascoRecolectado }}</td>
                <td>{{ frasco[i].resultado }}</td>
                
       
               <td>{{caloria[i].id}}</td>
                <td>{{ caloria[i].kilocalorias }}</td>  
                <td><input id = "vl"  type=text value = "{{ caloria[i].vl }}"/> </td>  
       
               
               <td>{{volumen_agregado[i].id}}</td>
                <td><input type=text value = "{{ volumen_agregado[i].agregado }}"/> </td>  
                 <td><input id= "disponible" type=number value ="{{vldisponible}}"  /> </td>  
      
                <td><input name="vlcombinar[]" id="vlcombinar_{{volumen_agregado[i].id}}" type=text/></td>   
                </tr>
        {% endfor %}
          
        </body>
        
    </table>
    <div id='pagerfrascosCombinar' ></div>    
    
    
   <table align = "center" width = "70%" border=1> 
                 
   
               <tr>
                <td>{{ form_label(form.observacionFrascoProcesado, 'Observaciones del frasco') }}
                {{ form_widget(form.observacionFrascoProcesado) }} </td> 
       </tr>
          
  <tr><td style="visibility:hidden"><INPUT  name="var" id="var" type=text size=10 ></td></tr>      
 <td align= 'center'><INPUT  id='lote' name="agrupar" type=submit title="Combinar frascos" value="Combinar"></td>

</table>
 {{ form_end(form) }}                    
           
{% endblock %}
