{% extends '::base.html.twig' %}

{% block body -%}
    <h1>BlhFrascoProcesado</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Codigofrascoprocesado</th>
                <td>{{ entity.codigoFrascoProcesado }}</td>
            </tr>
            <tr>
                <th>Volumenfrascopasteurizado</th>
                <td>{{ entity.volumenFrascoPasteurizado }}</td>
            </tr>
            <tr>
                <th>Acideztotal</th>
                <td>{{ entity.acidezTotal }}</td>
            </tr>
            <tr>
                <th>Kcaloriastotales</th>
                <td>{{ entity.kcaloriasTotales }}</td>
            </tr>
            <tr>
                <th>Observacionfrascoprocesado</th>
                <td>{{ entity.observacionFrascoProcesado }}</td>
            </tr>
            <tr>
                <th>Volumendisponiblefp</th>
                <td>{{ entity.volumenDisponibleFp }}</td>
            </tr>
            <tr>
                <th>Usuario</th>
                <td>{{ entity.usuario }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('blhfrascoprocesado') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('blhfrascoprocesado_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
