{% extends '::base.html.twig' %}

{% block body -%}
    <h1>BlhOpcionMenu</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Nombreopcion</th>
                <td>{{ entity.nombreOpcion }}</td>
            </tr>
            <tr>
                <th>Urlopcion</th>
                <td>{{ entity.urlOpcion }}</td>
            </tr>
            <tr>
                <th>Usuario</th>
                <td>{{ entity.usuario }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('blhopcionmenu') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('blhopcionmenu_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
