{% extends 'siblhmantenimientoBundle::plantilla.html.twig' %}

{% block javascripts %}
    {{parent()}}
   <script type="text/javascript" src="{{ asset('bundles/siblhmantenimiento/js/BlhDonante/donaciones_Donante.js') }}" ></script>
{% endblock %}
   
{% block body -%}
 <link href="{{asset('bundles/jquery/jquery.jqGrid-4.5.4/css/ui.jqgrid.css')}}" rel="stylesheet"  type="text/css" media="all"/>  
 
 <script type="text/javascript" src="{{asset('bundles/jquery/jquery.jqGrid-4.5.4/js/i18n/grid.locale-es.js')}}"></script>
      <script type="text/javascript" src="{{asset('bundles/jquery/jquery.jqGrid-4.5.4/js/jquery.jqGrid.min.js')}}" ></script> 

   
    <h1>Donantes</h1>
<div align=center>
<table id = "listado_donantes">
        <thead>
            <tr>
                 <th>Codigo</th>
                 <th>Nombre</th>
                 <th>Accion</th>
                
            </tr>
          
        </thead>
      
        <tbody>
         <tbody>
            <tr>
       {% for donantes in donantes%}
                <td>{{ donantes.codigoDonante }}</td> 
                <td>{{ donantes.nombre1 }} {{ donantes.nombre2 }} {{ donantes.apellido1 }} {{ donantes.apellido2 }}</td>
                <td><a href="{{ path('_DDonante',{'report_name':'DonacionesDonante','report_format':'pdf', 'id': donantes.codigoDonante, 'nombre': nombre, 'codigo': id2 })}}"  target="_blank"  id="reporte"> <font color="blue"><u>Donaciones de Donante</u></font> </a></td></tr>
    {% endfor %}
            
        </tbody>   
    </table>
</div>
        <div id='pagerdonantes' ></div>
    {% endblock %}