{% extends 'siblhmantenimientoBundle::plantilla.html.twig' %}

{% block javascripts %}
    {{parent()}}
   <script type="text/javascript" src="{{ asset('bundles/siblhmantenimiento/js/BlhDonante/index.js') }}" ></script>
{% endblock %}
   
{% block body -%}
 <link href="{{asset('bundles/jquery/jquery.jqGrid-4.5.4/css/ui.jqgrid.css')}}" rel="stylesheet"  type="text/css" media="all"/>  
 
 <script type="text/javascript" src="{{asset('bundles/jquery/jquery.jqGrid-4.5.4/js/i18n/grid.locale-es.js')}}"></script>
      <script type="text/javascript" src="{{asset('bundles/jquery/jquery.jqGrid-4.5.4/js/jquery.jqGrid.min.js')}}" ></script> 

 <a href="{{ path('mostrar_reporte',{'report_name':'Prueba','report_format':'pdf'})}}" id="reporte"> Reporte </a>
    <h1>BlhDonante list</h1>

    <table id = "listado_donantes">
        <thead>
            <tr>
                
                <th>Codigo</th>
                <th colspan = "4">Nombre</th>
                <th>Fecha&nbsp;Nacimiento</th>
                <th>Fecha&nbsp;de&nbsp;registro</th>
                <th>Telefono&nbsp;fijo</th>
                <th>Celular</th>
                <th>Direccion</th>
                <th>Procedencia</th>
                <th>Registro</th>
                 <th>Documento&nbsp;de&nbsp;identificacion</th>
                <th>Numero&nbsp;de&nbsp;documento</th>               
                <th>Edad</th>
                <th>Ocupacion</th>
                <th>Estado&nbsp;civil</th>
                <th>Nacionalidad</th>
                <th>Escolaridad</th>
               <th>Tipo&nbsp;de&nbsp;colecta</th>
                <th>Observaciones</th>
                <th>Accion</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.codigoDonante }}</td>
                <td>{{ entity.primerNombre }} {{ entity.segundoNombre }} {{ entity.primerApellido }} {{ entity.segundoApellido }}</td>
                <td>{% if entity.fechaNacimiento %}{{ entity.fechaNacimiento|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if entity.fechaRegistroDonanteBlh %}{{ entity.fechaRegistroDonanteBlh|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.telefonoFijo }}</td>
                <td>{{ entity.telefonoMovil }}</td>
                <td>{{ entity.direccion }}</td>
                <td>{{ entity.procedencia }}</td>
                <td>{{ entity.registro }}</td>
                <td>{{ entity.numeroDocumentoIdentificacion }}</td>
                <td>{{ entity.documentoIdentificacion }}</td>
                <td>{{ entity.edad }}</td>
                <td>{{ entity.ocupacion }}</td>
                <td>{{ entity.estadoCivil }}</td>
                <td>{{ entity.nacionalidad }}</td>
                <td>{{ entity.escolaridad }}</td>
                <td>{{ entity.tipoColecta }}</td>
                <td>{{ entity.observaciones }}</td>
                <td><a href="{{ path('blhdonante_edit', { 'id': entity.id }) }}"><font color="blue"><u>Editar</u></font></a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
<div id='pagerdonantes' ></div>
        
    {% endblock %}
