{% extends 'siblhmantenimientoBundle::plantilla.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
        <link href="{{ asset('bundles/siblhmantenimiento/css/form.css') }}" rel="stylesheet" type="text/css" /> 
{% endblock %}
        
{% block javascripts %}
{{parent()}}
<script type="text/javascript" src="{{ asset('bundles/siblhmantenimiento/js/BlhDonante/new.js') }}" ></script>        
{% endblock %}
 
{% block body -%}
    <h1>Registro de Donante</h1>
    
    {{ form_start(form) }}
    {{ form_errors(form) }}
 
  <table align = "center" width = "87%"  >     
  <tr><td align = "left" > <font color="red">*</font>
        {{ form_label(form.primerNombre) }} {{ form_errors(form.primerNombre) }}</td><td align = "left" >   
        {{ form_widget(form.primerNombre) }} </td><td   align = "left"> 
        {{ form_label(form.segundoNombre) }} {{ form_errors(form.segundoNombre) }}</td><td align = "left" >  
        {{ form_widget(form.segundoNombre) }} </td></tr>
    <tr><td height=10  ></td></tr> 
    <tr><td align = "left"><font color="red">*</font>
        {{ form_label(form.primerApellido) }} {{ form_errors(form.primerApellido) }}</td><td align = "left">    
        {{ form_widget(form.primerApellido) }} </td><td  align = "left"> 
        {{ form_label(form.segundoApellido) }} {{ form_errors(form.segundoApellido) }}</td><td  align = "left">      
        {{ form_widget(form.segundoApellido) }} </td></tr>
    <tr><td height=10  ></td></tr>
      <tr><td align = "left"><font color="red" >*</font> 
        {{ form_label(form.idMunicipio,'Procedencia') }} {{ form_errors(form.idMunicipio) }}</td><td align = "left">
        {{ form_widget(form.idMunicipio,  { 'attr': {'required': 'true'} }) }} </td>
 {#  <tr><td  align = "left">
        {{ form_label(form.procedencia) }} {{ form_errors(form.procedencia) }}</td><td  align = "left"> 
        {{ form_widget(form.procedencia) }} </td> #}       
    <td align = "left"><font color="red">*</font>
        {{ form_label(form.fechaNacimiento) }} {{ form_errors(form.fechaNacimiento) }}</td><td  align = "left"> 
        {{ form_widget(form.fechaNacimiento, {'attr':{'required': 'true', 'readonly': 'true', 'title': 'Dar clic y seleccionar fecha de nacimiento'} }) }} </td></tr>
        <tr><td height=10  ></td></tr>        
   <tr><td align = "left"><font color="red">*</font>
        {{ form_label(form.estadoCivil) }} {{ form_errors(form.estadoCivil) }}</td><td align = "left">
        {{ form_widget(form.estadoCivil) }} </td><td align = "left"> 
        {{ form_label(form.ocupacion) }} {{ form_errors(form.ocupacion) }}</td><td align = "left"> 
        {{ form_widget(form.ocupacion) }} </td></tr>
    <tr><td height=10  ></td></tr>
    <tr><td align = "left"><font color="red">*</font>
        {{ form_label(form.nacionalidad) }} {{ form_errors(form.nacionalidad) }}</td><td align = "left">
        {{ form_widget(form.nacionalidad) }}</td><td align = "left"> 
        {{ form_label(form.escolaridad) }} {{ form_errors(form.escolaridad) }}</td><td align = "left">   
        {{ form_widget(form.escolaridad) }} </td></tr><tr>   <td  align = "left">
        {{ form_label(form.direccion) }} {{ form_errors(form.direccion) }}</td><td colspan = "3" align = "left">
        {{ form_widget(form.direccion,  { 'attr': {'size': '100'} }) }} </td></tr>    
    <tr><td  colspan = "2" align = "left" style="visibility:hidden" height =10>
        {{ form_label(form.idBancoDeLeche, 'Banco de Leche') }} {{ form_errors(form.idBancoDeLeche) }}</td>      
    <td  colspan = "2" align = "left" style="visibility:hidden" height =10> 
        {{ form_widget(form.idBancoDeLeche,  { 'attr': {'required': 'true'} }) }}</td></tr>    
   <tr><td align = "left"><font color="red">*</font>
        {{ form_label(form.documentoIdentificacion) }} {{ form_errors(form.documentoIdentificacion) }}</td><td align = "left">
        {{ form_widget(form.documentoIdentificacion) }}</td>  
   <td align = "left"><font color="red">*</font>
        {{ form_label(form.numeroDocumentoIdentificacion, 'Numero Documento') }} {{ form_errors(form.numeroDocumentoIdentificacion) }}</td><td align = "left">
        {{ form_widget(form.numeroDocumentoIdentificacion) }}</td></tr>
   <tr><td height=10  ></td></tr>
  
   <tr><td align = "left">     
        {{ form_label(form.registro) }} {{ form_errors(form.registro) }}</td><td align = "left">     
        {{ form_widget(form.registro,  { 'attr': {'title': '999999-9999 correlativo-anio'} }) }} </td><td align = "left">
        {{ form_label(form.fechaRegistroDonanteBlh, 'Fecha registro') }} {{ form_errors(form.fechaRegistroDonanteBlh) }}</td><td align = "left">       
        {{ form_widget(form.fechaRegistroDonanteBlh, {'attr':{'readonly': 'true', 'title': 'Dar clic y seleccionar fecha de registro'} }) }} </td></tr>
      <tr><td height=10  ></td></tr>
      <tr><td align = "left" > 
        {{ form_label(form.telefonoFijo) }} {{ form_errors(form.telefonoFijo) }}</td><td align = "left" > 
        {{ form_widget(form.telefonoFijo,  { 'attr': {'title': '9999-9999'} }) }} </td><td align = "left" > 
        {{ form_label(form.telefonoMovil) }} {{ form_errors(form.telefonoMovil) }}</td><td align = "left" >        
        {{ form_widget(form.telefonoMovil,  { 'attr': {'title': '9999-9999'} }) }} </td></tr>
              
      <tr><td align = "left" ><font color="red" >*</font>
        {{ form_label(form.tipoColecta) }} {{ form_errors(form.tipoColecta) }}</td><td align = "left" >
        {{ form_widget(form.tipoColecta) }} </td>         
    <td align = "left" ><font color="red">*</font> 
        {{ form_label(form.observaciones) }} {{ form_errors(form.observaciones) }}</td><td align = "left"  > 
        {{ form_widget(form.observaciones,  { 'attr': {'size': '50'} }) }} </td></tr>
    <tr><td height=10  ></td></tr>   
    <tr><td align = "left" colspan = '4'><font color="red" size = "2" face = "Comic Sans MS">* Campos requeridos</font></td><tr>
    <tr><td colspan = '4' align = 'center'>
    <input type="submit" id= "boton" value="Guardar"/></td></tr>
    </table>
    
    {#<table align = "center">
        <tr><td>
        <a href="{{ path('blhdonante') }}">
            Ver listado</a>
        </td></tr></table> #}
    
{{ form_end(form) }}
{% endblock %}
