{% extends 'siblhmantenimientoBundle::plantilla.html.twig' %}

{% block body -%}
    <h1>BlhLoteAnalisis list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Codigo&nbsp;lote</th>
                <th>Fecha</th>
                <th>Responsable&nbsp;analisis</th>
                <th>Acción</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>                
                <td>{{ entity.codigoLoteAnalisis }}</td>
                <td>{% if entity.fechaAnalisisFisicoQuimico %}{{ entity.fechaAnalisisFisicoQuimico|date('d-m-Y') }}{% endif %}</td>
                <td>{{ entity.responsableAnalisis }}</td>
                <td><a href="{{ path('blhacidez_edit', { 'id': entity.id }) }}"><font color="blue"><u>Asignar Frascos a lote </u></font></a></td>               
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('blhloteanalisis_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}