{% extends 'siblhmantenimientoBundle::plantilla.html.twig' %}

{% block body -%}
    <h1>BlhLoteAnalisis list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Codigoloteanalisis</th>
                <th>Fechaanalisisfisicoquimico</th>
                <th>Responsableanalisis</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('blhloteanalisis_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.codigoLoteAnalisis }}</td>
                <td>{% if entity.fechaAnalisisFisicoQuimico %}{{ entity.fechaAnalisisFisicoQuimico|date('d-m-Y') }}{% endif %}</td>
                <td>{{ entity.responsableAnalisis }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('blhloteanalisis_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('blhloteanalisis_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('blhloteanalisis_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
