{% extends 'siblhmantenimientoBundle::plantilla.html.twig' %}

        
 {% block javascripts %}   
{{parent()}}
<script type="text/javascript" src="{{ asset('bundles/siblhmantenimiento/js/BlhLoteAnalisis/new.js') }}" ></script>

{% endblock %}



{% block body -%}

<link href="{{asset('bundles/jquery/jquery.jqGrid-4.5.4/css/ui.jqgrid.css')}}" rel="stylesheet"  type="text/css" media="all"/>  
<script type="text/javascript" src="{{asset('bundles/jquery/jquery.jqGrid-4.5.4/js/i18n/grid.locale-es.js')}}"></script>
<script type="text/javascript" src="{{asset('bundles/jquery/jquery.jqGrid-4.5.4/js/jquery.jqGrid.min.js')}}" ></script>
    <h1>Registro de lotes a analizar</h1>
       {{ form_start(form) }}
       {{ form_errors(form) }}
<table align = "center" width = "90%">
        <tr><td colspan=2 align = "right" height=40  ></td></tr>
         <tr>
           
             
                <td width =150 align = "center" > 
                {{ form_label(form.codigoLoteAnalisis, 'Código de lote') }}</td>
                <td align='left'>{{ form_widget(form.codigoLoteAnalisis, {'attr':{ 'readonly': 'true','STYLE':"text-align:center"} }) }} </td>                 
           
            

                <td width =200 align = "center"  ><font color="red">*</font>  
                {{ form_label(form.fechaAnalisisFisicoQuimico, 'Fecha análisis' ) }}</td>
                <td align='left'>{{ form_widget(form.fechaAnalisisFisicoQuimico, {'attr':{ 'readonly': 'true', 'title': 'Dar clic y seleccionar la fecha de registro' } }) }} </td>
                 <td align = "right"><font color="red" >*</font><b><font face="Verdana,Arial,Helvetica,sans-serif" ><i>Responsable</i></font></b></td>      
                <td> <select name="responsable" id = "responsable" > 
        <option value= ""></option>
        {% for responsable in responsable%}        
        <option value= "{{ responsable.nombre }}">{{ responsable.nombre }} </option>
          {% endfor %}</select> </td> </tr>
     
             
               <tr style="visibility:hidden"> <td width =150 align = "center" ><font color="red">*</font>  
                {{ form_label(form.responsableAnalisis, 'Responsable') }}</td>
                <td align='left'>{{ form_widget(form.responsableAnalisis,  { 'attr': {'size': '30' } }) }} </td></tr>
                
                <tr><td colspan=2 align = "right" height=40  ></td></tr>
            </table>
    
        
          
<div align=center>
<table id="frascosLote">
        <thead>
            <tr>
                <th>id</th>
                <th>Código</th>
                <th>Volumen(ml)</th>
                <th>Volumen(onz)</th>
                <th>Fecha&nbsp;Extracción</th>          
            </tr>
        </thead>
        <tbody>
        {% for frasco in frascos %}
            <tr>
               <td>{{ frasco.id}}</td>
                <td>{{ frasco.codigoFrascoRecolectado }}</td>
                <td>{{ frasco.volumenRecolectado }}</td>
                <td>{{ frasco.onzRecolectado }}</td>
                <td>{{ frasco.fecha|date('Y-m-d')  }}</td>                
            </tr>
        {% endfor %}
        </tbody>
    </table>
        </div>
    {#<div id='pagerfrascosLote' ></div>   #}
      
 <table align = "center" width = "90%"  >
 <tr><td colspan=2 align = "left" height=40  ><font color="red" face = "Comic Sans MS">* Campos Requeridos</font></td>
 </tr>   
 <tr><td align= 'center'><INPUT  id='auto' name="agrupar_automatica"  value="Lote automático"></td></tr>
  <tr><td colspan=2 align = "right" height=10  ></td></tr>
 <tr><td align= 'center'><INPUT  id='lote' name="agrupar" type=submit  value="Guardar"></td></tr>
 <td style="visibility:hidden"><INPUT  name="var" id="var" type=text size=10 ></td>
</table>  
 {{ form_end(form) }}
      
{% endblock %}
