{% extends 'siblhmantenimientoBundle::plantilla.html.twig' %}

{% block body -%}
    <h1>BlhLoteAnalisis</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Codigoloteanalisis</th>
                <td>{{ entity.codigoLoteAnalisis }}</td>
            </tr>
            <tr>
                <th>Fechaanalisisfisicoquimico</th>
                <td>{{ entity.fechaAnalisisFisicoQuimico|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Responsableanalisis</th>
                <td>{{ entity.responsableAnalisis }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('blhloteanalisis') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('blhloteanalisis_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
