{% extends 'siblhmantenimientoBundle::plantilla.html.twig' %}

{% block javascripts %}
    {{parent()}}
    <script type="text/javascript" src="{{ asset('bundles/siblhmantenimiento/js/BlhAnalisisSensorial/frascosAnalisisSensorial.js') }}" ></script>
{% endblock %}

{% block body -%}
     <link href="{{asset('bundles/jquery/jquery.jqGrid-4.5.4/css/ui.jqgrid.css')}}" rel="stylesheet"  type="text/css" media="all"/>  
     <script type="text/javascript" src="{{asset('bundles/jquery/jquery.jqGrid-4.5.4/js/i18n/grid.locale-es.js')}}"></script>
      <script type="text/javascript" src="{{asset('bundles/jquery/jquery.jqGrid-4.5.4/js/jquery.jqGrid.min.js')}}" ></script>
    
    <h1>Listado de frascos para analisis sensorial</h1>
    <div align='center'>
    <table id="listado_frascosAnalisis">
        <thead>
            <tr>          
                <th>Código</th>
                <th>Volumen(ml)</th>
                <th>Volumen(onz)</th>
                <th>Forma&nbsp;Extracción</th>         
                <th>Acción</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.codigoFrascoRecolectado }}</td>
                <td>{{ entity.volumenRecolectado|number_format(2, '.', ',') }}</td>
                <td>{{ entity.onzRecolectado|number_format(2, '.', ',') }}</td>
                <td>{{ entity.formaExtraccion }}</td>                
                <td><a href="{{ path('blhanalisissensorial_new', { 'id': entity.id }) }}"><font color="blue"><u>Analisis Sensorial</u></font></a></td>                
            </tr>
        {% endfor %}
        </tbody>
    </table>
            </div>
    <div id='pagerFrascosAnalisis' ></div>

  
    {% endblock %}
