{% extends  'siblhmantenimientoBundle::plantilla.html.twig'%}

{% block body -%}
    <h1>Listado de analisis </h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Embalaje</th>
                <th>Suciedad</th>
                <th>Color</th>
                <th>Olor</th>
                <th>Observacion</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.embalaje }}</td>
                <td>{{ entity.suciedad }}</td>
                <td>{{ entity.color }}</td>
                <td>{{ entity.flavor }}</td>
                <td>{{ entity.observacion }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('blhanalisissensorial_edit', { 'id': entity.id }) }}">Editar</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    
    {% endblock %}
