{% extends  'siblhmantenimientoBundle::plantilla.html.twig'%}

{% block body -%}
    <h1>Analisis sensorial registrado</h1>

    <table class="record_properties" align='center'>
        <tbody>
            <tr>
                <th>Embalaje</th>
                <td>{{ entity.embalaje }}</td>
            </tr>
            <tr>
                <th>Suciedad</th>
                <td>{{ entity.suciedad }}</td>
            </tr>
            <tr>
                <th>Color</th>
                <td>{{ entity.color }}</td>
            </tr>
            <tr>
                <th>Olor</th>
                <td>{{ entity.flavor }}</td>
            </tr>
            <tr>
                <th>Observacion</th>
                <td>{{ entity.observacion }}</td>
            </tr>
        </tbody>
    </table>
        
    <p><a href="{{ path('blhanalisissensorial') }}">
            Nuevo analisis sensorial
        </a><p>
    
        <a href="{{ path('blhanalisissensorial_edit', { 'id': entity.id }) }}">
            Editar
        </a>
{% endblock %}
